// ----------------------------------------------------------------
//		Basic Styling: Media Elements
// ----------------------------------------------------------------

// If an image doesn't load, make the alt text noticable
img{color:$c-Required; font-style:italic}

// Make sure these guys don't extend beyond their parent containers
audio, img, object, embed, video{max-width:100%}

// Give HTML5 elements inline-block display, which is also not defined in ie8/9
audio, canvas, video{display:inline-block}

// Prevents browsers from displaying 'audio' w/out controls and fixes height for iOS 5
audio:not([controls]){display:none; height:0}

// Corrects overflow issue in IE9
svg:not(:root){overflow:hidden}
