// -----------------------------------------------------------------------
// Temporary project-specific fixes that have not found a better home yet.
// -----------------------------------------------------------------------

#file_criteria li {
  padding-bottom: 20px;
}

.scroll-Admin{
  background:rgba(255,255,255,.4);
  border:1px solid #ccc;
  max-height:400px;
  overflow:auto;
}
