<section class="section tutorial">  
  <div class="row">
    <div class="col col-60 lesson">
      <h1>Chapter 1</h1>
      <h2 class="subtitle">Page 2/10</h2>
      <div class="comic" style="height: 500px">
        <div class="dialogue">
          All you need to build your first site is a computer language called HTML.
        </div>
        <div class="dialogue">
          And here's some HTML, right in this box! Let's make a change. Replace Hello World with Victoria's Website, and click save!
        </div>
        <div class="dialogue">
          You'll see the results of your site here.
        </div>
        <div class="dialogue">
          Make sure to check the green boxes below for important bonus info!
        </div>
      </div>
      
      <div class="welcome">
        <h4>Opening and Closing Tags</h4>
        <p>HTML is just a bunch of tags. There's usually an opening tag and a closing tag, with content between them like this:</p>

        <pre>tag Content visible on your site /tag</pre>

        <p>Don't worry if this seems confusing - you'll get the hang of it after a few more examples! If you ever get stuck, click the <strong>Help</strong> link below.</p>
      </div>
    </div>
    
    <div class="col col-40 interact">
      <input class="btn btn-action" type="submit" value="Save">
      <h3>HTML</h3>
      <textarea class="editor">
<html>
  <body>

    Hello World!
  
  </body>
</html>
      </textarea>
      
      <h3>Site Preview</h3>
      <div class="preview">
      </div>
    </div>
  </div>
</section>