<h2>Site Profile</h2>
<div>
  <form method="POST" action="/settings/profile">
    <%== csrf_token_input_html %>
    <p>
      <input name="site[profile_comments_enabled]" type="hidden" value="true">
      <input name="site[profile_comments_enabled]" type="checkbox" value="false"
        <% if current_site.profile_comments_enabled == false %>checked<% end %>
      > Turn off profile comments
    </p>

    <input class="btn-Action" type="submit" value="Update Site Profile Settings">
  </form>
</div>