<section class="footer-Intro">
  <div class="footer-Content">
  <div class="row">
    <div class="col col-33">
      <div class="f-Col f-Col-1 clearfix">
        <h2 class="delta">Support Us</h2>
        <p class="tiny">
          Neocities is funded by donations. If you’d like to contribute, you can help us 
          pay our server costs using <a href="#!" title="donate with Bitcoin">Bitcoin</a> 
          or <a href="#!" title="donate with PayPal">PayPal</a>.
        </p>
        <a href="#!" title="donate to Neocities" class="action-Link">Donate Today</a>
      </div>
    </div>
    <div class="col col-33">
      <div class="f-Col f-Col-2 clearfix">
        <h2 class="delta">About Neocities</h2>
        <p class="tiny">
          Neocities is here to bring back the creativity and 
          free expression to the world wide web that made it great.
        </p>
        <a href="#!" title="more about Neocities" class="action-Link">More About Us</a>
      </div>
    </div>
    <div class="col col-33">
      <div class="f-Col f-Col-3 clearfix">
        <h2 class="delta">Latest News</h2>
        <p class="tiny">
          derp
        </p>
        <a href="#!" title="read about Neocities news and updates" class="action-Link">Read More News</a>
      </div>
    </div>
  </div>
  </div>
</section>

<aside class="footer-Outro">
  <div class="footer-Content">
  <div class="row">
    <p class="tiny col col-60 credits">
      <a href="index" title="NeoCities.org">Neocities.org</a> is an open source
      project led by <a href="http://kyledrake.net/" title="learn about Kyle Drake">Kyle Drake</a>.
      Fork us on <a href="https://github.com/kyledrake/neocities-web" title="Neocities on GitHub">GitHub</a>.
    </p>
    
    <nav class="footer-Nav col col-40">
      <ul class="tiny h-Nav">
        <li><a href="api" title="Neocities API">API</a></li>
        <li><a href="terms" title="Neocities Terms of Use" rel="nofollow">Terms</a></li>
        <li><a href="privacy" title="Neocities Privacy Policy" rel="nofollow">Privacy</a></li>
        <li><a href="contact" title="Contact Us" rel="nofollow">Contact</a></li>
      </ul>
    </nav>
  </div>
  </div>
</aside>
