<div class="logo int-Logo hp-Logo">
  <a href="/" title="back to home">
    <span class="hidden">NeoCities.org</span>
    <img src="/assets/img/cat.png" alt="Neocities.org" />
  </a>
</div>

<section class="header-Intro">
  <h1 class="logo header-Content">
    <span class="hidden">NeoCities.org</span>
    <img src="/assets/img/neocities-Logo.png" alt="Neocities.org" />
  </h1>
</section>

<div class="header-Outro">

  <div class="row header-Content">
  
    <ul class="col col-50 intro-List">
      <li class="intro-Tools">
        <span class="intro-Icon"></span>
        <h2 class="delta">Create your own free website</h2>
        <p class="tiny">
          You get 10 MB of space to make whatever you’d like with HTML, CSS, JS, IMG, TXT, and MD files. 
        </p>
      </li>
      <li class="intro-Question">
        <span class="intro-Icon"></span>
        <h2 class="delta">Don't know how to code?</h2>
        <p class="tiny">
          Coming soon: Coding tutorials that anyone can follow!
        </p>
      </li>
    </ul>
    
    <div class="col col-50 signup-Area">
    
      <form action="#" method="post" class="signup-Form">
        <fieldset class="content">
          <h2 class="gamma">Get Started Now</h2>
          <hr />
          <input type="text" class="input-Area" id="create-Input" name="username" placeholder="website name" />
          <label for="create-Input">.neocities.org</label>
          <input type="submit" value="Create My Website" class="btn-Action float-Right" />
        </fieldset>
      </form>
      
    </div> <!-- end .col-50 -->
    
  </div> <!-- end .row -->

</div> <!-- end .header-Outro -->
