<nav class="header-Nav clearfix" role="navigation">
  <a href="#!" title="show small screen nav" class="small-Nav">
    <img src="assets/img/nav-Icon.png" alt="navigation icon" />
  </a>
  <ul class="h-Nav constant-Nav">
    <li>
      <a href="index" title="back to the start">NeoCities</a>
    </li>
    <li>
      <a href="browse" title="Browse NeoCities member websites">Browse</a>
    </li>
    <li>
      <a href="tutorials" title="Learn to code with these tutorials">Tutorials</a>
    </li>
    <li>
      <a href="about" title="About NeoCities">About</a>
    </li>
  </ul>
  
  <ul class="status-Nav">
    <li>
      <a href="#!" class="sign-In" title="Sign into your account">Sign In</a>
    </li>
  </ul>
  
</nav>
