*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
public/sites
# YARD artifacts
.yardoc
_yardoc
doc/
tests/coverage
config.yml
.DS_Store
domains
public/sites_test
