development:
  database: 'postgres://neocities@127.0.0.1/neocities'
  database_pool: 1
  session_secret: SECRET GOES HERE
  recaptcha_public_key: ENTER PUBLIC KEY HERE
  recaptcha_private_key: ENTER PRIVATE KEY HERE
  phantomjs_url:
    - http://localhost:8910