<style>
  h3 { margin-top: 20px; }
</style>

<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Bitcoin</h1>
  <h3 class="subtitle">Yes, Neocities accepts Bitcoin!</h3>
  </div>
</div>

<div class="content single-Col misc-page txt-Center">
  <article>
    <section>
        <h2>The Bitcoin Lifer Plan</h2>

        <p>
          We don't have a good way to charge recurring with Bitcoin (that adheres to Bitcoin's distributed principles). So instead, we've put together a special <strong>Bitcoin Lifer Plan</strong>. Basically, if you send us <strong>$100</strong> worth of BTC at current market price, we'll never charge you again for the supporter upgrade, and you'll basically get it forever!
        </p>
        <p>Be sure to <a href="/contact">contact us</a> after sending with the transaction ID so we can confirm and upgrade your account.</p>

        <p>
          We generally hold Bitcoin. Many of our vendors accept Bitcoin, and we often use it to pay them.
        </p>

        <p><b>3HPuhRTz4fMyMRaLFHEQ5E2rrxGic8CXJQ</b></p>
      </section>
  </article>
</div> <!-- end .content -->
