<aside class="footer-Outro">
  <div class="footer-Content">

    <div class="row">
      <p class="tiny col col-60 credits">
        <a href="http://neocities.org" title="Neocities.org" style="text-decoration:none;">Neocities.org</a> is a <a href="https://github.com/neocities" title="Neocities on GitHub">completely open source</a> project. Follow us on <a href="https://twitter.com/neocitiesweb">Twitter</a> or <a href="https://www.facebook.com/neocities">Facebook</a>!
      </p>

      <nav class="footer-Nav col col-40">
        <ul class="tiny h-Nav">
          <li><a href="/about">About</a></li>
          <li><a href="/donate">Donate</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/press">Press</a></li>
          <li><a href="/terms" rel="nofollow">Terms</a></li>
          <li><a href="/privacy" rel="nofollow">Privacy</a></li>
          <li><a href="/contact" rel="nofollow">Contact</a></li>
        </ul>
      </nav>
    </div> <!-- end .row -->

  </div>
</aside>