<aside class="footer-Outro">
  <div class="footer-Content">

    <div class="row">
      <p class="tiny col col-60 credits">
        <a href="http://neocities.org" title="Neocities.org">Neocities.org</a> is a <a href="https://github.com/neocities" title="Neocities on GitHub" style="text-decoration: underline">completely open source</a> project. <a href="https://twitter.com/neocitiesweb" style="text-decoration: underline">Follow us on twitter</a>.
      </p>

      <nav class="footer-Nav col col-40">
        <ul class="tiny h-Nav">
          <li><a href="/blog" title="Neocities API">Blog</a></li>
          <li><a href="/api" title="Neocities API">API</a></li>
          <li><a href="/terms" title="Neocities Terms of Use" rel="nofollow">Terms</a></li>
          <li><a href="/privacy" title="Neocities Privacy Policy" rel="nofollow">Privacy</a></li>
          <li><a href="/contact" title="Contact Us" rel="nofollow">Contact</a></li>
        </ul>
      </nav>
    </div> <!-- end .row -->

  </div>
</aside>