<% if (request.path == '/'  && !signed_in?) || request.path == '/education' %>
  <li>
    <a href="/">Neocities</a>
  </li>
<% end %>
  <li>
    <a href="/browse">Websites</a>
  </li>
  <% unless is_education? %>
  <li>
    <a href="/activity">Activity</a>
  </li>
  <% end %>
  <li>
    <a href="/tutorials">Learn</a>
  </li>
  <% unless is_education? %>
  <li>
    <a href="https://www.kickstarter.com/projects/1262953102/neocities-30-an-interactive-html-css-course-for-ev">Support Our Kickstarter<i class="fa fa-heart"><i class="fa fa-heart"></i></i></a>
  </li>
  <% end %>
