<% if request.path == '/' %>
  <li>
    <a href="/">Neocities</a>
  </li>
<% end %>
  <li>
    <a href="/browse">Websites</a>
  </li>
  <li>
    <a href="/activity">Activity</a>
  </li>
  <li>
    <a href="/about">About</a>
  </li>
  <li>
    <a href="/tutorials">Tutorials</a>
  </li>
  <li>
    <a href="/api">API</a>
  </li>
  <li>
    <a href="/plan">Support Us<i class="fa fa-heart"><i class="fa fa-heart"></i></i></a>
  </li>
