<footer class="footer-Base">

<aside class="footer-Outro">
  <div class="footer-Content">
  <div class="row">
    <p class="tiny col col-60 credits">
      <a href="http://neocities.org" title="NeoCities.org">Neocities.org</a> is an open source
      project led by <a href="http://kyledrake.neocities.org" title="learn about Kyle Drake">Kyle Drake</a>.
      Fork us on <a href="https://github.com/kyledrake/neocities-web" title="Neocities on GitHub">GitHub</a>.
    </p>
    
    <nav class="footer-Nav col col-40">
      <ul class="tiny h-Nav">
        <!-- <li><a href="api" title="Neocities API">API</a></li> -->
        <li><a href="terms" title="Neocities Terms of Use" rel="nofollow">Terms</a></li>
        <li><a href="privacy" title="Neocities Privacy Policy" rel="nofollow">Privacy</a></li>
        <li><a href="contact" title="Contact Us" rel="nofollow">Contact</a></li>
      </ul>
    </nav>
  </div>
  </div>
</aside>

      </footer>