<div class="news-item comment for-me">
  <div class="title">
    <div class="icon" style="background-image:url(https://neocities.org/site_screenshots/codeventurer.jpg);"></div>
    <a href="" class="user">Foo</a> 
    <span class="date"><%= event.profile_comment.created_at.ago %></span>
    <div class="comment"><%= event.profile_comment.message %></div>
  </div>
</div>