<% events.each do |event| %>
  <% if event.profile_comment_id %>
    <%== erb :'_news_profile_comment', layout: false, locals: {profile_comment: event.profile_comment} %>
  <% end %>
<% end %>

<!--
    <div class="news-item follow">
      <div class="title">
        <div class="icon"></div>
        <a href="" class="user">Derp</a> followed <a href="" class="user">Foo's</a> website<span class="date">7h</span>
      </div>
    </div>
    
    <div class="news-item tip">
      <div class="title">
        <div class="icon"></div>
        <a href="" class="user">Derp</a> tipped <a href="" class="user">Foo's</a> website: <a href="" class="comment">Wow, great work here! Please keep updating :)</a><span class="date">Apr 23</span>
      </div>
    </div>
    
    <div class="news-item comment">
      <div class="title">
        <div class="icon"></div>
        <a href="" class="user">Derp</a> commented on <a href="" class="user">victoria's</a> website: <a href="" class="comment">I had a question - how did you make it so that the...</a>
        <span class="date">Apr 20</span>
      </div>
    </div>
    
    <div class="news-item follow">
      <div class="title">
        <div class="icon"></div>
        <a href="" class="user">Derp</a> followed <a href="" class="user">victoria's</a> website<span class="date">Apr 7</span>
      </div>
    </div>
    
    <div class="news-item update">
      <div class="title">
        <div class="icon"></div>
        <a href="" class="user">Derp</a> made an update <span class="date">Apr 7</span>
      </div>
      <div class="content">
        <div class="files">
          <div class="file">
            <div class="html-thumbnail misc"><a href=""><span class="misc-icon">css</span><span class="title">styles.css</span></a></div>
          </div>
          <div class="file">
            <div class="html-thumbnail html"><a href=""><img src="http://neocities.org/site_screenshots/codeventurer.jpg"><span class="title">styles.css</span></a></div>
          </div>
          <div class="file">
            <div class="html-thumbnail misc"><a href=""><span class="misc-icon">js</span><span class="title">styles.css</span></a></div>
          </div>
          <div class="file">
            <div class="html-thumbnail image"><a href=""><img src="/site_thumbnails/victoria/constructioncat2.png.105x63.png"><span class="title">cat.jpg</span></a></div>
          </div>
          <div class="file">
            <div class="html-thumbnail misc"><a href=""><span class="misc-icon">js</span><span class="title">styles.css</span></a></div>
          </div>
        </div>
        <div class="actions"><a href="">Like (1)</a> <a href="">Reply</a></div>
      </div>
    </div>
    
    <div class="news-item comment for-me">
      <div class="title">
        <div class="icon" style="background-image:url(https://neocities.org/site_screenshots/codeventurer.jpg);"></div>
        <a href="" class="user">Foo</a> 
        <span class="date">Apr 7</span>
        <div class="comment">Your site is amazing. Very helpful information. Would love to see more updates if you have time. Your site is amazing. Very helpful information. Would love to see more updates if you have time. </div>
      </div>
      <div class="content">
        <div class="actions"><a href="">Like (1)</a> <a href="">Reply</a></div>
        <div class="comments">
          <div class="comment">
            <img class="avatar" src="https://neocities.org/site_screenshots/victoria.jpg">
            <a href="" class="user">victoria</a> Indeed, it's great!<span class="date">Apr 7</span>
            <div class="actions"><a href="">Like (1)</a></div>
          </div>  
        </div>
      </div>
    </div>
    
    <div class="news-item comment">
      <div class="title">
        <div class="icon"></div>
        <a href="" class="user">Derp</a> commented on <a href="" class="user">Foo's</a> website: <a href="" class="comment">I had a question - how did you make it so that the...</a>
        <span class="date">Apr 7</span>
      </div>
    </div>
    
    <div class="news-item tip for-me">
      <div class="title">
        <div class="icon" style="background-image:url(https://neocities.org/site_screenshots/victoria.jpg);"></div>
        <a href="" class="user">victoria</a> tipped .01 BTC
        <span class="date">Apr 7</span>
        <div class="comment">Hey, this looks great!</div>
      </div>
      <div class="content">
        <div class="actions"><a href="">Like (1)</a> <a href="">Reply</a></div>
      </div>
    </div>
-->