<div id="comment-template" style="display: none">
  <form onsubmit="Comment.create({{ eventId }}, '<%= csrf_token %>', this); return false">
    <textarea name="comment" autocomplete="off" maxlength="<%= Site::MAX_COMMENT_SIZE %>" rows="3" style="width: 100%" placeholder="Comment on this..."></textarea>
    <button class="btn-Action">Post</button>
  </form>
</div>

<div id="comment-edit-template" style="display: none">
  <form class="profile-comment-editor" onsubmit="ProfileComment.update({{ eventId }}, '<%= csrf_token %>'); return false">
    <textarea rows="3" maxlength="<%= Site::MAX_COMMENT_SIZE %>">{{ content }}</textarea>
    <div class="profile-comment-editor-actions">
      <button class="btn-Action">Save</button>
      <a href="#" onclick="ProfileComment.cancelEditor({{ eventId }}); return false">Cancel</a>
    </div>
  </form>
</div>
