<hr />
<section>
  <h1 class="beta txt-Center">The Neocities Team</h1>

  <div class="row txt-Center">
    <div class="col col-33">
      <a href="https://kyledrake.neocities.org" title="Visit Kyle's Website">
        <img src="https://0.gravatar.com/avatar/62a43048a3c2c688654274abdc0ecb9c?d=https%3A%2F%2Fidenticons.github.com%2Ffde07ba82b25f95afa9d080819f95717.png&amp;r=x&amp;s=440" alt="kyle drake" class="pic-Rounded" />
      </a>
      <br />
      <a href="https://kyledrake.neocities.org" title="Kyle Drake" class="eps">Kyle Drake</a>
    </div>
    <div class="col col-33">
      <a href="https://victoria.neocities.org" title="Visit Victoria's Website">
        <img src="https://1.gravatar.com/avatar/2b577f8b3e5ab79bc927ed5185c0eae0?d=https%3A%2F%2Fidenticons.github.com%2Fe03006819f4a835afa237716f6701c95.png&amp;r=x&amp;s=440" alt="Victoria Wang" class="pic-Rounded" />
      </a>
      <br />
      <a href="https://victoria.neocities.org" title="Visit Victoria's Website" class="eps">Victoria Wang</a>
    </div>
    <div class="col col-33">
      <a href="http://scottohara.neocities.org" title="Visit Scott's Website">
        <img src="https://0.gravatar.com/avatar/6ade16e6184b3efb573ee91255ff7abe?d=https%3A%2F%2Fidenticons.github.com%2Fa6362986538cdcb93a8b04f6c3f66b5e.png&amp;r=x&amp;s=440" alt="Scott O'Hara" class="pic-Rounded" />
      </a>
      <br />
      <a href="http://scottohara.neocities.org" title="Visit Scott's Website" class="eps">Scott O'Hara</a>
    </div>
  </div>
</section>

<hr />
<section>
  <h2 class="txt-Center"><a href="https://twitter.com/neocitiesweb">Follow us on Twitter</a></h2>
</section>