<div class="header-Outro">
  <div class="row content single-Col">
  <h1>About Neocities</h1>
  <h2 class="subtitle">Your free web page is waiting&#8230; once again.</h2>
  </div>
</div>

<div class="content single-Col misc-page">
  <article role="article">
    <h1>Since 2013, Neocities has been bringing back the fun, creativity and independence that made the web great.</h1>

    <p>
      We are tired of living in an online world where people are isolated from each other on boring, generic social networks that don't let us truly express ourselves. It's time we took back our personalities from these sterilized, lifeless, monetized, data mined, monitored addiction machines and let our creativity flourish again.
    </p>

    <p>
      That's where Neocities comes in. We provide a canvas for you to make any web site you want.
      Whether it's about something you're good at, something you love, something you want to criticize, or your own completely customized profile where they can introduce yourself in a way that actually matters to you.
    </p>
    <p>
      <strong>Our goal: to enable you to harness the creativity, beauty, and power of creating your own web site. To rebuild the web we lost to algorithms and monotony, and make it as fun and creative as it was back in the 90s.</strong>
    </p>
    <p>
      We strongly believe that, with your help, we're going to continue to shake things up on the web. Thank you for believing in us (and yourself).
    </p>
    <p>
      Long Live the Web!
    </p>
    <p>
      PS: What are you waiting for? <strong><a href="/#new">Go make your web site!</a></strong>
    </p>
    <h1>Neocities is:</h1>
    <ul>
      <li><strong>Helping the web.</strong> We are here to empower people to develop independent, creative sites.</li>
      <li><strong>Free.</strong> We will always have a free web site option.</li>
      <li><strong>Open source.</strong> Neocities believes in <a href="https://github.com/neocities">open source</a>, and we share code back with the community.</li>
      <li><strong>Not an advertising company.</strong> We'll never put ads or watermarks on sites, and we'll never sell your data to marketers or AI companies.</li>
      <li><strong>Anti lock-in.</strong> Easy site downloading, and support for custom domains.</li>
      <li><strong>Sustainable.</strong> We want to grow, but that growth cannot risk the site (or compromise our principles).</li>
    </ul>

    <p style="margin-top:20px">
      If you share our values, we would love your support. Spread the word! We also have a <a href="/supporter">supporter plan</a> to help pay for the site, and we accept <a href="/donate">donations</a> through multiple options.
    </p>
  </article>
</div>
