<div class="header-Outro">
  <div class="row content single-Col">
  <h1>About Neocities</h1>
  <h3 class="subtitle">Your free web page is waiting&#8230; once again.</h3>
  </div>
</div>

<div class="content single-Col misc-page">
  <article>
    <h1>Neocities is bringing back the fun, creativity and independence that made the web great.</h1>

    <p>
      We are tired of living in an online world where people are isolated from each other on boring web sites with generic templates defining what people are
      supposed to know or communicate with each other. It's time we took back our personalities from these sterilized, lifeless,
      monetized, data mined, monitored entities and let our creativity flourish again.
    </p>

    <p>
      That's where Neocities comes in. We provide a canvas for people to make any web site they want.
      Whether it be a web site about something they're good at, something they love, something they hate, or
      their own completely customized profile where they can introduce themselves in a way that actually matters to them. 
      We can do this without selling out to the marketing industry, and we're going to prove it.
    </p>
    <p>
      It's a tough project. We've got big problems to solve (restrained from easier solutions by our principles), and big ambitions. We have a lot of work to do. <strong>But our goal is clear: to enable you to harness the creativity, beauty, and power of creating your own web site. To rebuild the web we lost to monotony, and make it fun again.</strong>
    </p>
    <p>
      Neocities is just getting started, and we've got a lot of amazing things in store. I strongly believe that, with your help, we're really going to shake things up on the web. Thank you for believing in us (and yourselves).
    </p>
    <p>
      Long Live the Web!
    </p>
    <p>
      What are you waiting for? <strong><a href="/#new">Go make your web site!</a></strong>
    </p>
    <h1>Neocities is:</h1>
    <ul>
      <li><strong>Helping the web.</strong> We are here to empower people to develop independent, creative sites.</li>
      <li><strong>Free.</strong> We will always have a free web site option.</li>
      <li><strong>Open source.</strong> Neocities.org is <a href="https://github.com/neocities">completely open source</a>, and we share code back with the community.</li>
      <li><strong>A no-ad zone.</strong> We'll never put ads or watermarks on sites, and we don't sell user data to marketers.</li>
      <li><strong>Anti lock-in.</strong> Redirecting to new sites, easy site downloading, and support for custom domains.</li>
      <li><strong>Sustainable.</strong> We want to grow, but that growth cannot risk the site (or compromise our principles).</li>
    </ul>
    
    <p style="margin-top:20px">
      If you share our values, we would love your support. Spread the word! We also have a <a href="/plan">supporter plan</a> to help pay for the site, and we accept <a href="/donate">donations</a> through multiple options (including Bitcoin... and Dogecoin).
    </p>
  </article>
  <%== erb :'_team', layout: false %>
</div>
