<div class="header-Outro">
  <div class="row content single-Col">
  <h1>About Neocities</h1>
  <h3 class="subtitle">Neocities wants to make the web creative and fun again.</h3>
  </div>
</div>

<div class="content single-Col misc-page">
  <h3></h3>
  <blockquote class="twitter-tweet">
    <p>I want to make another Geocities. Free web hosting, static HTML only, 10MB limit, anonymous, uncensored.</p>&mdash; Kyle Drake (@kyledrake)
    <a href="https://twitter.com/kyledrake/statuses/337706291801763841">May 23, 2013</a>
  </blockquote>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <article>
    <h6>Neocities is bringing back the creativity and free expression that made the web great.</h6>

    <p>
      We are tired of living in an online world where people are isolated from each other in
      boring social networks, generic templates which define what people are
      supposed to know or communicate with each other. It's time we took back our personalities from these sterilized, lifeless,
      monetized, monitored entities and let our creativity flourish again.
    </p>

    <p>
      That's where Neocities comes in. We provide a canvas for people to make any web site they want.
      Whether it be a web site about something they're good at, something they love, something they hate, or
      their own custom "Profile" where they can introduce themselves in a way that actually matters to them. 
      And we can do this without selling out to the marketing industry.
    </p>
    <p>
      It's a big project (to make small sites), and we have a lot of work to do.
    </p>
    <p>
      Neocities is just getting started, and we've got a lot of amazing things in store. Thanks for believing in us. We'll try very hard to not let you down.
    </p>
    <p>
      Love,
    </p>
    <p>
      -Kyle
    </p>
    <p>
      PS: What are you waiting for? <a href="/new">Go make your web site!</a>
    </p>
  </article>
  <hr />
  <section>
  <h3 class="beta">Contributors:</h3>

  <div class="row txt-Center">
    <div class="col col-33">
      <a href="http://t.co/vmyU09oYC7" title="Visit Kyle's Website">
        <img src="https://0.gravatar.com/avatar/62a43048a3c2c688654274abdc0ecb9c?d=https%3A%2F%2Fidenticons.github.com%2Ffde07ba82b25f95afa9d080819f95717.png&amp;r=x&amp;s=440" alt="kyle drake" class="pic-Rounded" />
      </a>
      <br />
      <a href="https://twitter.com/kyledrake" title="Follow me on Twitter" class="eps">Kyle Drake</a>
    </div>
    <div class="col col-33">
      <a href="http://t.co/e1x1XoD2qi" title="Visit Victoria's Website">
        <img src="https://1.gravatar.com/avatar/2b577f8b3e5ab79bc927ed5185c0eae0?d=https%3A%2F%2Fidenticons.github.com%2Fe03006819f4a835afa237716f6701c95.png&amp;r=x&amp;s=440" alt="Victoria Wang" class="pic-Rounded" />
      </a>
      <br />
      <a href="https://twitter.com/violasong" title="Follow me on Twitter" class="eps">Victoria Wang</a>
    </div>
    <div class="col col-33">
      <a href="http://scottohara.me/" title="Visit Scott's Website">
        <img src="https://0.gravatar.com/avatar/6ade16e6184b3efb573ee91255ff7abe?d=https%3A%2F%2Fidenticons.github.com%2Fa6362986538cdcb93a8b04f6c3f66b5e.png&amp;r=x&amp;s=440" alt="Scott O'Hara" class="pic-Rounded" />
      </a>
      <br />
      <a href="https://twitter.com/scottohara" title="Follow me on Twitter" class="eps">Scott O'Hara</a>
    </div>
  </div>

  </section>

</div> <!-- end .content -->
