<div class="header-Outro">
  <div class="row content single-Col">
    <h1>Latest Activity on Neocities</h1>
  </div>
</div>
<div style="margin-left:auto; margin-right:auto; max-width:800px;">
  <div class="content single-Col misc-page clearfix">
      <% if !signed_in? %>
      <div class="welcome">
        <h4>All the latest Neocities site news!</h4>
        <p>
          Neocities allows anyone to create a free web site to express themselves. Want to create your own awesome site? <a href="/#new">Join us!</a>
        </p>
      </div>
    <% end %>

    <%== erb :'_news', locals: {current_site: nil, events: @events} %>
  </div>
</div>
