<div class="content single-Col">

  <h2 class="alpha">Neocities Developers API</h2>

  <p><img src="/assets/img/cat-larger.png"></p>

  <p>
    <strong>Our Developers API allows you to make changes to your site remotely with programming languages!</strong>
  </p>
  <h3>Ideas</h3>
  <p>
    <ul>
      <li>Create your own blog, and use a script to add new blog posts.</li>
      <li>Integrate external HTML editors / upload tools.</li>
      <li>Provide updated air quality information from a gauge at your house.</li>
      <li>Conduct regular backups of your site.</li>
    </ul>
  </p>

  <h3>Rules</h3>
  <p>
    <ul>
      <li>Do not spam the server with tons of API requests.</li>
      <li>Try to limit recurring site updates to one per minute.</li>
      <li>Do not use the API to "game" the site (increase ranking by manipulating our algorithms, or constantly updating your index.html with the same content). Sites caught doing this will be de-listed from the browse page.</li>
      <li>Do not use the API to data mine / rip all of the sites.</li>
    </ul>
  </p>

  <h2>Libraries</h2>
  <p>
    There are client libraries available for popular programming languages to make it easier to work with the API:
    <ul>
      <li><a href="https://github.com/neocities/neocities-node" target="_blank">Node.js / JavaScript</a></li>
      <li><a href="https://github.com/neocities/neocities-ruby" target="_blank">Ruby</a></li>
      <li><a href="https://github.com/peterhellberg/neocities" target="_blank">Go</a> - contributed by <a href="https://twitter.com/peterhellberg" target="_blank">Peter Hellberg</a></li>
    </ul>
  </p>
  <h2>API Documentation</h2>
  <p>
    The Neocities API is a <a href="http://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">REST</a> API, which uses query parameters for input, and returns data in the <a href="http://en.wikipedia.org/wiki/JSON" target="_blank">JSON</a> format (except for file downloads). It uses client-side <a href="http://en.wikipedia.org/wiki/Basic_access_authentication" target="_blank">HTTP AUTH</a> to authenticate, using your user/site name and password as the credentials. It is designed to play nicely with the most common HTTP libraries available in programming languages, and can be easily used with <strong>cURL</strong> (a command-line tool for making HTTP requests you can use by opening a terminal on your computer).
  </p>
  <p>
    <strong>That's a lot of buzz words if you're new to programming.</strong> Don't worry, it's easier than it sounds! We'll walk you through some working examples you can get started with.
  </p>

  <h3>POST /api/upload</h3>
  <p>
    Uploads files to your site. You can upload as many files as you want with a single query, as long as the entire request stays within the disk space limit. The parameter name should be the name of the file, with the extension so we know what kind of file it is (index<strong>.html</strong>).
  </p>

  <h4>Examples</h4>
  <h6>Using cURL</h6>
  <p>Upload a single local file (<strong>local.html</strong>), which will be named <strong>hello.html</strong> on your site:</p>
  <code>$ curl -F hello.html=@local.html https://USER:PASS@neocities.org/api/upload</code>

  <h6>Using Node.js</h6>
  <p>This example uses the <a href="https://github.com/neocities/neocities-node" target="_blank">neocities</a> module. You can install it by running <strong>npm install neocities --global</strong> in your terminal.</p>
  <pre>
var NeoCities = require('neocities')
var api = new NeoCities('YOURUSERNAME', 'YOURPASSWORD')

api.upload([
  {name: 'hello.html', path: './local.html'}
], function(resp) {
  console.log(resp)
})</pre>

  <h3>POST /api/delete</h3>
  <p>
    Deletes files from your site. Provide a <strong>filenames</strong> argument with an array of filenames you wish to delete. You can delete any files except index.html.
  </p>
  <p>
    <strong>Be careful with this API call.</strong> There is no way to undo a delete!
  </p>

  <h4>Examples</h4>
  <h6>Using cURL</h6>
  <p>
    Delete <strong>img1.jpg</strong> and <strong>img2.jpg</strong> from your site:
  </p>
  <code>
    curl -d "filenames[]=img1.jpg" -d "filenames[]=img2.jpg" \<br> https://YOURUSER:YOURPASS@neocities.org/api/delete
  </code>
  
  <h6>Using Node.js</h6>
  <pre>
var NeoCities = require('neocities')
var api = new NeoCities('YOURUSERNAME', 'YOURPASSWORD')

api.delete(['img1.jpg', 'img2.jpg'], function(resp) {
  console.log(resp)
})</pre>
  <h3>GET /api/info</h3>
  <p>
    This call lets you retreive information about a web site. This call does not require site authorization if you provide a <strong>sitename</strong> argument. Note that the sitename is the same as a username. If you provide auth credentials, you will receive the info for the auth user's site. Dates conform to <strong>RFC2822</strong> format, and there are helpers for parsing it into a time object for most programming languages.
  </p>
  <h4>Examples</h4>
  <h6>Using cURL</h6>
  <pre>
$ curl https://neocities.org/api/info?sitename=youpi
{
  "result": "success",
  "info": {
    "sitename": "youpi",
    "hits": 5072,
    "created_at": "Sat, 29 Jun 2013 10:11:38 +0000",
    "last_updated": "Tue, 23 Jul 2013 20:04:03 +0000",
    "domain": null,
    "tags": []
  }
}</pre>
  <p>Getting your own site's info:</p>
  <code>
    $ curl https://YOURUSER:YOURPASS@neocities.org/api/info
  </code>
  <h6>Using Node.js</h6>
  <p>Your site:</p>
  <pre>
var NeoCities = require('neocities')
var api = new NeoCities('YOURUSERNAME', 'YOURPASSWORD')

api.info(function(resp) {
  console.log(resp)
})</pre>

  <p>
    Getting data for a different site - such as the <a href="http://madamfrp.neocities.org" target="_blank">Madam FRP Manual</a>:
  </p>
  <pre>
var NeoCities = require('neocities')
var api = new NeoCities('YOURUSERNAME', 'YOURPASSWORD')

api.info('madamfrp', function(resp) {
  console.log(resp)
})</pre>
  <h4>Need something the API doesn't provide?</h4>
  <p>If the API does not supply something you need, <a href="/contact">contact us</a> and we will try to add it!
</div>
