<div class="content">
  <ul class="row website-Gallery">    
    <% @sites.each do |site| %>
      <li>
        <a href="http://<%= site.username %>.neocities.org" target="_blank">
          <img src="http://neocities.org/site_screenshots/<%= site.username %>.jpg" />
        </a>
      </li>
    <% end %>
  </ul>
</div> <!-- end .content -->