<div class="content">

	<% count = 0 %>
  <% @sites.each_with_index do |site,i| %>
    <% if count == 0 %>
      <div class="row">
    <% end %>
    <% count += 1 %>
    
    <div class="col col-25">
      DERPIE PIKACHU
    </div>
      
    <% if count == 4 || @sites.length == i %>
      </div>
      <% count = 0 %>
    <% end %>
	<% end %>
	
</div> <!-- end .content -->