<style>
  h3 { margin-top: 20px; }
</style>

<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Donate to Neocities</h1>
  <h2 class="subtitle">Help us keep the creative, independent internet alive!</h2>
  </div>
</div>

<div class="content single-Col misc-page txt-Center">
  <article role="article">
    <img src="/img/support-us.png" style="margin-bottom: 20px">
      <p>
        Ever since the beginning, Neocities has been powered by donations from our community of supporters and generous contributors.

        Any donations received go directly towards paying bills and acquiring the server infrastructure we need to continue improving and upgrading the site. Any amount helps!
      </p>

      <p>Additionally if you represent an organization that is interested in contributing to Neocities, <a href="/contact">we'd love to talk with you</a>!</p>

      <div style="margin-left: auto; margin-right: auto; width: 70%">
        <div style="text-align: left">
        <h3>Some of the things we use donations for:</h3>
          <ul>
            <li>Infrastructure costs</li>
            <li>Legal liability insurance (to protect against frivilous lawsuits)</li>
            <li>Improving site functionality</li>
          </ul>
        </div>
      </div>

        <h3>Bitcoin:</h3>
        <p><img src="/img/bitcoin.png"></p>
        <p><b><a href="bitcoin:1MPYyfoWK8CkAzhLzLLtZGa9dwEGT5dm2T">1MPYyfoWK8CkAzhLzLLtZGa9dwEGT5dm2T</a></b></p>

        <h3>PayPal:</h3>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="RBASFDBGMTPME">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        <h3>Gratipay:</h3>
        <script data-gratipay-username="neocities" src="//gttp.co/v1.js"></script>

        <!--
          <h3>Dogecoin:</h3>
          <p><img src="/img/dogecoin.png"></p>
          <p>
          <div><span style="color:#ff0000;">D</span><span style="color:#ff1500;">C</span><span style="color:#ff2a00;">X</span><span style="color:#ff4000;">c</span><span style="color:#ff5500;">J</span><span style="color:#ff6a00;">7</span><span style="color:#ff7f00;">u</span><span style="color:#ff9900;">Q</span><span style="color:#ffb200;">Q</span><span style="color:#ffcc00;">c</span><span style="color:#ffe500;">v</span><span style="color:#ffff00;">X</span><span style="color:#d5ff00;">R</span><span style="color:#aaff00;">8</span><span style="color:#80ff00;">q</span><span style="color:#55ff00;">7</span><span style="color:#2bff00;">A</span><span style="color:#00ff00;">N</span><span style="color:#00ff33;">7</span><span style="color:#00ff66;">2</span><span style="color:#00ff99;">6</span><span style="color:#00ffcc;">g</span><span style="color:#00ffff;">J</span><span style="color:#00d5ff;">L</span><span style="color:#00aaff;">x</span><span style="color:#0080ff;">7</span><span style="color:#0055ff;">t</span><span style="color:#002bff;">g</span><span style="color:#0000ff;">u</span><span style="color:#1c00ff;">q</span><span style="color:#3800ff;">w</span><span style="color:#5300ff;">n</span><span style="color:#6f00ff;">D</span><span style="color:#8b00ff;">5</span></div>
          </p>
        -->

        <h4 style="margin-top: 30px; margin-bottom: 30px">Thanks. You are great! <a href="/#new">Now go and make an awesome web site!</a></h4>
  </article>
</div> <!-- end .content -->
