<div class="content single-Col">
  <article>
    <h2 class="txt-Center">
      Help me keep the creative,<br />independent internet alive!
    </h2>
    <hr />
    <h3>My goal with NeoCities is to help bring back the creativity and free expression to the world wide web that made it great. I need your help.</h3>
    
    <p>
      I am tired of living in an online world where people are isolated from each other in 
      <b>boring, spied-on gated communities</b>, and are given generic templates which define what people are 
      supposed to know about each other. It's time we took back our personalities from these sterilized, lifeless, 
      monetized, monitored entities and let our creativity flourish again.
    </p>
    
    <p>
      That's where NeoCities comes in. I want to provide a canvas for people to make any web site they want. 
      Whether it be a web site about something they're good at, something they love, something they hate, or 
      their own custom "Profile" where they can introduce themselves in a way that actually matters to them.
    </p>
    <p>
      It's a big project (to make small sites), and I have a lot of work to do.
      <b>But I can't do it without your help</b>.
    </p>
    <p>
      The technology has become affordable enough where we can provide this creative space without requiring a business 
      plan that involves selling people out to the marketing industry. But it still costs money, especially since server 
      demand is so high right now. And there are some possible surprise costs I haven't figured out yet (bandwidth estimates are difficult).
      <b>But if NeoCities can get enough donations, NeoCities can survive!</b>
      Together, we can prevent
      <a target="_blank" href="http://www.business-standard.com/article/technology/yahoo-writes-geocities-obituary-109042500035_1.html" title="What did happen to GeoCities?">what happened to GeoCities</a> from happening again.
    </p>
    <p>
      Our creativity is too important to be commercialized. Help keep this idea alive by donating! $100, $20, $5, a 
      free round of beers at your pub, speaking invites
      <small><a target="_blank" href="http://slideshare.net/kyledrake">(I put on a pretty good show)</a></small>
      so I can spread the word, free server hosting, anything helps. Thank you!
    </p>
  </article>
	<hr />
	<section>
	<h3 class="beta">Contributors:</h3>
	
	<div class="row txt-Center">
	  <div class="col col-33">
	    <img src="https://si0.twimg.com/profile_images/378800000121798049/704971e82f39a40a931a65321a1992c4.jpeg" alt="kyle drake" class="pic-Rounded" />
	    <br />
	    <a href="https://twitter.com/kyledrake" title="Follow me on Twitter" class="eps">Kyle Drake</a>
	  </div>
	  <div class="col col-33">
	    <img src="https://si0.twimg.com/profile_images/2279466871/rqsa3yc6xqubsnexq30r.jpeg" alt="Victoria Wang" class="pic-Rounded" />
	    <br />
	    <a href="https://twitter.com/violasong"title="Follow me on Twitter" class="eps">Victoria Wang</a>
	  </div>
	  <div class="col col-33">
	    <img src="https://si0.twimg.com/profile_images/1740077575/asdf.jpg" alt="Scott O'Hara" class="pic-Rounded" />
	    <br />
	    <a href="https://twitter.com/scottohara" title="Follow me on Twitter" class="eps">Scott O'Hara</a>
	  </div>
	</div>

<!-- other contributors	
	<div class="row txt-Center">
	  <div class="col col-33">
	    
	  </div>
	  <div class="col col-33">
	    
	  </div>
	  <div class="col col-33">
	    
	  </div>
	</div>
-->
	
	</section>
	
	
</div> <!-- end .content -->