<style>
  h3 { margin-top: 20px; }
</style>

<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Donate to Neocities</h1>
  <h2 class="subtitle">Help us keep the creative, independent internet alive!</h2>
  </div>
</div>

<div class="content single-Col misc-page txt-Center">
  <article role="article">
    <img src="/img/support-us.png" style="margin-bottom: 20px">
      <p>
        Ever since the beginning, Neocities has been powered by donations from our community of supporters and generous contributors.

        Any donations received go directly towards paying bills and acquiring the server infrastructure we need to continue improving and upgrading the site. Any amount helps!
      </p>

      <p>Additionally if you represent an organization that is interested in contributing to Neocities, <a href="/contact">we'd love to talk with you</a>!</p>

        <h3><strong><a href="https://donorbox.org/neocities">DONATE NOW</a></strong></h3>

        <!--
        <h3>PayPal:</h3>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="RBASFDBGMTPME">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        -->

        <h3>Bitcoin:</h3>
        <p><b><a href="bitcoin:3HPuhRTz4fMyMRaLFHEQ5E2rrxGic8CXJQ">3HPuhRTz4fMyMRaLFHEQ5E2rrxGic8CXJQ</a></b></p>

        <h4 style="margin-top: 30px; margin-bottom: 30px">Thanks. You are great! <a href="/#new">Now go and make an awesome web site!</a></h4>
  </article>
</div>
