<style>
  h3 { margin-top: 20px; }
</style>
<div class="content single-Col">
  <article>
    <h2 class="txt-Center">
      Help us keep the creative,<br />independent internet alive!
    </h2>
    <hr />


    <section>
      <h2>Where your Money Goes</h2>
      <p><b>$150</b> provides hosting for <b>2 million</b> NeoCities sites for 1 month, and helps cover unplanned costs.</p>
      <p><b>$100</b> buys a backup server for that machine for one month.</p>


        <h2>How to Donate</h2>
        
        <h3>Gittip:</h3>
        <script data-gittip-username="kyledrake" src="https://www.gittip.com/assets/widgets/0002.js"></script>

        <h3>Bitcoin:</h3>
        <p><b>1MPYyfoWK8CkAzhLzLLtZGa9dwEGT5dm2T</b></p>
        
        <h3>PayPal:</h3>
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="RBASFDBGMTPME">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        
        <h3>Flattr</h3>
        <script id='flattrbtn'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=kyledrake&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=62;f.width=55;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('flattrbtn');</script>

        <h4>Sponsorships, press, speaking invites, general inquiries:</h4>
        <h3><a href="/contact">Contact</a></h3>
        <h4 style="margin-top: 30px; margin-bottom: 30px">Thanks. You are great! Now go and make an awesome web site!</h4>
      </section>
  </article>
	<hr />
	
</div> <!-- end .content -->