<div class="header-Outro with-columns">
  <div class="row content">
    <div class="col col-66">
      <h3>My Feed</h3>
      <div class="feed-filter"><a href="">All Activity</a>  <a href="">Activity on your profile</a></div>
    </div>
    <div class="col col-32">
      <h3>My Website</h3>
      <a href="/dashboard" class="btn-Action edit">Edit Site</a>
    </div>
  </div>
</div>

<div class="container">
<div class="content misc-page columns right-col"><div class="col-left">
  <div class="col col-66">
    <% if false %>
    <div class="welcome">
      <h4>Welcome to your Neocities news feed!</h4>
      <p>You aren't following any websites yet! Once you do, updates will show up here and you can like and comment on them. Here are some website suggestions based on your tags, or <a href="/browse">check out all the sites on Neocities!</a></p>
    </div>
    
    <div class="site-suggestion">
      <div class="site-portrait">
        <a href="http://dragonquest.neocities.org">
          <img src="http://neocities.org/site_screenshots/dragonquest.jpg">
          <span class="caption">dragonquest</span>
        </a>
      </div>
      <a class="tag" href="http://neocities.org">Games</a>
      <a class="tag" href="http://neocities.org">Anime</a>
      <a class="tag" href="http://neocities.org">Art</a>
      <a class="tag" href="http://neocities.org">Cooking</a>
    </div>
    
    <div class="site-suggestion">
      <div class="site-portrait">
        <a href="http://dragonquest.neocities.org">
          <img src="http://neocities.org/site_screenshots/dragonquest.jpg">
          <span class="caption">dragonquest</span>
        </a>
      </div>
      <a class="tag" href="http://neocities.org">Games</a>
      <a class="tag" href="http://neocities.org">Anime</a>
      <a class="tag" href="http://neocities.org">Art</a>
    </div>
    
    <div class="site-suggestion">
      <div class="site-portrait">
        <a href="http://dragonquest.neocities.org">
          <img src="http://neocities.org/site_screenshots/dragonquest.jpg">
          <span class="caption">dragonquest</span>
        </a>
      </div>
      <a class="tag" href="http://neocities.org">Games</a>
      <a class="tag" href="http://neocities.org">Anime</a>
    </div>
    
    <div class="site-suggestion">
      <div class="site-portrait">
        <a href="http://dragonquest.neocities.org">
          <img src="http://neocities.org/site_screenshots/dragonquest.jpg">
          <span class="caption">dragonquest</span>
        </a>
      </div>
      <a class="tag" href="http://neocities.org">Games</a>
    </div>
    
    <div class="site-suggestion">
      <div class="site-portrait">
        <a href="http://dragonquest.neocities.org">
          <img src="http://neocities.org/site_screenshots/dragonquest.jpg">
          <span class="caption">dragonquest</span>
        </a>
      </div>
      <a class="tag" href="http://neocities.org">Games</a>
      <a class="tag" href="http://neocities.org">Anime</a>
    </div>
    
    <div class="site-suggestion">
      <div class="site-portrait">
        <a href="http://dragonquest.neocities.org">
          <img src="http://neocities.org/site_screenshots/dragonquest.jpg">
          <span class="caption">dragonquest</span>
        </a>
      </div>
      <a class="tag" href="http://neocities.org">Games</a>
    </div>
    <% end %>
    <!-- --------------------------------------------------------------------------------------------------------------------------- -->
    
    <!-- need to add a class of "first" to the first news-item element -->
    
   <div class="news-item comment">
      <div class="title">
        <div class="icon"></div>
        <a href="" class="user">Foo</a> commented on <a href="" class="user">Derp's</a> website: <a href="" class="comment">I really like your site, your graphics are awesome and...</a>
        <span class="date">30m</span>
      </div>
    </div>
    <div class="news-item tags">
      <div class="title">
        <div class="icon"></div>
        New sites in <a href="" class="tag">games</a><span class="date">3h</span>
      </div>
      <div class="content">
        <div class="site-suggestion">
          <div class="site-portrait">
            <a href="http://dragonquest.neocities.org">
              <img src="http://neocities.org/site_screenshots/dragonquest.jpg">
              <span class="caption">dragonquest</span>
            </a>
          </div>
        </div>
        <div class="site-suggestion">
          <div class="site-portrait">
            <a href="http://dragonquest.neocities.org">
              <img src="http://neocities.org/site_screenshots/dragonquest.jpg">
              <span class="caption">dragonquest</span>
            </a>
          </div>
        </div>
        <div class="site-suggestion">
          <div class="site-portrait">
            <a href="http://dragonquest.neocities.org">
              <img src="http://neocities.org/site_screenshots/dragonquest.jpg">
              <span class="caption">dragonquest</span>
            </a>
          </div>
        </div>
        <div class="site-suggestion">
          <div class="site-portrait">
            <a href="http://dragonquest.neocities.org">
              <img src="http://neocities.org/site_screenshots/dragonquest.jpg">
              <span class="caption">dragonquest</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="news-item follow">
      <div class="title">
        <div class="icon"></div>
        <a href="" class="user">Foo</a> followed <a href="" class="user">Derp's</a> website<span class="date">7h</span>
      </div>
    </div>
    
    <div class="news-item tip">
      <div class="title">
        <div class="icon"></div>
        You tipped <a href="" class="user">Derp's</a> website: <a href="" class="comment">Wow, great work here! Please keep updating :)</a><span class="date">Apr 23</span>
      </div>
    </div>
    
    <div class="news-item comment">
      <div class="title">
        <div class="icon"></div>
        <a href="" class="user">Foo</a> commented on <a href="" class="user">Derp's</a> website: <a href="" class="comment">I had a question - how did you make it so that the...</a>
        <span class="date">Apr 20</span>
      </div>
    </div>
    
    <div class="news-item follow">
      <div class="title">
        <div class="icon"></div>
        You followed <a href="" class="user">Derp's</a> website<span class="date">Apr 7</span>
      </div>
    </div>
    
    <div class="news-item update">
      <div class="title">
        <div class="icon"></div>
        <a href="" class="user">Derp</a> made an update <span class="date">Apr 7</span>
      </div>
      <div class="content">
        <div class="files">
          <div class="file">
            <div class="html-thumbnail misc"><a href=""><span class="misc-icon">css</span><span class="title">styles.css</span></a></div>
          </div>
          <div class="file">
            <div class="html-thumbnail html"><a href=""><img src="http://neocities.org/site_screenshots/codeventurer.jpg"><span class="title">styles.css</span></a></div>
          </div>
          <div class="file">
            <div class="html-thumbnail misc"><a href=""><span class="misc-icon">js</span><span class="title">styles.css</span></a></div>
          </div>
          <div class="file">
            <div class="html-thumbnail image"><a href=""><img src="/site_thumbnails/victoria/constructioncat2.png.105x63.png"><span class="title">cat.jpg</span></a></div>
          </div>
          <div class="file">
            <div class="html-thumbnail misc"><a href=""><span class="misc-icon">js</span><span class="title">styles.css</span></a></div>
          </div>
        </div>
        <div class="actions"><a href="">Like (1)</a> <a href="">Reply</a></div>
      </div>
    </div>
    
    <div class="news-item comment for-me">
      <div class="title">
        <div class="icon" style="background-image:url(https://neocities.org/site_screenshots/codeventurer.jpg);"></div>
        <a href="" class="user">Derpie</a> 
        <span class="date">Apr 7</span>
        <div class="comment">Your site is amazing. Very helpful information. Would love to see more updates if you have time. Your site is amazing. Very helpful information. Would love to see more updates if you have time. </div>
      </div>
      <div class="content">
        <div class="actions"><a href="">Like (1)</a> <a href="">Reply</a></div>
        <div class="comments">
          <div class="comment">
            <img class="avatar" src="https://neocities.org/site_screenshots/victoria.jpg">
            <a href="" class="user">victoria</a> Indeed, it's great!<span class="date">Apr 7</span>
            <div class="actions"><a href="">Like (1)</a></div>
          </div>  
        </div>
      </div>
    </div>
    
    <div class="news-item comment">
      <div class="title">
        <div class="icon"></div>
        <a href="" class="user">Foo</a> commented on <a href="" class="user">Derp's</a> website: <a href="" class="comment">I had a question - how did you make it so that the...</a>
        <span class="date">Apr 7</span>
      </div>
    </div>
    
    <div class="news-item follow">
      <div class="title">
        <div class="icon"></div>
        You followed <a href="" class="user">Derp's</a> website<span class="date">Apr 7</span>
      </div>
    </div>
    
    <div class="news-item tip for-me">
      <div class="title">
        <div class="icon" style="background-image:url(https://neocities.org/site_screenshots/victoria.jpg);"></div>
        <a href="" class="user">victoria</a> tipped you .01 BTC
        <span class="date">Apr 7</span>
        <div class="comment">Hey, this looks great!</div>
      </div>
      <div class="content">
        <div class="actions"><a href="">Like (1)</a> <a href="">Reply</a></div>
      </div>
    </div>
  </div>
  
  <div class="col col-33">
    <p class="site-url"><a href="http://<%= current_site.username %>.neocities.org" target="_blank">http://<%= current_site.username %>.neocities.org</a></p>
    <div class="stats">
      <div class="col col-50">Last updated<br><strong><%= current_site.updated_at ? current_site.updated_at.ago  : '' %></strong></div>
      <div class="col col-50">
        <div><strong><%= current_site.hits.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse %></strong> hits</div>
        <div><strong>24</strong> followers</div>
        <div><strong>3</strong> tips ($13.55)</div>
      </div>
    </div>
    
    <a href=""><img src="http://neocities.org/site_screenshots/codeventurer.jpg" style="width:340px" class="large-portrait"></a>
    
    <h3>Following</h3>
    <div class="following">
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
      <a href=""><img src="http://neocities.org/site_screenshots/dragonquest.jpg" class="avatar"></a>
    </div>
    
    <h3>Tags</h3>
    <a class="tag" href="http://neocities.org">Games</a>
    <a class="tag" href="http://neocities.org">Anime</a>
    <a class="tag" href="http://neocities.org">Art</a>
    <a class="tag" href="http://neocities.org">Cooking</a>
    <a class="tag" href="http://neocities.org">Games</a>
    <a class="tag" href="http://neocities.org">Anime</a>
    <a class="tag" href="http://neocities.org">Art</a>
    <a class="tag" href="http://neocities.org">Cooking</a>
  </div>
</div></div>
</div>