<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Neocities Hotlinking Policy</h1>
  </div>
</div>

<div class="content single-Col misc-page">
  <p>Neocities has measures in place to prevent hotlinking of content from non-Neocities sites.</p>

  <h2>What is hotlinking, and why don't you allow it?</h2>
  <p>
    <a href="https://en.wikipedia.org/wiki/Inline_linking">Hotlinking</a> is when a non-HTML file hosted by Neocities is embedded into another site that is not hosted by Neocities.
  </p>

  <p>
    We don't allow this because the purpose of Neocities is not to be a file server, but to be a portal for people creating their own web sites. When Neocities is used as a file dump for other sites, it hurts Neocities sites by cutting into the amount of bandwidth available to them. We want to promote Neocities sites, and this allows us to focus our resources on serving them as fast as possible.
  </p>

  <p>
    If you have a site on another server, the best way to serve files for it is by putting them directly on that server. Not only does this ensure that the files will not disappear in the future, but it also makes it easier for you to backup that site independently.
  </p>

  <p>
    If you need to store files for hotlinking use, there are plenty of alternatives. <a href="http://imgur.com/">Imgur</a> for example is a place you can store images that can be served by anyone.
  </p>

  <p>
    Please keep in mind that our reasons for doing this are purely out of requirement. We need to focus on being sustainable to run Neocities without advertisers and stay independent, and preventing Neocites from being used as a "file dump host" is a part of that process.
  </p>

  <h2>Is there a way to remove the hotlinking restriction?</h2>
  <p>
    The hotlinking policy currently applies to all sites. We can't currently make exceptions because of the way our proxy servers work. We may change this in the future.
  </p>
</div>
