<!doctype html>
<html lang="en">
<head>
  <title>Neocities: Create your own free website!</title>

  <%== erb :'_meta' %>

  <script>
    (function() {
      var storedTheme;
      try {
        storedTheme = localStorage.getItem('neocities-theme');
      } catch (e) {}

      var prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

      if (storedTheme === 'dark' || (!storedTheme && prefersDark)) {
        document.documentElement.className += ' dark-Mode';
        document.documentElement.setAttribute('data-theme', 'dark');
      } else {
        document.documentElement.setAttribute('data-theme', 'light');
      }
    })();
  </script>

  <link href="/css/neo.css" rel="stylesheet" type="text/css" media="all">

  <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/html5.min.js"></script>
  <![endif]-->

  <script src="/js/jquery-1.11.0.min.js"></script>
</head>

<%== yield %>

</html>