<!doctype html>
<html lang="en">
<head>
  <title>Neocities: Create your own free website!</title>

  <%== erb :'_meta' %>

  <link href="/css/neo.css" rel="stylesheet" type="text/css" media="all">

  <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/html5.min.js"></script>
  <![endif]-->

  <script src="/js/jquery-1.11.0.min.js"></script>
</head>

<%== yield %>

</html>