<!doctype html>
<!--[if IE 8 ]><html lang="en" class="ieAll ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ieAll ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>Neocities.org: Social websites</title>
  <meta itemprop="name"         content="Neocities.org" />
  <meta itemprop="description"  content="Create your own free home page, and do whatever you want with it." />
  <meta name="description"      content="Neocities is the new Geocities. Create your own free home page, and do whatever you want with it." />
  <meta name="keywords"         content="free website, html, css, learn to code, free hosting, build a website, create a web page" />

  <link rel="canonical" href="//neocities.org" />

  <meta property="og:title"       content="Neocities"/>
  <meta property="og:site_name"   content="Neocities | neocities.org"/>
  <meta property="og:type"        content="website"/>
  <meta property="og:image"       content=""/>
  <meta property="og:url"         content="//www.neocities.org"/>
  <meta property="og:description" content="Neocities is the new Geocities. Create your own free home page, and do whatever you want with it."/>
  <meta content="pBkqwF1U/KpuF2+f0ZhSf8BnpxYgeU0boCTdnB3joGc=" name="csrf-token" />

  <!-- Styles -->
  <link href="assets/css/neo.css" rel="stylesheet" type="text/css" media="all"/>
   <!-- If exists, brings over style blocks from child pages -->

  <link rel="shortcut icon" type="image/ico"  href="/favicon.ico" />
  <link rel="apple-touch-icon-precomposed"    href="#apple-icon-144.png" />
  <link rel="apple-touch-startup-image"       href="#startup.png" />


  <!-- Mobile Meta -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized"  content="320" />
  <meta name="viewport"         content="width=device-width, minimum-scale=1, initial-scale=1" />

  <!-- oh vanity.  -->
  <link rel="author" type="text/plain" href="humans.txt" />

  <!--[if lt IE 9]>
    <script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

  <body class="hp">

    <div class="page">

      <header class="header-Base">
        <nav class="header-Nav clearfix" role="navigation">
            <a href="#!" title="show small screen nav" class="small-Nav">
              <img src="assets/img/nav-Icon.png" alt="navigation icon" />
            </a>
            <ul class="h-Nav constant-Nav">
              <li>
                <a href="/" title="back to the start">Neocities</a>
              </li>
              <li>
                <a href="/browse" title="Browse Neocities member websites">Websites</a>
              </li>
              <li>
                <a href="/tutorials" title="Learn to code with these tutorials">Tutorials</a>
              </li>
              <li>
                <a href="/api" title="Neocities Developers API">API</a>
              </li>
              <li>
                <a href="/about" title="About Neocities">About</a>
              </li>
              <li>
                <a href="/plan" title="Support Neocities">Support Us</a>
              </li>
            </ul>

            <ul class="status-Nav">

              <% if !signed_in? %>
                <li>
                  <a href="/signin" class="sign-In" title="Sign into your account">Sign In</a>
                </li>
              <% else %>
                <li>
                  <a href="/dashboard" class="sign-In">Dashboard</a>
                </li>
                <li>
                  <a href="/settings" class="sign-In">Settings</a>
                </li>
                <li>
                  <a href="/signout" class="sign-In">Signout</a>
                </li>
              <% end %>

            </ul>
          </nav>

          <% if flash.keys.length > 0 %>
            <div class="alert txt-Center">
              <p style="padding:5px">
                <% flash.keys.each do |key| %>
                  <%= flash[key] %>
                <% end %>
              </p>
            </div>
          <% end %>



<div class="int-Logo hp-Logo">
  <a href="/" title="back to home">
    <span class="hidden">Neocities.org</span>
    <img src="assets/img/cat.png" alt="Neocities.org" />
  </a>
</div>

<section class="header-Intro">
  <h1 class="logo header-Content content">
    <span class="hidden">Neocities.org</span>
    <img src="assets/img/neocities-Logo.png" alt="Neocities.org" />
  </h1>
</section>

<div class="header-Outro">

  <div class="row header-Content content">

    <ul class="col col-50 intro-List">
      <li class="intro-Tools">
        <span class="intro-Icon"></span>
        <h2 class="eps">Create your own free website</h2>
        <p class="tiny">
          You get <%= Site::FREE_MAXIMUM_IN_MEGABYTES %> MB of free web space to make whatever you’d like!
        </p>
      </li>
      <li class="intro-Social">
        <span class="intro-Icon"></span>
        <h2 class="delta">Social web building</h2>
        <p class="tiny">
          Browse, comment on, and follow the latest changes for any Neocities site!
        </p>
      </li>
    </ul>

    <div class="col col-50 signup-Area">

    <% if signed_in? %>

      <div class="signup-Form">
        <div class="content">
          <h2 class="gamma txt-Center">Build your Website!</h2>
        </div>
        <p class="txt-Center">
          Go to your dashboard to<br> start editing your website!
        </p>
        <br />
          <div class="txt-Center">
            <a href="/dashboard" class="btn-Action">Get Started</a>
          </div>
      </div>

    <% else %>
      <form action="/new" method="get" class="signup-Form">
        <fieldset class="content">
          <h2 class="gamma">Get Started Now</h2>
          <hr />
          <input type="text" class="input-Area" id="create-Input" name="username" placeholder="website name" />
          <label for="create-Input">.neocities.org</label>
          <input type="submit" value="Create My Website" class="btn-Action float-Right" />
        </fieldset>
      </form>

    <% end %>

    </div> <!-- end .col-50 -->

  </div> <!-- end .row -->

</div> <!-- end .header-Outro -->

</header>

<main class="content-Base">

<div class="content">

  <section class="featured-Websites clearfix">

    <h2 class="delta">Featured Websites</h2>

    <ul class="row website-Gallery hp-Gallery">
      <li>
        <a href="http://dragonquest.neocities.org/" title="The Quest of Dragons" target="_blank">
          <img src="//neocities.org/site_screenshots/dragonquest.jpg" class="neo-SS" alt="Thumbnail of The Quest of Dragons" />
        </a>
      </li>
      <li>
        <a href="http://codeventurer.neocities.org/" title="codeventurer" target="_blank">
          <img src="//neocities.org/site_screenshots/codeventurer.jpg" class="neo-SS" alt="Thumbnail of codeventurer" />
        </a>
      </li>
      <li>
        <a href="http://clouds.neocities.org/" title="Cloud Quotes" target="_blank">
          <img src="//neocities.org/site_screenshots/clouds.jpg" class="neo-SS" alt="Thumbnail of Cloud Quotes" />
        </a>
      </li>
      <li>
        <a href="http://manatee.neocities.org/" title="Title of Website" target="_blank">
          <img src="//neocities.org/site_screenshots/manatee.jpg" class="neo-SS" alt="Thumbnail of TITLE OF WEBSITE" />
        </a>
      </li>
      <li>
        <a href="http://suppilulemur.neocities.org/" title="Sokoban" target="_blank">
          <img src="//neocities.org/site_screenshots/suppilulemur.jpg" class="neo-SS" alt="Thumbnail of Sokoban" />
        </a>
      </li>
      <li>
        <a href="http://drawinglair.neocities.org/" title="Tomasz Zawadzki" target="_blank">
          <img src="//neocities.org/site_screenshots/drawinglair.jpg" class="neo-SS" alt="Thumbnail of Tomasz Zawadzki" />
        </a>
      </li>
      <li>
        <a href="http://eleanor.neocities.org/" title="Eleanor Holroyd's Website" target="_blank">
          <img src="//neocities.org/site_screenshots/eleanor.jpg" class="neo-SS" alt="Thumbnail of Eleanor Holroyd's Website" />
        </a>
      </li>
      <li>
        <a href="http://cute-animation.neocities.org/" title="Cute Animation" target="_blank">
          <img src="//neocities.org/site_screenshots/cute-animation.jpg" class="neo-SS" alt="Thumbnail of Cute Animation" />
        </a>
      </li>
    </ul>

    <div class="txt-Center" style="margin-top: 15px">
      <a href="/browse" title="Browse all Neocities websites" class="btn-Action btn-Large">Browse All Websites</a>
    </div>

  </section>  <!-- end .featured-Websites -->

  <hr />

  <aside class="row">

    <div class="col col-50">
      <div class="content">

        <h3 class="delta">Learn to Code</h3>

        <p>
          Don't know how to code a website? No problem!
          We're working on a batch of tutorials that will show you the way.
        </p>

        <code>
          <span class="code-Tag">&lt;h1&gt;</span>Welcome to my website!<span class="code-Tag">&lt;/h1&gt;</span><br />
          <span class="code-Tag">&lt;a</span> href="<span class="code-Value">about.html</span>">About Me<span class="code-Tag">&lt;/a&gt;</span><br />
          <span class="code-Tag">&lt;img</span> src="<span class="code-Value">me.jpg</span>" alt="<span class="code-Value">photo of me</span>" <span class="code-Tag">/&gt;</span>
        </code>

      </div>
    </div> <!-- end .col-50 -->

    <div class="col col-50">
      <div class="content">

        <h3 class="delta">What People Are Saying</h3>

        <ul class="quote-Slider kill-List">
          <li class="quote">
            <blockquote>
              Designed as a 21st century reincarnation of GeoCities, Neocities lets you make your own site for free. And it just might spark a renaissance of creativity online.
            </blockquote>
            <a href="http://web.appstorm.net/reviews/web-dev/neocities-the-free-place-to-code-your-own-site-from-scratch/" title="App Storm" class="action-Link">Source link</a>
          </li>
        </ul>

      </div>
    </div> <!-- end .col-50 -->

  </aside> <!-- end .row -->

</div> <!-- end .content -->

      </main>

<footer class="footer-Base">
  <section class="footer-Intro">
  <div class="footer-Content">
  <div class="row">
    <div class="col col-33">
      <div class="f-Col f-Col-1 clearfix">
        <span class="footer-icon"></span>
        <h2 class="delta">Support Us</h2>
        <p class="tiny">
          Neocities is funded by donations. If you’d like to contribute, you can help us
          pay our server costs using Bitcoin or PayPal.
        </p>
        <a href="/donate" title="Donate to Neocities" class="action-Link">Donate Today</a>
      </div>
    </div>
    <div class="col col-33">
      <div class="f-Col f-Col-2 clearfix">
        <span class="footer-icon"></span>
        <h2 class="delta">About Us</h2>
        <p class="tiny">
          Neocities is here to bring back the creativity and
          free expression to the world wide web that made it great.
        </p>
        <a href="/about" title="More about Neocities" class="action-Link">More About Us</a>
      </div>
    </div>
    <div class="col col-33">
      <div class="f-Col f-Col-3 clearfix">
        <span class="footer-icon"></span>
        <h2 class="delta">Latest News</h2>
        <p class="tiny">
          The latest news on Neocities can be found on our blog.
        </p>
        <a href="/blog" title="Read about Neocities news and updates" class="action-Link">Read More</a>
      </div>
    </div>
  </div>
  </div>
</section>

  <%== erb :'_footer', layout: false%>
</footer>

    </div>
    <script src="/assets/scripts/jquery-1.11.0.min.js"></script>
    <script src="/assets/scripts/app.min.js"></script>
  </body>
</html>
