<!doctype html>
<!--[if IE 8 ]><html lang="en" class="ieAll ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ieAll ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- <link rel="manifest" href="/manifest.json"> -->

  <title>Neocities: Create your own free website!</title>
  <meta itemprop="name"         content="Neocities" />
  <meta itemprop="description"  content="Free web hosting and tools that allow anyone to create a website. Join our community today!" />
  <meta name="description"      content="Free web hosting and tools that allow anyone to create a website. Join our community today!" />
  <meta name="keywords"         content="free website, free web hosting, html, css, learn to code,  free hosting, build a website, create a web page, static hosting, how to make a website" />

  <link rel="canonical" href="//neocities.org" />

  <meta property="og:title"       content="Neocities"/>
  <meta property="og:site_name"   content="Neocities | neocities.org"/>
  <meta property="og:type"        content="website"/>
  <meta property="og:image"       content=""/>
  <meta property="og:url"         content="//www.neocities.org"/>
  <meta property="og:description" content="Free web hosting and tools that allow anyone to create a website. Join our community today!"/>

  <link rel="shortcut icon" type="image/ico"  href="/favicon.ico?v=4" />
  <link rel="apple-touch-icon-precomposed"    href="#apple-icon-144.png" />
  <link rel="apple-touch-startup-image"       href="#startup.png" />

  <!-- Mobile Meta -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized"  content="320" />
  <meta name="viewport"         content="width=device-width, minimum-scale=1, initial-scale=1" />

  <link href="/css/neo.css" rel="stylesheet" type="text/css" media="all"/>

  <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/html5.min.js"></script>
  <![endif]-->

  <script src="/js/jquery-1.11.0.min.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<%== yield %>

</html>
