<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta itemprop="name"           content="Neocities.org">
    <meta itemprop="description"    content="Create your own free home page, and do whatever you want with it.">
    <meta name="description"        content="Neocities is the new Geocities. Create your own free home page, and do whatever you want with it.">
    <meta name="keywords"           content="free website, html, css, learn to code, free hosting, build a website, create a web page">
    <meta property="og:title"       content="Neocities">
    <meta property="og:site_name"   content="Neocities | neocities.org">
    <meta property="og:type"        content="website">
    <meta property="og:image"       content="/img/cat-larger.png">
    <meta property="og:url"         content="https://www.neocities.org">
    <meta property="og:description" content="Neocities is the new Geocities. Create your own free home page, and do whatever you want with it.">

    <link href="/css/neo.css" rel="stylesheet" type="text/css" media="all">

    <link href="/favicon.ico?v=2"" rel="shortcut icon" type="image/ico">

    <!-- Mobile Meta -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized"  content="320">
    <meta name="viewport"         content="width=device-width, minimum-scale=1, initial-scale=1">

    <!--[if lt IE 9]>
      <script type="text/javascript" src="/js/html5.min.js"></script>
    <![endif]-->

    <script>
      var RecaptchaOptions = {theme: 'clean'}
    </script>

    <script src="/js/jquery-1.11.0.min.js"></script>
  </head>

  <body class="interior">
    <div class="page">
      <%== erb :'_header', layout: false %>
      <%== yield %>
    </div>
    <footer class="footer-Base">
      <%== erb :'_footer', layout: false %>
    </footer>

    <script src="/js/underscore-min.js"></script>
    <script src="/js/nav.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/typeahead.bundle.js"></script>

    <script>
      $("a#like").tooltip({html: true})
      $("a.comment_like").tooltip({html: true})
      $('#shareButton').popover({html: true})

      $('.typeahead').typeahead({
        minLength: 2,
        highlight: true
      }, {
        name: 'tags',
        source: function(query, callback) {
          $.get('/tags/autocomplete/'+query+'.json', function(data) {
            var suggestions = JSON.parse(data)
            var suggestionObjects = []
            for(var i=0; i<suggestions.length; i++)
              suggestionObjects.push({value: suggestions[i]})

            callback(suggestionObjects)
          })
        }
      }).on('typeahead:selected', function(e) {
        e.target.form.submit()
      })
    </script>
  </body>
</html>
