<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Legal FAQ and Contact</h1>
  <h2 class="subtitle">A human guide to Neocities' legal practices and policies</h2>
  </div>
</div>

<div class="content single-Col misc-page">
  <article role="article">
    <h1>Introduction</h1>

    <p>
      This document is intended to explain our legal and takedown processes, so that it's easier for users (and those wishing to remove content they deem offensive) to understand how we make decisions regarding content that is published via our site, and how we will respond to legal threats. <strong>Please read and understand this document before sending us takedown requests or legal threats.</strong>
    </p>

    <p>
      In legal terms, Neocities is a provider of an "interactive computer service", or an Online Service Provider. Put simply, we are a web hosting provider. <strong>None of the content on sites at Neocities are created or published by Neocities itself.</strong> Instead, we provide a platform for users to publish their own web sites, and to communicate with each other.
    </p>

    <p>
      We strive to strike a balance between encouraging freedom of expression and creativity, with both legal requirements to stay within the law, and our private policies preventing activities that we do not wish to encourage in order to provide a safe, fun, and welcoming community.
    </p>

    <p>
      As with all open content platforms, please understand that this is a delicate balance, there are many gray areas, and that we are humans. <strong>Asking us nicely to do something has a much higher chance of accomplishing what you want than sending us empty legal threats.</strong> So try that instead.
    </p>

    <h2>Neocities is not liable for content published by our users</h2>

    <p>
      Under <a href="http://en.wikipedia.org/wiki/Section_230_of_the_Communications_Decency_Act">Section 230 of the Communications Decency Act</a> (47 U.S.C. ยง 230. Section 230(c)(1)), Neocities receives immunity from liability as a provider of an "interactive computer service" which publishes information provided by others:
    </p>

    <blockquote>
      No provider or user of an interactive computer service shall be treated as the publisher or speaker of any information provided by another information content provider.
    </blockquote>

    <p>
      This law forms the basis of protection for computer service providers. Without this law, sites like Neocities, Reddit, Facebook, Twitter, and many others could not safely exist, as we would be legally exposed to the actions of our users. Neocities (like most online services) receives far too much content to manually "screen" for all of the things our users publish.
    </p>

    <h2>Can I have a site on Neocities removed?</h2>

    <p>
      If the site is violating United States law, or our <a href="/terms">Terms of Service</a>, then we may choose to remove it.
    </p>

    <p>
      It is very important to understand that a site's offensiveness is not grounds (legally, or in our <a href="/terms">Terms of Service</a>) for removal. <strong>If the site in question is not in violation of United States law, there are no legal grounds for us to remove it.</strong> And if the site does not violate our Terms of Service, we will probably not remove the site.
    </p>

    <h2>Prohibited Content</h2>

    <p>
      Though it is our goal to try to encourage free expression, there are many forms of content that we do not allow on Neocities. A list of content we explicitly prohibit can be found on our <a href="/terms">Terms of Service</a>. We reserve the right to remove any content on Neocities, for any reason, even if it is not covered in our Terms of Service. We decide whether a site should be removed on a case-by-case basis.
    </p>

    <p>
      If we decide that a site has violated our Terms of Service, we will remove the site, ban the user, and take steps to prohibit the user from creating new sites on Neocities. If the user is banned for posting illegal content, or attempts to work around the ban and continue to post illegal content, we reserve the right to report the user to the appropriate law enforcement agencies.
    </p>

    <p>
      <strong>Examples of content we do not allow includes (but is not limited to):</strong>
      <ul>
        <li>
          Doxxing (disclosing of personal information on individuals for the purpose of harassing or intimidating them). Note that this does not include honest and intellectual criticism of people that are considered public figures. An example of a public figure is someone that is engaged in activity that is the discussion of news media.
        </li>
        <li>
          Cracking sites - including DDoS, phishing, and leaked private data. Note that we can make exceptions for legitimate security disclosures. When in doubt, ask us.
        </li>
        <li>
          Spam - pharmaceutical arbitrage, sites with useless information obviously intended to improve SEO of other sites, and online casino advertisements are examples of spam, and will be removed. However, we support and encourage users making Neocities sites for their businesses, and consider this a legitimate use of the service.
        </li>
        <li>
          Illegal content - this includes child pornography, and menacing (threats against individuals or organizations, including terrorist threats). We reserve the right to inform law enforcement of illegal activities. We may be able to make exceptions for whistleblowers, but constitutional protections in the United States for whistleblowing have recently eroded, and we may not be able to host your content until this is finally addressed in courts (again, when in doubt, ask us).
        </li>
        <li>
          Copyright or trademark infringement - Using Neocities to transmit any material that infringes any copyright, trademark, patent, trade secret, or other proprietary rights of any third party, unless the use of the material is deemed fair use.
        </li>
        <li>
          Fradulent activity - fraudulent offers to sell or buy products, items, or services, or to advance any type of financial scam such as "pyramid schemes". Content that consists of make-money-fast schemes, pyramid or chain letters, and unsolicited commercial information is prohibited.
        </li>
        <li>
          Forgery or impersonation - Adding, removing, or modifying information in an effort to deceive or mislead, or attempting to impersonate any person by using forged information or other identifying information. The use of anonymous nicknames or impersonation for the purpose of parody does not constitute impersonation.
        </li>
      </ul>

      <p>
        <strong>Examples of content we do allow includes (but is not limited to):</strong>
        <ul>
          <li>
            Criticism - Criticism of products, ideas, political parties, or organizations is allowed on Neocities. In addition, use of copyrighted material for the purposes of criticism is in most cases considered <a href="http://en.wikipedia.org/wiki/Fair_use">Fair Use</a>. We will also not remove sites due to false allegations of trademark infringement. Having posession of a trademark does not prevent a user from criticizing your organization, it only prevents them from attempting to operate a business under your name.
          </li>
        </ul>
      </p>
    </p>

    <h2>Legal Threats</h2>

    <p>
      <strong>Baseless legal threats are not welcome at Neocities, and will be considered an attack on our protections under the law that all online service providers have a strong interest in defending. As per our <a href="http://www.opencompany.org/">Open Company</a> principles, we reserve the right to publish and expose any and all legal threats made against Neocities. Baseless legal threats will be considered an attempt to harm Neocities by abusing the legal system, and we will respond accordingly. We will additionally invite other major social networks and service providers to join us in defending against baseless legal claims if we conclude it is in their best interests. <u>Think very carefully before sending Neocities legal threats</u>.</strong>
    </p>
    <p>
      It is strongly recommended that you consider <a href="http://en.wikipedia.org/wiki/Streisand_effect">the consequences</a> of sending us legal threats or filing a lawsuit against Neocities before doing so. We are intimately familiar with our rights under the law, we have access to legal representation, and we can afford it. You will very likely lose your (embarassing and public) court case, and you will very likely be required to compensate us for legal fees.
    </p>

    <h2>Doe Subpoenas</h2>

    <p>
      If compelled by a grand jury, Neocities can be required to disclose information about a user using a <a href="http://en.wikipedia.org/wiki/Doe_subpoena">Doe Subpoena</a>. We will not send you any information about a user without a Doe subpoena, with the exception of an extreme emergency. Extreme emergencies include (but are not limited to) the timely prevention of a suicide, murder, or terrorist attack. In this situation, we will only provide this information to law enforcement, and requestors will be required to demonstrate to us in a provable way that they are associated with an organization tasked with public law enforcement.
    </p>

    <p>
      It is important to understand that we can not provide a lot of information about a user. Our <a href="/data-retention-policy">Data Retention Policy</a> describes in detail some of the pertinent information that we store about a user:
    </p>

    <p>
      <strong>Retention of IP address information</strong>. For security and privacy reasons, Neocities does not archive plain-text IP addresses. All IP addresses stored in Neocities are deleted after a certain time. You are invited to <a href="https://github.com/neocities/neocities/commit/4983a9b24eac00b8d8bfd300a18cdcee0152a271">inspect the code</a> that does this in our code repository.
    </p>

    <p>
      <strong>Retention of IP address information</strong>.
      We currently store IP addresses of who created a site, but soon will be removing them after 30 days.
      That means that we will not be able to provide a plain-text IP address, because we lack the means to provide it.
    </p>

    <p>
      We choose to do this because of ongoing abuses of the legal system against service providers online. Please understand that it is legal for us to do this, as <a href="https://www.eff.org/issues/mandatory-data-retention/us">the United States currently has no mandatory data retention law</a>.
    </p>

    <p>
      Neocities reserves the right to change this policy in the future. We also reserve the right to challenge Doe subpoenas in court on behalf of our users.
    </p>

    <h2>Unlawful gag-order subpoenas</h2>

    <p>
      <strong>Neocities will not recognize or respect unlawful gag order subpoenas from Grand Juries which do not have the legal right to do so. In almost all cases, we are allowed to disclose receiving subpoenas, and sending unlawful gag-order subpoenas to us will only strongly encourage us to publish them to document abuses of the legal system.</strong>
    </p>

    <p>
      <a href="http://en.wikipedia.org/wiki/Gag_order">Situations where subpoenas can legally contain gag-orders are very rare, and we know the difference</a>. Again, we are fully aware of our legal rights under the law, and trying to "scare" us with unlawful clauses in subpoenas will not stop us from exposing and publishing them if we deem it appropriate.
    </p>

    <p>
      <strong>This does not neccessarily mean we will disclose the content in subpoenas.</strong> If we decide that disclosing a subpoena could cause undue harm, unfairly affect someone's privacy, or impede a legitimate investigation, we can choose to not disclose. Being reasonable and respectful of Neocities staff increases your chances of us doing this. We don't respond well to bullying.
    </p>

    <h2>Data Retention Policy</h2>
    <p>
      Neocities will soon publish a Data Retention Policy, which will document the information we retain on behalf of a site.
    </p>

    <h2>Digital Millenium Copyright Act (DMCA)</h2>
    <p>
      Neocities is beholden to the DMCA. As an Online Service Provider (OSP), we are entitled to Safe Harbor protections under the <a href="http://en.wikipedia.org/wiki/Online_Copyright_Infringement_Liability_Limitation_Act">Online Copyright Infringement Liability Limitation Act</a>. We have no duty to monitor our service or affirmatively seek infringing material on our system.
    </p>

    <p>
      In order to report infringing materal, copyright owners must send the <a href="/dmca">Neocities Desigated Agent</a> a Notice and Take Down. Information on how to do this is provided on the <a href="/dmca">Neocities DMCA page</a>.
    </p>
  </article>
</div>
