<div class="header-Outro">
  <div class="row content single-Col">
    <h1>Reset Password</h1>
  </div>
</div>

<div class="content single-Col misc-page">

  <p>
    Note: If you provided your e-mail, you can reset your password. If you didn't, you will not be able to reset your password, and instead should create a new account. We cannot change a password without an entered email for security reasons.
  </p>

  <form method="post" action="/send_password_reset" class="content">
    <fieldset>
      <input name="csrf_token" type="hidden" value="<%= csrf_token %>">
      <input name="email" type="email" class="input-Area" placeholder="Your email" style="width: 300px">
    </fieldset>
    <input class="btn-Action" type="submit" value="Send Reset Token">
  </form>
</div>
