<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Neocities and the Permanent Web</h1>
  <h2 class="subtitle">Working to build a faster, better, more permanent web.</h2>
  </div>
</div>

<div class="content single-Col misc-page">
  <img src="/img/neocities-ipfs.jpg" style="margin-bottom: 20px">
  <article role="article">
    <p>
      Neocities has launched an experimental implementation of <a href="http://ipfs.io">IPFS</a>. IPFS is short for the "Inter-Planetary File System", and is the foundation for a new way to distribute web content that is being called The Permanent Web. The idea behind the Permanent Web is simple: Instead of serving web sites from central servers, we believe that web serving should be decentralized, and that IPFS is an eventual replacement to the aging HTTP protocol for serving static web sites.
    </p>

    <p>
      This is still very early stage technology, so if you don't understand what this stuff is, don't worry about it for now. But if you'd like to read more about why we're interested in this new technology, please see our <a href="https://blog.neocities.org/its-time-for-the-permanent-web.html">blog post</a> on the topic.
    </p>

    <p>
      IPFS archiving and downloading is now supported by <strong>all web sites</strong> on Neocities. You'll see an IPFS hash link on the site profile, and an archive link that allows you to see past versions of your site (note: this is still a preview, so past site archives may still disappear, but we're working on making it better).
    </p>

    <p>
      If you want to play around with this new technology, you can get IPFS for your computer and use it to retrieve content from our IPFS node servers. All you need to do is <a href="http://ipfs.io/docs/install/">download the IPFS daemon</a> (OSX/Linux only for now), and run the following command in your terminal:
    </p>

    <p>
      <code>$ ipfs pin add -r THE_IPFS_HASH_FOR_YOUR_SITE</code>
    </p>

    <p>
      We have a lot of very interesting projects we're working on with IPFS that will make Neocities even better. Stay tuned for some interesting new technology over the next year!
    </p>
  </article>
</div>
