<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Neocities and the Distributed Web</h1>
  <h2 class="subtitle">Working to build a faster, better, more permanent web.</h2>
  </div>
</div>

<div class="content single-Col misc-page">
  <img src="/img/neocities-ipfs.jpg" style="margin-bottom: 20px">
  <article role="article">
    <p>
      Neocities has launched an implementation of <a href="https://ipfs.io">IPFS</a>, a protocol for the distributed web. The idea is simple: Instead of serving web sites from central servers, a distributed web allows any computer to help serve a site.
    </p>

    <p>
      This is still very early stage technology and subject to change. To learn more, see our <a href="https://blog.neocities.org/blog/2015/09/08/its-time-for-the-distributed-web.html">blog post</a>.
    </p>

    <p>
      IPFS archiving is now enabled on all sites. You'll see an IPFS hash link on the site profile, and an archive link that allows you to see past versions of your site (note: this is still a preview, so past site archives may still disappear, but we're working on making it better).
    </p>

    <p>
      If you want to play around with this new technology, you can get IPFS for your computer and use it to retrieve content from our IPFS node servers. All you need to do is <a href="https://ipfs.io/docs/install/">download the IPFS daemon</a> (OSX/Linux only for now), and run the following command in your terminal:
    </p>

    <p>
      <code>$ ipfs pin add -r THE_IPFS_HASH_FOR_YOUR_SITE</code>
    </p>
  </article>
</div>
