<div class="header-Outro with-columns press">
  <div class="row content">
    <div class="col col-66">
      <h1>Neocities In The Press</h1>
    </div>
    <div class="col col-32">
    </div>
  </div>
</div>

<div class="container">
  <div class="content misc-page columns right-col press">
    <div class="col-left">
      <div class="col col-66" style="min-height: 43em;">
        <div class="press-news">
          <h3><a href="https://www.nytimes.com/2016/06/08/technology/the-webs-creator-looks-to-reinvent-it.html"><strong>New York Times</strong>: The Web's Creator Looks to Reinvent It</a></h3>
          <blockquote>
            Twenty-seven years ago, Tim Berners-Lee created the World Wide Web as a way for scientists to easily find information. It has since become the world’s most powerful medium for knowledge, communications and commerce — but that doesn’t mean Mr. Berners-Lee is happy with all of the consequences.
          </blockquote>
          <br>
          <blockquote>
            So on Tuesday, Mr. Berners-Lee gathered in San Francisco with other top computer scientists — including Brewster Kahle, head of the nonprofit Internet Archive and an internet activist — to discuss a new phase for the web.
          </blockquote>

          <h3><a href="http://motherboard.vice.com/read/theres-an-entire-conference-dedicated-to-geocities-style-websites"><strong>Vice</strong>: There's An Entire Conference Dedicated to Geocities-Style Websites</a></h3>
          <blockquote>
            It's easy to assume that those attending the Web 1.0 Conference in Portland, Oregon are caught up on an obsolete era of the internet. The conference's organizers, however, think the lowly HTML website may very well be the future of the web.
          </blockquote>

          <h3><a href="http://motherboard.vice.com/read/the-interplanetary-file-system-wants-to-create-a-permanent-web"><strong>Vice</strong>: The InterPlanetary File System Wants to Create a Permanent Web</a></h3>
          <blockquote>
            In addition to satisfying the cravings of some for Geocities clip-art nostalgia, Drake has more serious plans up his sleeve. He wants to give people the ability to "build web sites that persist forever."
          </blockquote>
          <br>
          <blockquote>
            "Building an information network that will stay up forever is as modern as it gets," he wrote. "[IPFS] will pull the internet out of the Dark Ages of fast information destruction, and move us from a short-term tech culture into a tech civilization, maintaining distributed libraries of information that could continue to persist for hundreds or even thousands of years."
          </blockquote>

          <h3><a href="http://recode.net/2015/07/17/why-we-all-need-to-make-the-internet-fun-again/"><strong>Re/code</strong>:
Why We All Need to Make the Internet Fun Again</a></h3>
          <blockquote>
            In a word, the Internet has become boring. When it went mass market in the mid-’90s, the Web was promised as a place of open exploration and creativity. Now, instead, it restricts our activity at nearly every turn. This doesn’t just constrain us as people, but threatens to impede the very inventiveness that the Internet industry depends on to continue thriving. What’s needed now is an understanding of how we reached this point — and an alternative vision for the Internet’s next generation.
          </blockquote>
          <br>
          <blockquote>
            Fortunately, we are starting to see a strong movement away from the templated, uniform Internet. Instead of defining the limits of their identity and expressiveness through social media, [people] have already turned en masse to indie games like Minecraft (bought by Microsoft for $2.5 billion last year), a free-form, online sandbox world, with building tools that enable them to build everything from massive 3-D cities to working computers and continent-spanning roller coasters. [Neocities], a quasi-rebirth of GeoCities and a vanguard member of the independent Web movement, has seen enormous growth since launching in 2013, with nearly 50,000 websites created by its users.
          </blockquote>

          <h3><a href="http://www.royalgazette.com/article/20150103/NEWS/150109957"><strong>The Royal Gazette</strong>: Students learn to be junior web wizards</a></h3>
          <blockquote>
            About 60 students attended the Island’s first Hackathon yesterday to learn about computer coding and building their own websites. One of the Hackathon organisers, James Tucker, said: “Some of the students have been able to take what they learned here and move that from the Codecademy site and into a real webpage, so they have now got a presence on the web, which is their own thing that they produced themselves.” The budding programmers were able to get their partial websites online for free, using the free web-hosting system Neocities.
          </blockquote>

          <h3><a href="http://qz.com/338361/if-you-want-your-own-tech-company-forget-an-mba-and-learn-to-code-instead/"><strong>Quartz</strong>: If you want your own tech company, forget an MBA — and learn to code instead</a></h3>
          <blockquote>
            The best way to participate in the internet and mobile revolution is by learning to code. The future is written in software. You can write it or be programmed by it. As a proficient software developer, you can implement your own ideas, or you can help other people implement theirs.
          </blockquote>

          <h3><a href="http://www.fastcodesign.com/3037028/why-the-internet-is-time-traveling-back-to-1994"><strong>Fast Company</strong>: Oh, Snap! '90s Web Design Is Hot Again</a></h3>
          <blockquote>“What I'm trying to do with Neocities is re-enable that creativity, and show people that it isn’t just a nostalgia thing any more,” [Kyle Drake] says, adding that the site now hosts about 26,000 sites and has proven financially self-sustaining.</blockquote>

          <h3><a href="http://www.wired.com/2013/07/neocities/"><strong>Wired</strong>: NeoCities Wants to Save Us From the Crushing Boredom of Social Networking</a></h3>
          <blockquote>There needs to be an alternative to the current pre-formatted, template-driven, standardizing platforms, which make it easy to have a web presence, but hard to make that presence your own.</blockquote>

          <h3><a href="http://motherboard.vice.com/blog/neocities-is-recreating-the-garish-web-10-creativity-of-geocities"><strong>Vice</strong>: NeoCities Is Recreating the Garish, Web 1.0 Creativity of Geocities</a></h3>
          <blockquote>The project is a way to recreate not only the aesthetic of the early personal websites, but also the original mission of Geocities: to give anyone with internet access a free place on the web.</blockquote>
          <h3><a href="http://arstechnica.com/tech-policy/2014/05/web-host-gives-fcc-a-28-8kbps-slow-lane-in-net-neutrality-protest/"><strong>Ars Technica</strong>: Web host gives FCC a 28.8Kbps slow lane in net neutrality protest</a></h3>
          <blockquote>Lots of people are angry about FCC Chairman Tom Wheeler's Internet "fast lane" proposal that would let Internet service providers charge Web services for priority access to consumers. But one Web hosting service called NeoCities isn't just writing letters to the FCC. Instead, the company found the FCC's internal IP address range and throttled all connections to 28.8Kbps speeds.</blockquote>
        </div>
      </div>

      <div class="col col-33">
        <h2 style="margin-bottom: 9px;">Contact Us</h2>
        <p><a href="mailto:press@neocities.org"><i class="fa fa-envelope-o"></i> press@neocities.org</a></p>

        <h2>Brand Assets</h2>
        <div class="brand-asset">
          <a href="/img/neocitieslogo.svg" download="neocitieslogo.svg"><img src="/img/neocitieslogo.svg" style="width:100px; margin: -5px 0;"></a>
          <p>Download: <a href="/img/neocitieslogo.svg" download="neocitieslogo.svg">SVG</a> | <a href="/img/neocitieslogo.png" download="neocitieslogo.png">PNG</a></p>
        </div>
        <div class="brand-asset">
          <a href="/img/neocitiesbadge.svg" download="neocitiesbadge.svg"><img src="/img/neocitiesbadge.svg"></a>
          <p>Download: <a href="/img/neocitiesbadge.svg" download="neocitiesbadge.svg">SVG</a></p>
        </div>

        <p>There are no creative restrictions on the use of these images. Go nuts.</p>
      </div>
    </div>
  </div>
</div>
