<div class="header-Outro with-columns press">
  <div class="row content">
    <div class="col col-66">
      <h1>Press</h1>
    </div>
    <div class="col col-32">
    </div>
  </div>
</div>

<div class="container">
  <div class="content misc-page columns right-col press">
    <div class="col-left">
      <div class="col col-66" style="min-height: 30em;">
        <h2>Latest News</h2>
        <div class="press-news">
          <h3><a href="http://www.fastcodesign.com/3037028/why-the-internet-is-time-traveling-back-to-1994"><strong>Fast Company</strong>: Oh, Snap! '90s Web Design Is Hot Again</a></h3>
          <blockquote>“What I'm trying to do with Neocities is re-enable that creativity, and show people that it isn’t just a nostalgia thing any more,” [Kyle Drake] says, adding that the site now hosts about 26,000 sites and has proven financially self-sustaining.</blockquote>
          
          <h3><a href="http://www.wired.com/2013/07/neocities/"><strong>Wired</strong>: NeoCities Wants to Save Us From the Crushing Boredom of Social Networking</a></h3>
          <blockquote>There needs to be an alternative to the current pre-formatted, template-driven, standardizing platforms, which make it easy to have a web presence, but hard to make that presence your own.</blockquote>
        
          <h3><a href="http://motherboard.vice.com/blog/neocities-is-recreating-the-garish-web-10-creativity-of-geocities"><strong>Vice</strong>: NeoCities Is Recreating the Garish, Web 1.0 Creativity of Geocities</a></h3>
          <blockquote>The project is a way to recreate not only the aesthetic of the early personal websites, but also the original mission of Geocities: to give anyone with internet access a free place on the web.</blockquote>
          <h3><a href="http://arstechnica.com/tech-policy/2014/05/web-host-gives-fcc-a-28-8kbps-slow-lane-in-net-neutrality-protest/"><strong>Ars Technica</strong>: Web host gives FCC a 28.8Kbps slow lane in net neutrality protest</a></h3>
          <blockquote>Lots of people are angry about FCC Chairman Tom Wheeler's Internet "fast lane" proposal that would let Internet service providers charge Web services for priority access to consumers. But one Web hosting service called NeoCities isn't just writing letters to the FCC. Instead, the company found the FCC's internal IP address range and throttled all connections to 28.8Kbps speeds.</blockquote>
        </div>
      </div>

      <div class="col col-33">
        <h2 style="margin-bottom: 9px;">Contact Us</h2>
        <p><a href="mailto:press@neocities.org"><i class="fa fa-envelope-o"></i> press@neocities.org</a></p>
        
        <h2>Brand Assets</h2>
        <div class="brand-asset">
          <a href="/img/neocitieslogo.svg" download="neocitieslogo.svg"><img src="/img/neocitieslogo.svg" style="width:100px; margin: -10px 0;"></a>
          <p><a href="/img/neocitieslogo.svg" download="neocitieslogo.svg"><i class="fa fa-arrow-circle-down"></i> Download SVG</a></p>
        </div>
        <div class="brand-asset">
          <a href="/img/neocitiesbadge.svg" download="neocitiesbadge.svg"><img src="/img/neocitiesbadge.svg"></a>
          <p><a href="/img/neocitiesbadge.svg" download="neocitiesbadge.svg"><i class="fa fa-arrow-circle-down"></i> Download SVG</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
