<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Email Not Confirmed</h1>
  </div>
</div>

<div class="content single-Col misc-page">
  <h3>The provided confirmation token was incorrect!</h3>
</div>