<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Email Confirmed</h1>
  </div>
</div>

<div class="content single-Col misc-page">
  <h3>Your email address has been confirmed. Thank you!</h3>
  <article>
    <p><a href="/">Get Started</a></p>
  </article>
</div>