<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Neocities Terms of Service</h1>
  <h3 class="subtitle"></h3>
  </div>
</div>

<div class="content single-Col misc-page">
  <p>This web page represents a legal document that serves as our Terms of Service and it governs the legal terms of our website, https://neocities.org, sub-domains, and any associated web-based and mobile applications (collectively, "Website"), as owned and operated by Neocities.</p>
  <p>Capitalized terms, unless otherwise defined, have the meaning specified within the Definitions section below. This Terms of Service, along with our <a href="/privacy">Privacy Policy</a>, any mobile license agreement, and other posted guidelines within our Website, collectively "Legal Terms", constitute the entire and only agreement between you and Neocities, and supersede all other agreements, representations, warranties and understandings with respect to our Website and the subject matter contained herein. We may amend our Legal Terms at any time without specific notice to you. The latest copies of our Legal Terms will be posted on our Website, and you should review all Legal Terms prior to using our Website. After any revisions to our Legal Terms are posted, you agree to be bound to any such changes to them. Therefore, it is important for you to periodically review our Legal Terms to make sure you still agree to them.</p>
  <p>
  Under this agreement, you must comply with Neocities then-current Acceptable Use Policy, as updated from time to time by Neocities, which is incorporated in this agreement by reference. Please read these terms and conditions carefully. By using this service you are agreeing to be bound by the terms of this agreement and the Neocities Acceptable Use Policy.
  </p>
  <p>By using our Website, you agree to fully comply with and be bound by our Legal Terms. Please review them carefully. If you do not accept our Legal Terms, do not access and use our Website. If you have already accessed our Website and do not accept our Legal Terms, you should immediately discontinue use of our Website.</p>
  <p>The last update to our Terms of Service was posted on September 5, 2014.</p>

  <p><strong>Definitions</strong><br />The terms "us" or "we" or "our" refers to Neocities, the owner of the Website.</p>
  <p>A "Visitor" is someone who merely browses our Website, but has not registered as Member.</p>
  <p>A "Member" is an individual that has registered with us to use our Service.</p>
  <p>Our "Service" represents the collective functionality and features as offered through our Website to our Members.</p>
  <p>A "User" is a collective identifier that refers to either a Visitor or a Member.</p>
  <p>All text, information, graphics, audio, video, and data offered through our Website are collectively known as our "Content".</p>

  <p><strong>Legal Compliance</strong><br />You agree to comply with all applicable domestic and international laws, statutes, ordinances, and regulations regarding your use of our Website. Neocities reserves the right to investigate complaints or reported violations of our Legal Terms and to take any action we deem appropriate, including but not limited to canceling your Member account, reporting any suspected unlawful activity to law enforcement officials, regulators, or other third parties and disclosing any information necessary or appropriate to such persons or entities relating to your profile, email addresses, usage history, posted materials, IP addresses and traffic information, as allowed under our <a href="/privacy">Privacy Policy</a>.</p>

  <p><strong>Intellectual Property</strong><br />Our Website may contain our service marks or trademarks as well as those of our hosted sites, affiliates or other companies, in the form of words, graphics, and logos. Your use of our Website does not constitute any right or license for you to use such service marks/trademarks, without the prior written permission of the corresponding service mark/trademark owner.</p>

  <p><strong>Links to Other Websites</strong><br />Our Website may contain links to third party websites. These links are provided solely as a convenience to you. By linking to these websites, we do not create or have an affiliation with, or sponsor such third party websites. The inclusion of links within our Website does not constitute any endorsement, guarantee, warranty, or recommendation of such third party websites. Neocities has no control over the legal documents and privacy practices of third party websites; as such, you access any such third party websites at your own risk.</p>

  <p><strong>General Terms</strong><br />Our Legal Terms shall be treated as though it were executed and performed in Oregon, United States, and shall be governed by and construed in accordance with the laws of Oregon, United States, without regard to conflict of law principles. In addition, you agree to submit to the personal jurisdiction and venue of such courts. Any cause of action by you with respect to our Website, must be instituted within one (1) year after the cause of action arose or be forever waived and barred. Should any part of our Legal Terms be held invalid or unenforceable, that portion shall be construed consistent with applicable law and the remaining portions shall remain in full force and effect. To the extent that any Content in our Website conflicts or is inconsistent with our Legal Terms, our Legal Terms shall take precedence. Our failure to enforce any provision of our Legal Terms shall not be deemed a waiver of such provision nor of the right to enforce such provision. The rights of Neocities under our Legal Terms shall survive the termination of our Legal Terms.</p>

  <p>
    <strong>Amendment</strong>
    <br>
    Neocities may modify this agreement or the Acceptable Use Policy at any time in its sole discretion. Any modification is effective immediately upon either a posting on the Neocities website at https://neocities.org or by a message from Neocities sent by electronic mail, or by conventional mail. If you do not terminate your registration, or continue to use the Neocities Service, following notice of any modification to this agreement, your continued use will mean that you have accepted that modification.
  </p>

  <p>
    <strong>Disclaimer</strong>
    <br>
    Neocities service is provided on an As Is, As available basis without warranties of any kind, either express or implied, including, but not limited to, warranties of merchantability, fitness for a particular purpose or non-infringement. Neocities expressly disclaims any representation or warranty that the Neocities service will be error-free, secure, or uninterrupted. No oral advice or written information given by Neocities, its employees, licensors, or the like, will create a warranty; nor may you rely on any such information or advice. The terms of this section will survive any termination of this agreement.
  </p>

  <p>
    <strong>Information and Products</strong>
    <br>
    You acknowledge that except for information products or services clearly identified as being supplied by Neocities, neither Neocities nor any of its suppliers, licensor, or affiliates (Affiliates) operates or controls any information, products or services accessible through the Neocities service in any way and that, except for such Neocities identified information, services or products, all merchandise, information and services offered or made available or accessible through the Neocities service are offered or made available or accessible by third parties who are not affiliated with Neocities or its Affiliates. You acknowledge that use of the Neocities service is at your sole risk and you agree that any information, service or product accessible through the service is without warranties of any kind by Neocities and its affiliates, either express of implied, including, but not limited to warranties of merchantability, fitness for a particular purpose, or non-infringement. The terms of this section will survive any termination of this agreement.
  </p>

  <p>
    <strong>Commerce on the Web</strong>
    <br>
    Through your uses of the Neocities service, you may have opportunities to order and purchase merchandise or services from other subscribers to the Neocities service and users of other communications outlets such as the Internet. You further acknowledge that all transactions relating to merchandise or services offered by you through the Neocities service, including but not limited to the purchase terms, payment terms, warrantees, guarantees, maintenance and delivery terms for such transactions are agreed to solely between you and third party purchasers. Neocities and its affiliates make no warranties or representations whatsoever with respect to your goods and services or with respect to the qualifications of any third party purchaser.
  </p>

  <p>
    <strong>Limitation of Liability</strong>
    <br>
    Under no circumstances, including negligence, will Neocities, or its affiliates be liable for any direct, indirect, incidental, special or consequential, damages that result from the use of or inability to use the Neocities service, including but not limited to reliance on any information obtained on the Neocities service; or that result from mistakes, omissions, interruptions, deletion of files or e-mail, less of our damage to date, errors, defects, viruses, delays in operation, or transmission, or any failure of performance, whether or not limited to acts of god, communications failure, theft, destruction or unauthorized access to Neocities service records, programs or services. You hereby acknowledge that this provision will apply whether or not Neocities is given notice of the possibility of such damages and that this provision will apply to all content, merchandise or services available from Neocities or its affiliates. The terms of this section will survive any termination of this agreement.
  </p>

  <p>
    <strong>Accounts and Passwords</strong>
    <br>
    This agreement applies to all accounts, sub-accounts, and alternative account names associated with your principal account. You are responsible for the use of each of your accounts, whether used under any name or by any person, and for ensuring full compliance with this agreement by all users of that account. You are responsible for maintaining the confidentiality of your passwords. In the event of a breach of security through your account, you will be liable for any unauthorized use of the Neocities service until you notify Neocities support.
  </p>

  <p>
    <strong>Offensive Material</strong>
    <br>
    You understand that information available to you through Neocities may include materials that are unedited, sexually explicit or offensive to you and that your access to such materials is at your own risk. Neocities and its affiliates hereby disclaim any responsibility for or control over such materials.
  </p>

  <p>
    <strong>At-will Termination</strong>
    <br>
    This agreement will become effective on the date you create your Neocities account, and will remain in effect unless terminated by either party pursuant to this agreement. You may terminate the agreement and your subscription at any time for any reason or no reason. Neocities may immediately restrict, suspend or terminate without notice, your access to and use of Neocities upon any breach of this agreement, including the then-current Acceptable Use Policy. Neocities may also terminate the agreement at any time for any reason for no reason. In the event of any termination for breach of this agreement you may not establish a new subscription with Neocities for one year from the date of termination. Upon and after termination, Neocities will not be obligated to provide you with access to any stored content related to your account. Your only right with respect to any dissatisfaction with any terms, rules, policies, guidelines, or practices of Neocities in operating Neocities, any change in the content of Neocities, or any change in the amount or type of fees charged in connection with Neocities, is to terminate this agreement by delivering notice to Neocities, effective the day Neocities receives notification of termination.
  </p>

  <p>
    <strong>Subdomains</strong>
    <br>
    If Neocities assigns you a subdomain address for your use of Neocities, the right to use that subdomain address will belong only to Neocities and you will have no right to use that subdomain address except as allowed by Neocities in its sole discretion.
  </p>

  <p>
    <strong>Electronic Mail</strong>
    <br>
    Neocities may, but is not obligated to, block any incoming or outgoing e-mail message that Neocities determines, in its sole discretion, is unsolicited or otherwise violates the then-current Acceptable Use Policy. Neocities shall not be responsible for lost, misdirected or undeliverable electronic mail.
  </p>

  <p>
    <strong>Indemnity</strong>
    <br>
    Upon request of Neocities, you shall defend, indemnify and hold harmless Neocities, its officers, directors, employees, agents and licensees, from any claims, losses, damages, expenses, and fees including without limitation reasonable attorneys fees, arising out of or relating to your use of Neocities, including without limitation any violation by you of Neocities' Acceptable Use Policy. The terms of this Section will survive any termination of this agreement.
  </p>

  <p>
    <strong>Entire Agreement</strong>
    <br>
    This agreement constitutes the entire agreement between you and Neocities with respect to Neocities and supersedes all prior agreements between you and Neocities. Neocities' failure to enforce any provision of this agreement will not be construed as a waiver of any provision or right. In the event that a portion of this agreement is held unenforceable, the unenforceable portion will be construed in accordance with applicable law as nearly as possible to reflect the original intentions of the parties, and the remainder of the provisions will remain in full force and effect.
  </p>

  <p>
    <strong>Force Majeure</strong>
    <br>
    Neocities will not be liable in any amount for failure to perform any obligation under this agreement if such failure is caused by the occurrence of any unforeseen contingency beyond the reasonable control of such party including without limitation Internet outages, communications outages, fire, flood, war, act of God, or mutant space cat invasion.
  </p>

  <p>
    <strong>No Spam</strong>
    <br>
    Client shall not upload or send unauthorized or unsolicited advertising, junk or bulk e-mail, chain letters, solicitations, promotional materials, any form of lottery and gambling materials, or any other similar materials commonly known as "spam". Client shall not use or collect information about other Neocities clients or other users of Neocities' network and computer systems or use such information for the purpose of sending or facilitating the transmission of "spam". Client will be liable for spam cleanup fees, blacklist delisting fees, and any other damages that were caused by clients uploading or sending of UBE or other use of Neocities' service. If client uploads or sends "spam", Neocities may terminate this agreement immediately for cause and client shall be liable for liquidated damage charges described in the "Termination" section above as well as other damages that result from the violation of the terms and conditions of this agreement. If an IP address, IP subnet or domain assigned to Neocities is added to a Spam Blacklist for any reason, Neocities may terminate this agreement immediately and terminate all clients services for cause and client shall be liable for liquidated damage charges described in the "Termination" section above as well as other damages that result from the violation of the terms and conditions of this agreement. In the case of a compromised account which is unknowingly used to upload or send spam, the account and agreement may be restored for the first infraction at Neocities' sole discretion.
  </p>

  <p>
    <strong>Security</strong>
    <br>
    Access to Neocities' networks and systems, the Internet, and to certain online transactions involves the use of passwords, credit card, bank and other account numbers and information, and other personal nonpublic information ("Private Information"). Client shall use its best efforts to prevent any unauthorized use of Neocities' networks and systems or any authorized use of Private Information, and Client shall promptly report to Neocities any breach of security or suspected unauthorized use of Private Information. Neocities shall not be responsible or liable for any unauthorized use of any Private Information.
  </p>

  <p>
    <strong>No Interference</strong>
    <br>
    Client shall not restrict or inhibit Neocities or any users of Neocities' networks or computer systems from using and accessing the services provided by Neocities. Client shall not use Neocities' networks, systems, or its connections to the Internet in any way that may interfere with other clients or users of Neocities' services.
  </p>

  <p>
    <strong>Lawful Use</strong>
    <br>
    Client shall only use Neocities and its account with Neocities for lawful purposes in a manner that does not harm Neocities' network, equipment, systems, or other Clients. Client shall not transmit or post any material that violates any local, state, federal, or international law or regulation, including without limitation patent, trademark, trade secret, copyright, right of publicity, proprietary right, and obscenity laws. Client shall not transmit any abusive, deceptive, defamatory, fraudulent, harassing, illegal, libelous, profane, or vulgar material, or material encouraging conduct that may constitute a criminal offense or result in civil liability. Client shall not transmit any material, information, or code that contains software viruses, worms, or any other computer code, files, or programs that are designed to disrupt, damage, or limit or alter the functioning of any hardware, software, or telecommunications systems or equipment, or damage or obtain unauthorized access to any data or equipment of Neocities, its Clients, or any third party. Client shall not make any attempt to gain unauthorized access to any public or private system or network and shall not use the Internet to harass others or intercept data not intended for Client. Client shall not knowingly solicit or collect any personal information from a person that is under the age of 18 years of age. Personal information includes without limitation, name, address, phone number, social security number, or name of such person's school.
  </p>

  <p>
    <strong>Right to Restrict Access and Disconnect Service</strong>
    <br>
    Neocities may restrict access to all or part of Neocities' networks or computer systems without notice if Neocities believes in its sole discretion that client has violated any term or condition in this agreement or violated any term or condition in Neocities' acceptable use policies. In addition, client understands that Neocities reserves the right to disconnect services for short periods of time to do routine maintenance on Neocities equipment.
  </p>

  <p>
    <strong>Non-Payment - Service Interruption and Suspension</strong>
    <br>
    If Neocities provides a service with features that are provided based on payments, we may immediately terminate or suspend your account(s), and all or a portion of your service without notice if your payment is more than 30 days overdue. Data stored on a client's services may at our sole discretion not be available to the client until client's account is brought up to date by paying all oustanding invoices on said account, or alternative arrangements are made to the sole satisfaction of Neocities. Neocities is not responsible for data integrity, regardless of circumstance. Neocities strongly recommends keeping up to date and off network backups to protect against data loss. If we terminate or suspend your service, your license to use any software provided in connection with the service is also terminated or suspended (as applicable). If your Service is terminated, Neocities has the right to immediately delete all data, files, and other information stored in or for your account, services, and servers, without further notice to you. You must pay all charges for the Service through the date of termination. Should you wish to resume service after any suspension, a restoral of service fee may apply. This fee is in addition to all past due charges and other fees. If you are terminated for non-payment, we also reserve the right to refer your account to a third party collection agency and you agree to pay any collection fees or legal fees we may be charged to collect on your debt.
  </p>

  <h2>Acceptable Use Policy</h2>

  <p>
    At Neocities we value our users and wish to provide you with a positive Internet experience. Our goal is to offer you the ability to use and enjoy the site and services in order to enrich your business and recreational life. To assist Neocities in offering you the best service possible, all users need to follow the same rules and guidelines. These policies are intended to make the service available to all our customers as consistent and efficient as possible. You are obligated to adhere to these policies. These policies are used in conjunction with the terms of service agreement. Violating any of these policies grants Neocities the authority to take appropriate action to restrict or terminate your access.
  </p>

  <p>
    Please read the following as it sets forth the guidelines and rules for acceptable use of Neocities and sets forth conduct that is expressly prohibited. If you do not agree to be bound by this document you must end your use of Neocities immediately.
  </p>

  <p>
    <strong>Introduction</strong>
    <br>
    Neocities ("Neocities") has established this Acceptable Use Policy ("AUP") to enhance the use of our services by preventing unacceptable use. All users of Neocities services (the "Services") - those who access some of our Services but do not have accounts as well as those who have accounts or pay to subscribe to the Services (collectively "Customers") - are bound by and must comply with this AUP. In addition, certain Services (as indicated on this website) have a service specific Acceptable Use Policy which applies to such Service in addition to this AUP.
  </p>

  <p>
    Neocities supports unrestricted transfer of information and ideas over the Internet and does not actively monitor use of the Services under normal circumstances. Similarly, we generally do not exercise editorial control over the content of any Web site, electronic mail transmission, newsgroup, or other material created or accessible over or through the Services. However, in accordance with our Internet Services Terms and Conditions, we may remove any materials that, in our sole discretion, may be illegal, may arguably subject us to liability, or which may violate this AUP or any additional service specific AUP. Neocities will cooperate with law enforcement authorities in the investigation of any suspected or alleged crime. Neocities will also respond to any subpoena, court order or other legal process if we are legally compelled to do so. Your violation of this AUP may result in the suspension or termination of either your access to the Services and/or your Neocities account or other actions as detailed in Section III. Such action may be taken with or without notice depending on the severity of the violation and at Neocities' sole discretion. This AUP should be read in conjunction with our Terms and Conditions, service specific AUPs and any other policies. Neocities reserves the right to amend, revise or modify this AUP (or any service specific AUP) at any time and such amendment, revision or modification shall be effective upon the inclusion of such in text of this AUP (or service specific AUP) and use of the Services thereafter.
  </p>

  <p>
    As an account holder or user of Neocities you bear full responsibility for communications and/or content provided via your Neocities account and use of the particular service.
  </p>

  <p>
    Neocities does not assume the responsibility to actively monitor communications provided by users or from outside sources. Unless and until notified, Neocities is not likely to be aware of any violations of this AUP or legal violations. Neocities expects all users to notify us of any legal violations, violations of this policy or other matters of concern.
  </p>


  <h3>Violations of Neocities' Acceptable Use Policy</h3>
  <p>
    The following constitute violations of this AUP and you agree to refrain from such activities:
  </p>

  <p>
    <strong>Illegal or Potentially Illegal Use.</strong>
    <br>
    Using Neocities to transmit or make available any material (by e-mail, uploading, posting, or otherwise) or activity that, intentionally or unintentionally, violates any applicable local, state, national, or international law, or any rules or regulations promulgated there under or gives the indication that such violation may be occurring. By way of example, and not limitation, such activity would include the distribution of material potentially deemed illegal under current statutes.
  </p>

  <p>
    <strong>Harm to Minors</strong>
    <br>
    Using Neocities to harm, or attempt to harm, endanger, harass, or otherwise threaten minors in any way. This includes but is not limited to the collection of information from children in violation of the 1998 Children's Online Privacy Protection Act.
  </p>

  <p>
    <strong>Threats</strong>
    <br>
    Using the Services to transmit any material (by e-mail, uploading, posting, or otherwise) that threatens or encourages bodily harm or destruction of property.
  </p>

  <p>
    <strong>Harassment</strong>
    <br>
    Using the Services to transmit any material (by e-mail, uploading, posting, or otherwise) that harasses another either by the frequency of the activity or by the content.
  </p>

  <p>
    <strong>Fradulent activity.</strong>
    <br>
    Using the Services to make fraudulent offers to sell or buy products, items, or services, or to advance any type of financial scam such as "pyramid schemes" and "chain letters." Content that consists of make-money-fast schemes, pyramid or chain letters, unsolicited commercial information and/or information offensive to the recipient is prohibited.
  </p>

  <p>
    <strong>Forgery or impersonation.</strong>
    <br>
    Adding, removing, or modifying information in an effort to deceive or mislead is prohibited. Attempting to impersonate any person by using forged information or other identifying information is prohibited. The use of anonymous nicknames does not constitute impersonation.
  </p>

  <p>
    <strong>Unauthorized access.</strong>
    <br>
    Using the Services to access, or to attempt to access, the accounts of others, or to penetrate, or attempt to penetrate, security measures of Neocities' or another entity's computer software or hardware, electronic communications system, or telecommunications system, whether or not the intrusion results in the corruption or loss of data. Security violations include but are not limited to: 1) attempts to compromise or gain unauthorized access to any other Internet account or unauthorized system 2) altering the header of e-mail messages that conceal your e-mail address or prevents recipients from responding 3) interfering with any user, system or network, including any denial of service attack 4) any use or distribution of tools designed for compromising security including cracking tools, network probing tools, programs for guessing passwords or credit card numbers and any application that allows the remote control of another system without the knowledge of that systems operator.
  </p>

  <p>
    <strong>Copyright or trademark infringement.</strong>
    <br>
    Using Neocities to transmit any material (by uploading, posting, or otherwise) that infringes any copyright, trademark, patent, trade secret, or other proprietary rights of any third party, including, but not limited to, the unauthorized copying of copyrighted material, the digitization and distribution of photographs from magazines, books, or other copyrighted sources, and the unauthorized transmittal of copyrighted software, unless the use of the material is deemed fair use.
  </p>

  <p>
    <strong>Collection of personal data.</strong>
    <br>
    Using the Services to collect, or attempt to collect, personal information about third parties without their knowledge or consent.
  </p>

  <p>
    <strong>Blacklisting of IP Address space or Neocities domains.</strong>
    <br>
    Any action which causes any portion of Neocities' IP Address space or domains to be added to an Internet Blacklist of any kind. It is the customers responsibility to refrain from any action which causes Neocities' IP Address space or domains to be blacklisted in any way.
  </p>

  <p>
    <strong>Network disruptions and unfriendly activity.</strong>
    <br>
    Using the Services for any activity that adversely affects the ability of other people or systems to use Neocities. This includes "denial of service" (DoS) attacks against another network host or individual user. Interference with or disruption of other network users, network services, websites or network equipment is prohibited. A User may not, through action or inaction, allow others to use their account for access for illegal or inappropriate actions. A User may not permit their account, through action or inaction, to be configured in such a way that gives a third party the capability to use their account in an illegal or inappropriate manner.
  </p>

  <p>
    <strong>Auto-generating sites from pre-fabricated templates for other people</strong>
    <br>
    Using the Neocities API to generate a Neocities site for other people from a different web service is prohibited without our consent, unless that generating service is being completely operated by the owner of the web site on Neocities. This does not apply to any services providing HTML editing capabilities that use Neocities to save web sites edited by the user. This policy is in place due to third party services using Neocities to create SEO spam for their services. We can make exceptions to this, please contact us if you believe you have a legitimate use case.
  </p>

  <p>
    <strong>ENFORCEMENT</strong>
    <br>
    Neocities' reserves the right to suspend, block or cancel access to any and all Services when, in our judgment and sole discretion, an account may have violated this AUP. Neocities, by way of example and not limitation, may take any one or more of the following actions in response to complaints of conduct that amounts to a violation of this AUP:

    <ul>
      <li>Suspension of account, or blocking of access to Neocities services.</li>
      <li>Reporting of incident to appropriate law enforcement authorities.</li>
      <li>Filing of a legal lawsuit against violator of AUP if it causes signifigant damages, determined at our sole discretion.</li>
    </ul>
  </p>

  <h2>Neocities DMCA Copyright Policy</h2>

  <p>
    Neocities ("Company") has adopted the following general policy toward copyright infringement in accordance with the Digital Millennium Copyright Act (http://lcweb.loc.gov/copyright/legislation/dmca.pdf). The address of the Designated Agent to Receive Notification of Claimed Infringement ("Designated Agent") is listed at the end of this policy.
  </p>

  <p>
    Procedure for Reporting Copyright Infringement:
  </p>

  <p>
    If you believe that material or content residing on or accessible through Company’s websites or services infringes a copyright, please send a notice of copyright infringement containing the following information to the Designated Agent listed below:
  </p>

  <p>
    <ul>
      <li>
        A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright that has been allegedly infringed;
      </li>
      <li>
        Identification of works or materials being infringed;
      </li>
      <li>
        Contact information about the notifier including address, telephone number and, if available, e-mail address;
      </li>
      <li>
        A statement that the notifier has a good faith belief that the material is not authorized by the copyright owner, its agent, or the law; and
      </li>
      <li>
        A statement made under penalty of perjury that the information provided is accurate and the notifying party is authorized to make the complaint on behalf of the copyright owner.
      </li>
    </ul>
  </p>


  <p>
    <strong>Fair Use</strong>
    <br>
    Neocities believes in fair use, and that it is not in the best interests of organizations to censor their fans or critics using copyright law. As such, Neocities reserves the right to conduct a review to determine if the content in question falls under Fair Use before making the decision to remove content. Fair Use is defined under the Copyright Law of the United States, under Section 107:

    <ul>
      <li>
        The purpose and character of the use, including whether such use is of commercial nature or is for nonprofit educational purposes.
      </li>
      <li>
        The nature of the copyrighted work.
      </li>
      <li>
        The amount and substantiality of the portion used in relation to the copyrighted work as a whole.
      </li>
      <li>
        The effect of the use upon the potential market for, or value of, the copyrighted work.
      </li>
    </ul>
  </p>

  <p>
    <strong>NOTICE OF PUBLIC RECORD</strong>
    <br>
    NEOCITIES RESERVES THE RIGHT TO PUBLICLY DISCLOSE AND ANNOUNCE THE RECEPTION OF THE NOTICE OF COPYRIGHT INFRINGEMENT, AND THAT WILL INCLUDE ANY INFORMATION RECEIVED BY NEOCITIES REGARDING THE NOTICE, INCLUDING BUT NOT LIMITED TO THE ENTIRE COPY OF THE NOTICE.
  </p>

  <p>
    Please contact the Designated Agent to Receive Notification of Claimed Infringement for Company at https://neocities.org/contact.
  </p>
</div>
