<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Thanks to our Kickstarter backers!</h1>
  </div>
</div>

<div class="content single-Col misc-page">
  <p>Thanks to everyone who contributed to our <a href="https://www.kickstarter.com/projects/1262953102/neocities-30-an-interactive-html-css-course-for-ev/">Kickstarter campaign</a> to build an interactive HTML/CSS course!</p>
  
  <ul class="thankyou">
    <li><a href="//codinghorror.com">Jeff Atwood</a></li>
    <li><a href="//twitter.com/_ryanjohnson_">Ryan Johnson</a></li>
    <li><a href="//figure1.neocities.org/">Blake</a></li>
    <li><a href="//weien.org">Weien Wang</a></li>
    <li><a href="//caseorganic.com">@caseorganic</a></li>
    <li>Stu and Joan Clark</li>
    <li><a href="//dyingtime.neocities.org">José de Leon</a></li>
    <li><a href="//justjukka.neocities.org/">Jessica McCormick</a></li>
    <li><a href="//smacks.neocities.org">Mack</a></li>
    <li><a href="//noattentionspan.neocities.org/">Carl Quinn</a></li>
    <li>Lady Ramquist</li>
    <li><a href="//anhelocomperio.wordpress.com/">Cori Engman</a></li>
    <li><a href="//mattluu.com">Matt Luu</a></li>
    <li><a href="//boredzo.org">Peter Hosey</a></li>
    <li><a href="//instagram.com/blue_oak_art/">Buttisse</a></li>
    <li><a href="//thullbery.com">James "meow" Thullbery</a></li>
    <li><a href="//soemarko.com">Soemarko Ridwan</a></li>
    <li>Brad!</li>
    <li><a href="//mosscave.neocities.org">Evan Sirchuk</a></li>
    <li><a href="//kfang.neocities.org">Jim Chen</a></li>
    <li><a href="//www.jessespillane.com">Jesse Spillane</a></li>
    <li><a href="//g-mini.neocities.org/">G-Mini</a></li>
    <li><a href="//jonathanchang.org/">Jonathan Chang</a></li>
    <li><a href="//blog.voltagex.org">Adam Baxter (voltagex)</a></li>
    <li><a href="//transplant.neocities.org/index.html">Rae J W</a></li>
    <li>ArynChris</li>
    <li><a href="//svaard.neocities.org/">Svaard</a></li>
    <li><a href="//glipkerio.neocities.org">Chris H</a></li>
  </ul>
</div>
