<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Thanks to our Kickstarter backers!</h1>
  </div>
</div>

<div class="content single-Col misc-page">
  <img src="/img/kickstarterendpenelope.png" style="width: 40%;float:left; margin-right: 20px; margin-bottom: 25px">
  <p>Thanks to everyone who contributed to our <a href="http://www.kickstarter.com/projects/1262953102/neocities-30-an-interactive-html-css-course-for-ev/">Kickstarter campaign</a> to build an interactive HTML/CSS course for Neocities. We were thrilled to receive such an outpouring of community support.</p>
  <p>Work on the course is now underway!</p>
  
  <p>- Victoria &amp; Kyle</p>
  
  <ul class="thankyou">
    <li><a href="http://codinghorror.com">Jeff Atwood</a></li>
    <li><a href="http://twitter.com/_ryanjohnson_">Ryan Johnson</a></li>
    <li><a href="http://candyspotting.com">Sarah Holbrook</a></li>
    <li><a href="http://figure1.neocities.org/">Blake</a></li>
    <li><a href="http://weien.org">Weien Wang</a></li>
    <li><a href="http://caseorganic.com">@caseorganic</a></li>
    <li>Stu and Joan Clark</li>
    <li><a href="http://dyingtime.neocities.org">José de Leon</a></li>
    <li><a href="http://justjukka.neocities.org/">Jessica McCormick</a></li>
    <li><a href="http://smacks.neocities.org">Mack</a></li>
    <li><a href="http://noattentionspan.neocities.org/">Carl Quinn</a></li>
    <li><a href="http://psynapse.neocities.org">Psynapse: thoughtful automation</a></li>
    <li>Lady Ramquist</li>
    <li><a href="http://anhelocomperio.wordpress.com/">Cori Engman</a></li>
    <li><a href="http://mattluu.com">Matt Luu</a></li>
    <li><a href="http://boredzo.org">Peter Hosey</a></li>
    <li><a href="http://instagram.com/blue_oak_art/">Buttisse</a></li>
    <li><a href="http://thullbery.com">James "meow" Thullbery</a></li>
    <li><a href="http://soemarko.com">Soemarko Ridwan</a></li>
    <li>Brad!</li>
    <li><a href="http://mosscave.neocities.org">Evan Sirchuk</a></li>
    <li><a href="http://kfang.neocities.org">Jim Chen</a></li>
    <li><a href="http://www.jessespillane.com">Jesse Spillane</a></li>
    <li><a href="http://g-mini.neocities.org/">G-Mini</a></li>
    <li><a href="http://jonathanchang.org/">Jonathan Chang</a></li>
    <li><a href="http://blog.voltagex.org">Adam Baxter (voltagex)</a></li>
    <li><a href="http://transplant.neocities.org/index.html">Rae J W</a></li>
    <li>ArynChris</li>
    <li><a href="http://svaard.neocities.org/">Svaard</a></li>
    <li><a href="http://glipkerio.neocities.org">Chris H</a></li>
    <li><a href="http://siliconflorist.com">Rick Turoczy</a></li>
    <li><a href="http://www.tristanwaddington.com/">Tristan Waddington</a></li>
    <li><a href="http://albertogui.com">Alberto Guillermo de la Cruz</a></li>
    <li><a href="http://twitter.com/nuthatch">Stephen Ryner Jr. </a></li>
    <li><a href="http://www.pendantsoftware.com">Ijus Donteven     </a></li>
    <li><a href="http://camdez.com">Cameron Desautels </a></li>
    <li><a href="http://scottohara.me">Scott O'Hara</a></li>
    <li><a href="http://zzolo.org">Alan Palazzolo    </a></li>
    <li><a href="http://twitter.com/ChibiStardust">Chibi Stardust    </a></li>
    <li><a href="http://joshondesign.com/">Josh Marinacci    </a></li>
    <li><a href="http://similarselection.org">Jason Sutter</a></li>
    <li><a href="http://makersatwork.com">Steven Osborn     </a></li>
    <li><a href="http://www.protomx.com/">Evaristo Ramos, Jr.</a></li>
    <li><a href="http://mattblair.net">Matt Blair  </a></li>
    <li><a href="http://hopper.neocities.org">Hopper      </a></li>
    <li><a href="http://little-vampires.com/">Rebecca Hicks     </a></li>
    <li><a href="http://twitter.com/jonmilsom">Jon Milsom  </a></li>
    <li><a href="http://mygames.neocities.org">Blanca Ubis </a></li>
    <li>Lindsey</li>
    <li><a href="http://www.jcfiala.net/">John Fiala  </a></li>
    <li><a href="http://aviflax.com">Avi Flax    </a></li>
    <li><a href="http://www.krisjacque.com">Kris        </a></li>
    <li><a href="http://jacobroufa.com">Jacob Roufa </a></li>
    <li><a href="http://jbobbermen.neocities.org">Joshua Bobbermen  </a></li>
    <li><a href="http://ryanpcmcquen.org">Ryan P.C. McQuen  </a></li>
    <li><a href="http://kirbysayshi.com">Drew Petersen     </a></li>
    <li><a href="http://twitter.com/agbutteriss">Alicia Butteriss  </a></li>
    <li><a href="http://www.lukelengl.com">Luke Lengl  </a></li>
    <li><a href="http://nickboon.neocities.org">Nick Boon   </a></li>
    <li><a href="http://sconde.github.io">Sidafa Conde</a></li>
    <li><a href="http://anomalybeta.com/">Taymon A. Beal    </a></li>
    <li><a href="http://twitter.com/igormilla">igor milla  </a></li>
    <li><a href="http://www.rebelsheart.net">J. Stringer </a></li>
    <li><a href="http://genester.neocities.org">Genester</a></li>
    <li>Caroline Hughes</li>
    <li><a href="http://akhilindurti.com/">Akhil       </a></li>
    <li>andre maxwell</li>
    <li><a href="http://cln.neocities.org">Chen        </a></li>
    <li><a href="http://twitter.com/jhsu">Joe Hsu     </a></li>
    <li><a href="http://samgrover.com/">Sam Grover  </a></li>
    <li><a href="http://twitter.com/Roseanna_g">Roseanna Grundy   </a></li>
    <li><a href="http://nubecoder.neocities.org/">Christian   </a></li>
    <li><a href="http://leaena.com">Lindsey Smith     </a></li>
    <li><a href="http://www.paulmcmichael.com">Paul        </a></li>
    <li><a href="http://kyleblakewilson.com">Kyle Wilson </a></li>
    <li><a href="http://deepthought.co.nz/">d33pthought </a></li>
    <li>Marsh</li>
    <li><a href="http://elliestrejlau.com">Ellie Strejlau    </a></li>
    <li>Benjamin Bangsberg</li>
    <li><a href="http://philanthropicrobots.neocities.org">Anonymous Robot   </a></li>
    <li><a href="http://raph.es">Raphael Estrada   </a></li>
    <li><a href="http://www.talklittle.com">TalkLittle  </a></li>
    <li>Nikolai "Muffs" Lojek</li>
    <li><a href="http://mattorama.net">Matt Grommes</a></li>
    <li><a href="http://natethelurker.neocities.org">Nathan Szydlo     </a></li>
    <li><a href="http://spoiledcat.neocities.org/">Andreia Gaita     </a></li>
    <li><a href="http://www.brettchalupa.com/">Brett Chalupa     </a></li>
    <li><a href="http://pablo.rauzy.name/">p4bl0</a></li>
    <li><a href="http://mding5692.GitHub.io">Michael Ding</a></li>
    <li><a href="http://punctlibrium.com">Daniel Agman</a></li>
    <li><a href="http://www.fictosphere.com">The Fictosphere</a></li>
    <li><a href="http://mats.rorbecker.com/">Mats Rörbecker</a></li>
    <li><a href="http://www.DataMelon.io">Rick Carlino</a></li>
    <li><a href="http://kilmc.com">Kilian McMahon</a></li>
    <li><a href="http://kaso.one">Robert Kasanicky</a></li>
    <li><a href="http://www.kartar.net">James Turnbull</a></li>
    <li><a href="http://neptunemade.neocities.org">Alicia Neptune</a></li>
    <li><a href="http://www.geospex.com">Stephen Metts</a></li>
    <li><a href="http://www.backerkit.com">Maxwell Salzberg</a></li>
    <li><a href="http://twitter.com/freewizard">FreeWizard</a></li>
    <li><a href="http://www.uberebayshopdesign.com/mobile-responsive-ebay-shop-design/">Uber ebay templates</a></li>
    <li><a href="http://www.pfjones.co.uk/national-towbar-fitting-locations.html">PF Jones Tow Bar Fitting</a></li>
    <li><a href="http://www.1dash1.com">J. Scott Miller</a></li>
    <li><a href="http://about.me/spamagnet">Rob Scott</a></li>
    <li><a href="http://www.scenevr.com/">Ben Nolan</a></li>
    <li><a href="http://vanessashen.com">Vanessa Shen</a></li>
    <li><a href="http://nagato.neocities.org">Yuri Jew</a></li>
    <li><a href="http://slesar.neocities.org">Dima</a></li>
    <li><a href="http://d-m-adventure.neocities.org">Alex Huang</a></li>
    <li><a href="http://holmwell.com">Holmwell Software</a></li>
    <li><a href="http://michaelforstein.com">Michael Forstein</a></li>
  </ul>
</div>
