<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Learn How to Make Websites!</h1>
  </div>
</div>

<div class="content single-Col misc-page">
  <p>Learning how to make websites allows you to create any content you want, arrange that content in any way you like, and share that content with the world. It could be an information portal for teaching people <a href="http://sheldonbrown.com" target="_blank">how to repair bikes</a>, a graphics project, or a collection of your poetry.</p>

  <p class="delta">
        Coming Soon: <a href="https://www.kickstarter.com/projects/1262953102/neocities-30-an-interactive-html-css-course-for-ev">The Neocities HTML/CSS course</a>!
  </p>

  <p>We are currently fundraising for an interactive website building tutorial that will work seamlessly with Neocities. Until that project is complete, check out the following resources from other sites:</p>

  <h3>HTML</h3>

  <p>HTML is short for "HyperText Markup Language", and is the basic building block used to build all websites.</p>

  <ul>
    <li>
      <a href="http://www.htmldog.com/guides/html/beginner" title="Learn beginner HTML">HTML Beginner Tutorial</a>
    </li>
    <li>
      <a href="https://developer.mozilla.org/en-US/learn/html" title="Learn beginner HTML from Mozilla">Mozilla Learn HTML Resources</a>
    </li>
    <li>
      <a href="http://codepupil.com/" title="Learn from games">CodePupil.com teaches with games</a>
    </li>
    <li>
      <a href="http://teamtreehouse.com">Learn how to build websites with Treehouse</a>
    </li>
    <li>
      <a href="http://www.codecademy.com/tracks/web" title="online lessons">Online lessons at Codecademy</a>
    </li>
  </ul>

  <h3>CSS</h3>

  <p>CSS is short for "Cascading Style Sheets", which is the code used to set the style of your web pages. It is embedded in your HTML, and directs how your website should look. If HTML was your house, CSS would be what allows you to decorate the way it looks.</p>

  <ul>
    <li>
      <a href="https://developer.mozilla.org/en-US/learn/css" title="Learn beginner CSS from Mozilla">Mozilla Learn CSS Resources</a>
    </li>
  </ul>

  <h3>CSS Frameworks</h3>

  <p>CSS frameworks are pre-built CSS styles that make it easy to quickly build a nice looking web page without having to "roll your own" set of styles. Neocities itself uses one as the basis for our design. They are definitely worth checking out once you have an understanding of how CSS works.</p>
  <ul>
    <li>
      <a href="http://getbootstrap.com" title="Bootstrap" target="_blank">Twitter Bootstrap</a>
    </li>
    <li>
      <a href="http://purecss.io/" title="Yahoo!'s Pure CSS" target="_blank">Pure</a>
    </li>
    <li>
      <a href="https://github.com/scottaohara/Brass-Tacks" title="Brass Tacks Sass Framework" target="_blank">Brass Tacks</a>
    </li>
    <li>
      <a href="https://github.com/owenversteeg/min" title="Min: the world's smallest (995 bytes) CSS framework" target="_blank">Min</a>
    </li>
  </ul>

  <h3>JavaScript</h3>
  <p>JavaScript is the programming language that comes standard with all web browsers. You can embed JavaScript code into your HTML to allow you to program your websites to do things. JavaScript was once a weak language with a lot of problems, but it is now a very fast and powerful language that is used for both web browsers and for complicated server backends (with Node.js). It is a great beginners language if you want to learn how to program, and can be used to perform almost any kind of program.</p>

  <ul>
    <li><a href="https://developer.mozilla.org/en-US/learn/javascript">Mozilla Learn JavaScript Resources</a></li>
  </ul>

</div> <!-- end .content -->
