<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The web site of <%= username %></title>
    <!-- The style.css file allows you to change the look of your web pages.
         If you include the next line in all your web pages, they will all share the same look.
         This makes it easier to make new pages for your site. -->
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <h1>Welcome to my Website!</h1>

    <p>This is a paragraph! Here's how you make a link: <a href="http://neocities.org">Neocities</a>.</p>

    <p>Here's how you can make <strong>bold</strong> and <em>italic</em> text.</p>

    <p>Here's how you can add an image:</p>
    <img src="/neocities.png">

    <p>Here's how to make a list:</p>

    <ul>
      <li>First thing</li>
      <li>Second thing</li>
      <li>Third thing</li>
    </ul>

    <p>To learn more HTML/CSS, check out these <a href="http://neocities.org/tutorials">tutorials</a>!</p>
  </body>
</html>
