<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The web site of <%= username %></title>
    <style type="text/css">
      /* This is a CSS comment. CSS is how you can add style to your website, such as colors, fonts,
         and positioning of your HTML content. To learn how to do something, just try searching Google
         for questions like "how to change link color." To learn how another website does something,
         right-click on the page and select View Page Source. Have fun! */
      
      body {
        background-color: white;
        color: black;
        font-family: Verdana;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to my Website!</h1>

    <p>This is a paragraph! Here's how you make a link: <a href="http://neocities.org">Neocities</a>.</p>

    <p>Here's how you can make <strong>bold</strong> and <em>italic</em> text.</p>

    <p>Here's how you can add an image:</p>
    <img src="cat.png">

    <p>Here's how to make a list:</p>

    <ul>
      <li>First thing</li>
      <li>Second thing</li>
      <li>Third thing</li>
    </ul>

    <p>To learn more HTML/CSS, check out these <a href="http://neocities.org/tutorials">tutorials</a>!</p>
  </body>
</html>