<style>
  h3 { margin-top: 20px; }
</style>

<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Alternate Payment Options</h1>
  <h3 class="subtitle">Not everyone has a credit card, so we support many different types of payment.</h3>
  </div>
</div>

<div class="content single-Col misc-page txt-Center">
  <article>
    <section>
        <h2>PayPal</h2>
        <p>For people that can't use a Credit Card, we support PayPal for supporter upgrades.</p>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="5DBT66FUPFTJN">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        <h2>The Bitcoin Lifer Plan</h2>
        <p>
          We don't have a good way to charge recurring with Bitcoin. So instead, we've put together the <strong>lifer plan</strong>. Basically, if you send us three years worth of supporter ($180USD), we'll never charge you again for the supporter upgrade, and you'll basically get it forever!
        </p>
        <p>Be sure to <a href="/contact">contact us</a> after sending with the transaction ID so we can confirm and upgrade your account.</p>

        <p><img src="/img/bitcoin.png"></p>
        <p><b>1MPYyfoWK8CkAzhLzLLtZGa9dwEGT5dm2T</b></p>

        <h2>Gratipay:</h2>
        <script data-gratipay-username="neocities" src="//gttp.co/v1.js"></script>
      </section>
  </article>
</div> <!-- end .content -->
