<div class="header-Outro">
  <div class="row content single-Col">
    <div class="col col-50">
      <h2 class="beta">Manage Supporter Plan</h2>
    </div>
    <div class="txt-Right">
      <img src="/img/support-us.png" width="55">
    </div>
  </div>
</div>

<div class="content single-Col misc-page">
  <h3>Change your Supporter Plan</h3>
  <p>
    You currently have the <strong><%= parent_site.plan_name %> (<%= parent_site.maximum_space.to_space_pretty %>)</strong> - <%= @plan_name %>.
  </p>

  <a href="/plan/end">End plan</a>
</div>