<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Thank You!</h1>
  <h3 class="subtitle">Your support means a lot to us.</h3>
  </div>
</div>

<div class="content single-Col misc-page">
  <article>
    <div class="txt-Center"><img src="/img/heartcat.png"></div>

    <h1 class="txt-Center">You signed up for the Supporter Plan.<br>Thank you for your support!</h1>

    <p>
      Your support allows Neocities to continue our project to bring back the creative web. We will do our best to ensure that the site remains a great place for people to express themselves - one web page at a time.
    </p>

    <p>
      If you need anything, please don't hesitate to <a href="/contact">contact us</a>!
    </p>

    <p>
      On behalf of Penelope (the Neocities' cat) and everyone else at Neocities, thank you.
    </p>

    <p>
      <a href="/">Get Started</a>
    </p>
  </article>
  <%== erb :'_team', layout: false %>
</div>
