@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src:
		local('Lato Regular'),
		local('Lato-Regular'),
		/* from http://fonts.gstatic.com/s/lato/v10/nQhiC-wSiJx0pvEuJl8d8A.eot */
		url('/fonts/Lato_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v10/9k-RPmcnxYEPm8CNFsH2gg.woff */
		url('/fonts/Lato_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v10/v0SdcGFAl2aezM9Vq_aFTQ.ttf */
		url('/fonts/Lato_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=hLECvlEj3pKlnS4NFs8NQw#Lato */
		url('/fonts/Lato_400.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src:
		local('Lato Bold'),
		local('Lato-Bold'),
		/* from http://fonts.gstatic.com/s/lato/v10/sBtfDPlEIwvKKU53nAG7AQ.eot */
		url('/fonts/Lato_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v10/wkfQbvfT_02e2IWO3yYueQ.woff */
		url('/fonts/Lato_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v10/DvlFBScY1r-FMtZSYIYoYw.ttf */
		url('/fonts/Lato_700.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=H4oiIt_Ug9TU5ast0nUT-w#Lato */
		url('/fonts/Lato_700.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src:
		local('Lato Italic'),
		local('Lato-Italic'),
		/* from http://fonts.gstatic.com/s/lato/v10/bjaQ6jyWa8A2XFrSKceJyA.eot */
		url('/fonts/Lato_400italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/lato/v10/oUan5VrEkpzIazlUe5ieaA.woff */
		url('/fonts/Lato_400italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/lato/v10/LqowQDslGv4DmUBAfWa2Vw.ttf */
		url('/fonts/Lato_400italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=sbmVKhXgM5wMsElf_vy3Iw#Lato */
		url('/fonts/Lato_400italic.svg#Lato') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src:
		local('Open Sans Light'),
		local('OpenSans-Light'),
		/* from http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTXZ2MAKAc2x4R1uOSeegc5U.eot */
		url('/fonts/Open_Sans_300.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff */
		url('/fonts/Open_Sans_300.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf */
		url('/fonts/Open_Sans_300.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=DXI1ORHCpsQm3Vp6mXoaTVlIn5tFQcqMuf-jhyJP0ps#OpenSans */
		url('/fonts/Open_Sans_300.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local('Open Sans'),
		local('OpenSans'),
		/* from http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot */
		url('/fonts/Open_Sans_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff */
		url('/fonts/Open_Sans_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf */
		url('/fonts/Open_Sans_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=cJZKeOuBrn4kERxqtaUH3Zbd9NUM7myrQQz30yPaGQ4#OpenSans */
		url('/fonts/Open_Sans_400.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src:
		local('Open Sans Semibold'),
		local('OpenSans-Semibold'),
		/* from http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSnZ2MAKAc2x4R1uOSeegc5U.eot */
		url('/fonts/Open_Sans_600.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff */
		url('/fonts/Open_Sans_600.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf */
		url('/fonts/Open_Sans_600.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=MTP_ySUJH_bn48VBG8sNSllIn5tFQcqMuf-jhyJP0ps#OpenSans */
		url('/fonts/Open_Sans_600.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src:
		local('Open Sans Bold'),
		local('OpenSans-Bold'),
		/* from http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzHZ2MAKAc2x4R1uOSeegc5U.eot */
		url('/fonts/Open_Sans_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff */
		url('/fonts/Open_Sans_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf */
		url('/fonts/Open_Sans_700.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=k3k702ZOKiLJc3WVjuplzFlIn5tFQcqMuf-jhyJP0ps#OpenSans */
		url('/fonts/Open_Sans_700.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src:
		local('Open Sans Light Italic'),
		local('OpenSansLight-Italic'),
		/* from http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxrXcjzEax2LfQAlK8DdMzhA.eot */
		url('/fonts/Open_Sans_300italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff */
		url('/fonts/Open_Sans_300italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxrfB31yxOzP-czbf6AAKCVo.ttf */
		url('/fonts/Open_Sans_300italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=PRmiXeptR36kaC0GEAetxj4dnM32POWavC8T_whbZeI#OpenSans */
		url('/fonts/Open_Sans_300italic.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src:
		local('Open Sans Italic'),
		local('OpenSans-Italic'),
		/* from http://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBmfQcKutQXcIrRfyR5jdjY8.eot */
		url('/fonts/Open_Sans_400italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff */
		url('/fonts/Open_Sans_400italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/opensans/v10/xjAJXh38I15wypJXxuGMBp0EAVxt0G0biEntp43Qt6E.ttf */
		url('/fonts/Open_Sans_400italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=xjAJXh38I15wypJXxuGMBnNsigHlcrQGNV8nkUSFQfc#OpenSans */
		url('/fonts/Open_Sans_400italic.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src:
		local('Open Sans Semibold Italic'),
		local('OpenSans-SemiboldItalic'),
		/* from http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxo8mkAiYpFywqG2RvpzBnTU.eot */
		url('/fonts/Open_Sans_600italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff */
		url('/fonts/Open_Sans_600italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxi8cqLH4MEiSE0ROcU-qHOA.ttf */
		url('/fonts/Open_Sans_600italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=PRmiXeptR36kaC0GEAetxuVmfClkf66xvxL1SWm4y8M#OpenSans */
		url('/fonts/Open_Sans_600italic.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src:
		local('Open Sans Bold Italic'),
		local('OpenSans-BoldItalic'),
		/* from http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxrFt29aCHKT7otDW9l62Aag.eot */
		url('/fonts/Open_Sans_700italic.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff */
		url('/fonts/Open_Sans_700italic.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxp_TkvowlIOtbR7ePgFOpF4.ttf */
		url('/fonts/Open_Sans_700italic.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=PRmiXeptR36kaC0GEAetxntNmQEE9wZ6UZlmiISB1pg#OpenSans */
		url('/fonts/Open_Sans_700italic.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'Droid Serif';
	font-style: normal;
	font-weight: 400;
	src:
		local('Droid Serif'),
		local('DroidSerif'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaGfQcKutQXcIrRfyR5jdjY8.eot */
		url('/fonts/Droid_Serif_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff */
		url('/fonts/Droid_Serif_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaJ0EAVxt0G0biEntp43Qt6E.ttf */
		url('/fonts/Droid_Serif_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=0AKsP294HTD-nvJgucYTaHNsigHlcrQGNV8nkUSFQfc#DroidSerif */
		url('/fonts/Droid_Serif_400.svg#DroidSerif') format('svg');
}
@font-face {
	font-family: 'Droid Serif';
	font-style: normal;
	font-weight: 700;
	src:
		local('Droid Serif Bold'),
		local('DroidSerif-Bold'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwbFt29aCHKT7otDW9l62Aag.eot */
		url('/fonts/Droid_Serif_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwTqR_3kx9_hJXbbyU8S6IN0.woff */
		url('/fonts/Droid_Serif_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/droidserif/v6/QQt14e8dY39u-eYBZmppwZ_TkvowlIOtbR7ePgFOpF4.ttf */
		url('/fonts/Droid_Serif_700.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=QQt14e8dY39u-eYBZmppwXtNmQEE9wZ6UZlmiISB1pg#DroidSerif */
		url('/fonts/Droid_Serif_700.svg#DroidSerif') format('svg');
}
