// ----------------------------------------------------------------
//		Project Specific: Main Content Area
// ----------------------------------------------------------------

// Apply to <main> or top level <section> for styling
.content-Base{
  background:#f6f0e6;
	min-height:500px;
	padding-bottom:50px;

	h1, h2, h3, h4, h5, h6{
  	color:#e93250
	}
}
.content, .footer-Content {
	padding: 20px 3%;

  @media (max-device-width:480px), screen and (max-width:800px) {
    padding: 20px 7%;
  }

  @media screen and (min-width:1300px){
    padding: 20px 0;
  }
}
.single-Col{
}

// About page
.twitter-tweet.twitter-tweet-rendered{margin:0 auto 30px!important}

// Interior pages
.interior .header-Outro {
  padding-top: 30px;
  overflow: hidden;

  @media (max-device-width:480px), screen and (max-width:800px) {
    padding-top: 15px;
  }
}
.interior .header-Outro h1 {
  font-size: 2.5em;
  margin-top: 15px;

  a {
    color: white;
  }
}
.news-site-info {
  @media (max-device-width:480px), screen and (max-width:800px) {
    float: right;
    width: 35%;

    .col-50 {
      width:100%;
      margin-bottom: 1em!important;
    }
  }

}
.site-url {
  font-size:18px;
  margin-bottom: 8px;
  word-wrap: break-word;
}
.site-url a {
  color: #e93250;
  font-weight: bold;
}
.interior .header-Outro .subtitle {
  font-size: 1em;
  margin-top: -15px;
}
.content.wide {
  padding-left: 6%;
  padding-right: 6%;
}
.content.misc-page {
  background: #FAF6F1;
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.10);
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.10);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.10);
  padding: 25px 3% 40px 3%;

  @media (max-device-width:480px), screen and (max-width:800px) {
    padding: 22px 7% 40px 7%;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    &:first-child {
      margin-top: 0;
    }
  }
}
.content.single-Col.misc-page {
  background: #FFFFFF;
}
.content.misc-page h2 {
  font-size: 1.6em;
  margin-top: 1em;
}
.content.misc-page h3, .content.misc-page h4, .content.misc-page h5 {
  font-size: 1.2em;
}
.content.misc-page h6 {
  font-size: 1em;
}
.content.misc-page h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
}
.content.misc-page hr {
  margin: 35px 0 25px 0;
}

// Dashboard
.interior .header-Outro .col.col-50.signup-Area {
  padding-left: 0;
}
.interior .header-Outro.dashboard {
  .col.col-50.signup-Area {
    width: 293px!important;
    float: left;
  }
  .site-url {
    margin-top: -9px;
  }
  .btn-Action {
    font-weight: normal;
    font-size: 12px;
    padding: 7px 15px;
  }
  @media (max-device-width:480px), screen and (max-width:800px) {
    .signup-Area {
      display: none;
    }
    ul {
      display: none;
    }
    .row.content.wide {
      margin: 0;
      padding-top: 13px;
      padding-bottom: 10px;
    }
    .btn-Action {
      margin: 6px 4px 8px;
    }
    .site-url {
      margin-top: -13px;
    }
  }
}
.interior .header-Outro a {color:#E93250}
.interior .header-Outro .btn-Action {color:#fff}
.interior .signup-Area {
  min-height: 164px;

  @media (max-device-width:480px), screen and (max-width:800px) {
    margin: 0 auto;
  }
}
.interior .signup-Area img {
  -moz-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.10);
  -webkit-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.10);
  box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.10);
  border: 4px solid white;

  @media (max-device-width:480px), screen and (max-width:800px) {
    margin: 0 auto;
  }
}
.signup-Area label#domain-name {
  display: hidden;
}
.interior .header-Outro .screenshot {
  width: 357px;
  height: 212px;
  display: block;
  border: 6px solid white;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  background-size:cover;
  background-position: center top;

  @media (max-device-width:480px), screen and (max-width:800px) {
    width: 100%;
    height: 200px;
  }
}
.interior .header-Outro .screenshot.dashboard {
  width: 249px;
  background-size: 249px;
  height: 156px;
}
.interior .header-Outro ul {
  margin:0;padding:0;
}
.interior .header-Outro ul li {
  list-style: none;
  font-size: 80%;
  margin-bottom: 2px;
}
.interior .signup-Form fieldset {
  padding: 20px;
}
.interior .header-Outro .signup-Form {
  @media (max-device-width: 480px), screen and (max-width: 800px) {
    padding-bottom: 0;
  }
}
.interior .header-Outro h2 {
  margin-top: 12px;
  font-size: 1.8em;
}
.interior .header-Outro.dashboard h2 {
  @media (max-device-width: 480px), screen and (max-width: 800px) {
    margin-top: 0;
  }
}
.interior .header-Outro.dashboard .col-50:nth-of-type(2) {
  float: left;

  @media (max-device-width: 480px), screen and (max-width: 800px) {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.welcome {
  background: #daeea5 url(/img/heartcat.png) no-repeat;
  background-position:  20px center;
  background-size: 77px 81px;
  padding: 20px 20px 20px 111px;
  margin-bottom: 13px;

  @media (max-device-width: 480px), screen and (max-width: 800px) {
    padding: 111px 20px 20px 20px;
    background-position: center 20px;
  }
}
.welcome h4 {
  font-size: 1.2em;
  margin-bottom: .5em;
}
.welcome .close-button {
  float: right;
  background: url(/img/welcome-close.png) no-repeat;
  width: 19px;
  height: 19px;
}
.files {
  float:left;
  background: #EAE1D5;
  width: 100%;
  position: relative;
  margin-top: 7px;

  .column, input[type='checkbox'] {
    display: none;
  }

  .btn-group {
    float: left;
    margin-right: 15px;
    margin-left: -3px;

    >.btn+.btn {
      margin-left: 0px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
    .btn {
      padding: 7px 11px;
      margin-top: 1px;
      background: #77ABB8;
      @include box-shadow(0 0 5px rgba(0, 0, 0, 0.2));

      &:focus, &.active {
        outline: 0;
        background: #4F727B;
      }
    }
  }
}
.files {
  .btn.iconview-button {
    background: #4F727B;
  }
  .btn.listview-button {
    background: #77ABB8;
  }
}
.files.list-view {
  .btn.listview-button {
    background: #4F727B;
  }
  .btn.iconview-button {
    background: #77ABB8;
  }
}
.files .header {
  background: #5E95A1;
  color: #fff;
  float:left;
  width: 100%;
  padding: 10px 20px;
}
.files .breadcrumbs {
  float: left;
  font-weight:bold;
  margin-top: 4px;
  a {
    color: white;
  }
  .fa-angle-right {
    font-size: 1.3em;
    margin: 0 .15em 0 .2em;
  }
}
.files .actions {
  float: right;

  @media (max-device-width:480px), screen and (max-width:800px) {
    float: left;
    margin-top: 7px;

    .fa {
      display: none;
    }
  }
}
.files .btn-Action {
  margin-left: 8px;

  @media (max-device-width:480px), screen and (max-width:800px) {
    margin: 4px 3px 4px 0;
    padding: 8px 17px;
  }
}
.files .list {
  padding: 20px;
}
.files .list .upload-Boundary {
  float: left;
  border: 3px dashed #F6F0E6;
  width: 100%;
  margin: 18px 0;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 6px;
  min-height: 300px;
}
.files .list .upload-Boundary.with-instruction {
  background: url(/img/drag-drop.svg) no-repeat center center;

  @media (max-device-width:480px), screen and (max-width:800px) {
    background: 0;
  }
}
.files .uploading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color:rgba(0, 0, 0, 0.35);
  z-index: 100;
}
.files .uploading {
  background: #fff;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 14%;
  padding: 25px 40px 28px 40px;
  -webkit-box-shadow: 1px 1px 21px 5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    1px 1px 21px 5px rgba(50, 50, 50, 0.5);
  box-shadow:         1px 1px 21px 5px rgba(50, 50, 50, 0.5);
  border-radius: 10px;
}
.files .uploading p {
  margin-bottom: 2px;
}
.files .progress-bar {
 background:#CCCCCC;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 width: 100%;
 position: relative;
 margin-top: 14px;
 height: 10px;
  overflow: hidden;
}
.files .progress-bar .progress {
  background: #E93250;
  height: 100%;
   -webkit-border-top-right-radius: 0px;
-webkit-border-bottom-right-radius: 0px;
       -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
           border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    -webkit-border-top-left-radius: 20px;
 -webkit-border-bottom-left-radius: 20px;
        -moz-border-radius-topleft: 20px;
     -moz-border-radius-bottomleft: 20px;
            border-top-left-radius: 20px;
         border-bottom-left-radius: 20px;
 position: relative;
 overflow: hidden;
 display:block;
}
.file {
  float: left;
  padding: 5px 0px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 125px;
  text-align: center;
  display:block;
  position:relative;
}
.file .title {
  font-weight: bold;
  font-size: 10px;
  color: #666;
  margin-top: 4px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}
.html-thumbnail {
  font-size: 11px;
  margin-top: 5px;
  margin-left: 10px;
  display:block;
  position:relative;
  width:105px;
  height:63px;
}
.html-thumbnail.html img {
  width: 105px;
  height:63px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
.html-thumbnail.image img {
  max-width:105px;
  max-height:63px;
  width: auto;
  height: auto;
}
.html-thumbnail.misc {
  width: 63px;
  height: 63px;
  margin-left: auto;
  margin-right: auto;
}
.misc-icon {
  background: url(/img/misc-file.png) no-repeat 0px 0px;
  width: 67px;
  height: 67px;
  display: block;
  padding-top: 35px;
  font-size: 14px;
  color: #C0C0C0;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
.folder-icon {
  background: url(/img/folder.png) 6px 3px no-repeat;
  background-size: 95px;
  height: 69px;
  display: block;
  padding-top: 35px;
}
.overlay a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  display: block;
  margin-left: 5px;
}

.overlay a:hover {
  font-size: 14px;
}

.overlay .fa-trash, .modal .fa-trash {
  vertical-align: 1px;
}
.overlay {
  position:absolute;
  top:0;
  width:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.5);
  display:none;
}
.link-overlay {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 123px;
  height: 30px;
}
.file > .overlay {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding-top: 15px;
  background-color:rgba(0, 0, 0, 0.15);
}
.filehover:hover .overlay, .fileimagehover:hover .overlay {
    display:block;
}
.html-thumbnail.misc.fileimagehover .overlay {
  margin: 1px 0 0 2px;
}
@mixin dashboard-list-view {
  padding: 0;

  .upload-Boundary {
    padding: 0;
    border: 0;
    margin: 0;
  }
  .file {
    padding: 10px 20px;
    margin: 0;
    width: 100%;

    &:nth-child(even) {
      background: #EFE8DC;
    }
    .title {
      margin: 0;
      margin-left: 9px;
      margin-top: 2px;
      float: left;
      font-size: 14px;
      text-align: left;
      width: 30%;
      text-overflow: ellipsis;

      @media (max-device-width:480px), screen and (max-width:800px) {
        width: 33%;
      }
    }
    input[type='checkbox'] {
      display: block;
      float: left;
      margin-top: 5px;
      margin-right: 6px;
    }
  }
  .html-thumbnail, .misc-icon {
    margin: 0;
    float: left;
    width: 23px;
    height: 23px;
    background-size: 23px;
    padding: 0;
    font-size: 8px;

    img {
      max-width: 23px;
      max-height: 23px;
    }
  }
  .misc-icon {
    padding-top: 8px;
  }
  .folder-icon {
    background-position: 0 4px;
    background-size: 23px;
    height: 23px;
  }
  .file > .overlay {
    padding-top: 11px;
    margin-left: 20px;
    text-align: right;
    background-color: transparent;
    display: block;
    width: 94%;

    a {
      color: #e93250;
      display: inline;
      margin-right: 5px;
    }
    .link-overlay {
      width: 30%;
    }

    @media (max-device-width:480px), screen and (max-width:800px) {
      width: 84%;
    }
  }
  .html-thumbnail > .overlay {
    display: none;
  }
  .column {
    float: left;
    width: 13%;
    font-size: 13px;
    display: block;
    padding-top: 4px;

    @media (max-device-width:480px), screen and (max-width:800px) {
      display: none;
    }
  }
}
@media (max-device-width:480px), screen and (max-width:800px) {
  .files .list {
    @include dashboard-list-view;
  }
  .files .btn-group {
    display: none;
  }


}
.files.list-view .list {
  @include dashboard-list-view;
}
.site-actions {
  float: left;
  margin-top: 20px;
  font-size: 90%;
}
.site-actions a {
  color: #666;
}
@media(min-width:1200px) {
  .container {
    width: 1200px;
  }
}
@media(min-width:700px) and (max-width:1200px) {
  .container {
    width: 100%;
  }
}
.content.misc-page.columns { //.colmask
  float: left;
  padding: 0;
  position: relative;
  clear: both;
  width: 100%;

  h2:first-of-type, h3:first-of-type {
    margin-top: 0;
  }
}
.col-left {
  float: left;
  width: 100%;
  position: relative;
  border-right: 1px solid #ddd;
  h2 {
    margin-top: 1em;
    float: left;
    width: 100%;
    margin-bottom: .75em;
  }
  @media (max-device-width:480px), screen and (max-width:800px) {
    border: 0;
  }
}
.content.misc-page .col-33 h3 {
  font-size: 1.5em;
}
.content.misc-page .col-33 h3:nth-of-type(1) {
  margin-top: 0;
}
.right-col .col-left {
  right: 33%;
}
.content.misc-page.columns .col, .site-profile-padding {
  padding: 25px 30px 30px 30px;
  position: relative;
}
.site-profile-padding {
  float: left;
  width: 100%;
}
.content.misc-page.columns .col-66 {
  width: 66.95%;
  left: 33.05%;
  background: white;

  @media (max-device-width:480px), screen and (max-width:800px) {
    width: 100%;
    border-bottom: 1px solid #ddd;
    float: left;
  }
}
.site-profile .content.misc-page.columns .col-66 {
  padding: 0;
  min-height: 38em;

  @media (max-device-width:480px), screen and (max-width:800px) {
    min-height: 0px;
  }
}
.news-feed .content.misc-page.columns .col-66 {
  min-height: 56em;

  @media (max-device-width:480px), screen and (max-width:800px) {
    min-height: 0;
  }
}
.content.misc-page.columns .col-33 {
  width: 33%;
  left: 33%;
  float: right;

  @media (max-device-width:480px), screen and (max-width:800px) {
    width: 100%;
  }
}
.interior .header-Outro.with-columns {
    padding-top: 22px;
}
.interior .header-Outro.with-columns h3 {
  float: left;
  margin-bottom: 0;
  font-size: 1.7em;
}
.interior .header-Outro.with-columns .content {
  padding: 0;
}
.interior .header-Outro.with-columns .col {
  padding: 25px 0 8px 30px;

  @media (max-device-width:480px), screen and (max-width:800px) {
    padding: 10px 0 0 27px;
  }
}
.interior .header-Outro.with-columns .col-32 {
  width: 33%;

  h3 {
    @media (max-device-width:480px), screen and (max-width:800px) {
      display: none;
    }
  }
  @media (max-device-width:480px), screen and (max-width:800px) {
    position: absolute;
    top: 46px;
    right: -8px;
  }
}
.interior .header-Outro.with-columns .col-66 {
  width: 67%;
  border-right: 1px solid #0B0F11;

  @media (max-device-width:480px), screen and (max-width:800px) {
   border-right: 0;
   padding: 15px 0 27px 30px;
  }
}
.interior .header-Outro.with-columns .col-32 .edit {
  margin-top: 4px;
  float: right;
  margin-right: 30px;
  color: #fff;
}
.feed-filter {
  float: left;
  margin-top: 1.4em;
  font-size: 0.8em;
  margin-left: 1.5em;

  @media (max-device-width:480px), screen and (max-width:800px) {
    margin: 0;
    clear: left;
    margin-bottom: 1.5em;
  }
}
.interior .header-Outro .feed-filter a {
  color: white;
  margin-right: 13px;
}
.site-suggestion {
  float: left;
  width: 165px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 16.8em;
}
.stats {
  margin-bottom: 2em;
  float: left;
  width: 100%;
}
.content.misc-page.columns .stats .col {
  padding: 0;
  margin-bottom: 2em;
}
.large-portrait {
  border: 10px solid white;
  @include box-shadow(1px 1px 2px 1px rgba(0, 0, 0, 0.15));
  width: 100%;
  height: 241px;
  background-size: cover;
  float: left;
  margin-bottom: 20px;

  @media (max-device-width:480px), screen and (max-width:800px) {
    width: 60%;
    height: 160px;
  }
}
.site-portrait {
  border: 5px solid white;
  @include box-shadow(1px 1px 2px 1px rgba(0, 0, 0, 0.15));
  float:left;
  margin-bottom: .5em;
}
.site-portrait img {
  width: 155px;
  height: 116px;
}
.site-portrait .caption {
  display: block;
  clear: both;
  font-size: .8em;
  margin-top: .2em;
  margin-bottom: -.2em;
}
.news-profile-button {
  clear: both;
  margin: 20px auto 2em auto;
  text-align: center;

  .btn-Action:last-child {
    margin-left: 10px;
  }

  @media (max-device-width:480px), screen and (max-width:800px) {
    text-align: left;
  }
}
a.tag, a.tag:visited {
  font-size: .7em;
  text-transform: uppercase;
  background: #FFFFCC;
  color: #897106!important;
  float: left;
  padding: 1px 5px;
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.2);
  margin-right: 3px;
  margin-right: 10px;
  margin-bottom: 7px;
}
a.tag:hover {
  text-decoration: none;
  background: #FFEE8A;
}
.follower-list, .following-list {
  width: 100%;
  float: left;
  margin-bottom: 2em;
}
.avatar {
  height:37px;
  width:37px;
  margin: 0 4px 4px 0;
  float: left;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;
}
.misc-page.columns a:visited {
  color: $c-Brand-1;
}
.misc-page.columns a:focus {
  color: darken($c-Link, 15%)
}
.news-item {
  width: 100%;
  float: left;
  padding: 1.2em 0 1.2em 0;
  border-top: 1px solid #EBEBEB;
}
.news-item:nth-of-type(1) {
  padding-top: 0;
  border: 0;
}
.news-item .user {
  font-weight: bold;
  color: #000!important;
}
.news-item .you {
  color: #000!important;
}
.news-item .comment {
  color: #000;
  font-style: normal;
  font-size: .8em;
}
.news-item.for-me .title > .comment {
  color: #000;
  font-style: normal;
  margin-top: -.1em;
  font-size: .9em;
  margin-bottom: .2em;
  float: left;
  clear: both;
  margin-left: 61px;

  @media (max-device-width:480px), screen and (max-width:800px) {
    margin-left: 0px;
  }
}
.news-item .icon {
  width: 49px;
  height: 37px;
  background: #E6E6E6;
  float: left;
  padding-left: 12px;
  margin-right: 12px;
  a {
    background-position: 0px 0px;
    background-repeat: no-repeat;
  }
  @media (max-device-width:480px), screen and (max-width:800px) {
    display: none;
  }
}
.news-item.comment .icon {
  background: #DAEEA5;
}
.news-item.comment.for-me .icon, .news-item.tip.for-me .icon {
  background-size: 62px 62px;
  width: 82px;
  height: 62px;
  background-position: right top;
  background-repeat: no-repeat;
}
.news-item .icon-mini {

}
.news-item.update .icon {
  background: #E93250;
}
.news-item.tip .title .text .headline, .news-item.tip .title .text .headline a, .news-item.tip .date a {
  color: #229954!important;
}
.news-item.tip .icon {
  background: #229954;
}
.news-item.follow .icon {
  background: #3399CC;
}
.news-item .title {
  position: relative;
  width: 100%;
  float: left;

  .text {
    float: left;
    margin-top: .45em;
  }
}
.news-item .date {
  float: right;
  font-size: 11px;
  margin-top: 1.1em;
}
.news-item .date a {
  color: #aaa!important;
}
.news-item .files {
  background: #fff;
  padding: 0px;
  margin-bottom: 4px;
}
.news-item .file {
  width: auto;
  overflow: hidden;
  margin-bottom: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 17px;

  .html-thumbnail {
    width: 102px;
  }
  &:first-child .html-thumbnail.html {
    width: 540px;
    height: 405px;
    @media (max-device-width:480px), screen and (max-width:800px) {
      width: 270px;
      height: 202px;
    }
  }
  &:first-child .html-thumbnail.html img {
    aspect-ratio: 540 / 405;
    height: auto;
    max-width: 540px;
    width: 52vw;
    float: left;
    @media (max-device-width:480px), screen and (max-width:800px) {
      width: 270px;
      height: 202px;
    }
  }
}
.news-item .file .image-container {
  float: left;
  width: 100%;
}
.news-item .file a:hover {
  text-decoration: none;
}
.news-item .html-thumbnail {
  margin-top: 1px;
  margin-left: 0px;
  width: auto;
}
.news-item .site-suggestion {
  height: auto;
  margin-bottom: 10px;
}
.news-item .tag {
  float: none;
  margin-left: 4px;
}
.news-item .comments .actions, .news-item .comments p {
  margin-left: 47px;
}

.news-item .comments p {
  margin-bottom: .4em;
  margin-top: .15em;
  font-size: 1em;
}
.news-item .actions {
  font-size: 11px;
}
.news-item .actions a {
  margin-right: 6px;
}
.news-item .content {
  padding: 0;
  margin-left: 61px;

  @media (max-device-width:480px), screen and (max-width:800px) {
    margin-left: 0px;
  }
}
.news-item .actions, .news-item.comment .content {
  margin-left: 61px;

  @media (max-device-width:480px), screen and (max-width:800px) {
    margin-left: 0px;
  }
}
.news-item.comment .content {
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 10px;
}
.news-item.comment .comments .actions {
  margin-left: 47px;
}
.news-item .comments {
  margin-top: .7em;
}
.news-item .comments .comment {
  font-size: .8em;
  clear: both;
  margin-top: 1em;
}
.news-item .comments .comment .user {
  margin-right: 5px;
}
.news-item .comments .comment .actions {
  margin-top: .3em;
}
.news-item .comment-symbol {
  font-size: 80%;
  margin-left: .2em;
}
.news-item .avatar {
  margin-right: 10px;
}
//profile
.signup-Area.large {
  width: 418px;
  height: 236px;

  @media (max-device-width:480px), screen and (max-width:800px) {
    height: auto;
  }
}
.interior .header-Outro.with-site-image {
  padding-top: 20px;
}
.report {
  margin-top: 2em;
  float: left;
  width: 100%;
  font-size: .8em;
}
.report, .report a {
  color: #999;
}
.interior .header-Outro .profile-info {
  @media (max-device-width:480px), screen and (max-width:800px) {
    margin-top: 70px;
    text-align: center;
    padding: 10px 0 15px 0;
  }
}
.interior .header-Outro .actions {
  clear: both;
  a {
    margin-right: 6px;
  }
  a:first-of-type {
    margin-left: 0;
  }
}

.interior .header-Outro .col.col-50.signup-Area.site-display-preview-wrapper {
  @media (max-device-width:480px), screen and (max-width:800px) {
    padding: 0 7%;
  }
}

.interior .header-Outro .site-display-preview {
  @media (max-device-width:480px), screen and (max-width:800px) {
    margin: 0 auto 5px;
  }
}

.interior .header-Outro .site-info-row {
  @media (max-device-width:480px), screen and (max-width:800px) {
    padding: 20px 0%;
  }
}

.interior .header-Outro .stats {
  margin-bottom: 1.3em;
  float: left;
  width: 100%;
  margin-top: 1.9em;

  @media (max-device-width:480px), screen and (max-width:800px) {
    text-align: center;
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
  }
}

.interior .header-Outro .stats .tips {
  @media (max-device-width:480px), screen and (max-width:800px) {
    display: none;
  }
}

.interior .header-Outro .stats .stat {
  float: left;
  text-align: center;
  margin-right: 28px;
  color: #84997E;

  @media (max-device-width:480px), screen and (max-width:800px) {
    margin: 0;
    width: fit-content;
    min-width: 90px;
  }
}

.interior .header-Outro .stats strong {
  font-size: 1.5em;
  font-weight: normal;
  color: #DAEEA5;
}
.interior .header-Outro .stats span {
  font-size: .7em;
  text-transform: uppercase;
  clear: both;
  display: block;
}

.interior .header-Outro .stats .stat.tips {
  width: 60px;
}
#followLink {
  .follow {
    display: inline;
  }
  .following {
    display: none;
  }
  .unfollow {
    display: none;
  }
}
#followLink.is-following {


  .follow {
    display: none;
  }
  .following {
    display: block;
    width: 5.9em;
  }
  .unfollow {
    display: none;
  }
}
#followLink.is-following.unfollow {
  .follow {
    display: none;
  }
  .following {
    display: none;
  }
  .unfollow {
    display: block;
    width: 5.9em;
  }
}
.popover {
  background-color: #5E95A1;
  a {
    color: white;
  }
}
.popover.bottom .arrow:after {
  border-bottom-color: #5E95A1;
}
.col-33 .stats .stat {
  margin-bottom: .4em;
}
.col-33 .stats .stat span {
  width: 10em;
  float: left;
}
.archives {
  float: left;
  width: 100%;
  margin-bottom: 2em;
}
.archives img {
  float: left;
  border: 3px solid white;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
  width: 72px;
}
.archives img {
  margin-right: 10px;
}
.more {
  float: left;
  clear: both;
  margin-top: 1em;
  font-size: .8em;
}
.post-comment {
  background: #DAEEA5;
  width: 100%;
  padding: 20px 0 15px 30px;
  margin: 0 0 3px 0;

  input {
    width: 86%;
    float: left;

    @media (max-width:950px) {
      width: 82%;
    }
  }
  .btn-Action {
    margin-left: 10px;
    margin-top: 4px;
  }
}
.comment-policy {
  font-style: italic;
  font-size: .8em;
  margin-right: 45px;
  clear: both;
  margin-top: 2em;
}
.supporter-badge {
  background:url(/img/supporter.png);
  width: 99px;
  height: 24px;
  background-size: 99px;
  display: inline-block;

  @media (max-device-width:480px), screen and (max-width:800px){
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}
.title-with-badge {
  float: left;
  width: 100%;
  margin-bottom: 3px;
}
.title-with-badge span {
  margin-right: 5px;
}
.section {
  padding: 55px 8%;
  margin: 0 auto;
  float: left;
  background: white;
  width: 100%;
}
.section h2 {
  font-size: 2em;
  text-align: center;
  line-height: 150%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: .5em;
}
.section h3 {
  font-size: 1.4em;
  margin-top: 1.5em;
  margin-bottom: .6em;
  line-height: 1.6em;
}
.section p, .section li {
  font-size: .85em;
}
.section.previews {
  background: #fff;
  h2, h3 {
    color: #335062;
  }
  h2 {
    margin-top: 0.6em;
    margin-bottom: 2.1em;
  }
  h3 {
    line-height: 130%;
    font-size: 1.4em;
    margin-top: 0;
  }
  p {
    color: #111;
    line-height: 180%;
    font-size: .9em;
  }
  .row {
    /* margin: 5.5em 10%; */
    margin: 5.5em auto;
    padding: 0;

    @media (max-device-width:480px), screen and (max-width:800px){
      margin: 4em 5%;
    }

    &:first-of-type {
      margin-top: 3.5em;
    }
    &:last-of-type {
      margin-bottom: 2.5em;
    }
    .col {
      padding-left: 0;
      padding-right: 30px;
      &.text {
        padding-top: 2em;
        float: left;
      }

      @media (max-device-width:480px), screen and (max-width:800px){
        width: 100%;
        padding-right: 0px;
      }
    }
    .screenshot {
      width: 100%;
      height: 250px;
      margin-right: 30px;
      background-color: white;
      background-size: cover;
      background-repeat: no-repeat;
      border: 13px solid #4f7d88;
      @include box-shadow(1px 1px 2px 0px rgba(0, 0, 0, 0.18));

    }
    &:nth-child(3) .screenshot {
      border: 13px solid $c-Brand-1;
    }
    &:nth-child(4) .screenshot {
      border: 13px solid #BECF90;
    }
    &:nth-child(5) .screenshot {
      border: 13px solid #FFCC00;
    }
    &.right {
      .col {
        padding-right: 0;
        padding-left: 30px;
        &:first-child {
          float: right;
        }
        @media (max-device-width:480px), screen and (max-width:800px){
          padding-left: 0px;
        }
      }
    }
  }
}
.section.featured-Websites {
  background: #971D31;
  border-top: 1px solid #C02841;
  border-bottom: 1px solid #801629;
  padding: 30px 0;
  position: relative;

  h2.delta {
    color: white;
    margin: 0;
    text-align: left;
    margin-bottom: .5em;
    margin-left: 5.7%;
  }
  .btn-Action {
    margin-top: 1.8em;
    margin-right: 5.25%;
    padding: 10px 25px;
    font-size: 1em;
  }
}
.section.featured-Websites .nav {
  float:left;
  width:5%;
  height:45px;
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto 0px;
  position: absolute;
  top: 0; bottom: 0;
}
.section.featured-Websites .nav.prev {
  background-image:url(/img/hpgallery-prev.png);
}
.section.featured-Websites .nav.next {
  background-image:url(/img/hpgallery-next.png);
  right: 0;
}
.section.instructor-quotes {
  background: #971D31;

  h2, h3, p {
    color: #fff;
    text-align: left;
  }
  h2 {
    text-align: center;
  }
  p {
    font-size: 1em;
    font-style: italic;
    margin-right: 30px;
    margin-top: 20px;
    clear: both;
  }
  .image {
    float: left;
    margin-right: 22px;
  }
}
.section.features {
  background: #4F7E89;
  text-align: center;

  .row:first-of-type {
    margin-bottom: 0;
  }
}

.section.support {
  padding-bottom: 100px;
  p {
    font-size: 1.1em;
  }
}
.section.features .col {
  padding-left: 40px;

  @media (max-device-width:480px), screen and (max-width:800px){
    padding-left: 20px;
    width: 100%;
  }
}

.section.features h2, .section.features h3, .section.features p, .section.features a {
  color: #fff;
}
.section.features a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.section.features .fa {
  margin-right: 10px;
}
.section.features .fa-wrench {
  vertical-align: 2px;
  margin-right: 9px;
}
.section.features .fa-tachometer {
  margin-right: 11px;
}
.section.features p, .section.features h3 {
  text-align: left;
}
.section .stats {
  padding-top: 10px;
  padding-bottom: 30px;
}
.section .stats h2 {
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 0px;
  letter-spacing: 2px;
  font-family: sans-serif;
  margin-bottom: 0px;
  @media (max-device-width:480px), screen and (max-width:1200px){
    margin-top: 20px;
    font-size: 1.8em;
  }
}
.section .stats h3 {
  margin: 0;
}
.section .press {
  display: inline-block;
  clear: both;
  margin-top: 30px;
  margin-bottom: 0px;

  @media (max-device-width:480px), screen and (max-width:800px){
    margin-top: 0;
  }
}
.section .logo {
  float:left;
  background-repeat: no-repeat;
  margin-right: 30px;
  background-size: 100%;

  @media (max-width:1170px) and (min-width:900px){
    margin-right: 25px!important;

    &:last-child {
      margin-right: 0!important;
    }
  }
  @media (max-device-width:480px), screen and (max-width:900px){
    margin-top: 25px !important;
    display:block;
    float:none;
    margin: 0px auto 0 auto;
  }
}
.section .logo.wired {
  width: 211px;
  height: 44px;
  background-image: url(/img/wired-logo.png);
  margin-top: 6px;
  margin-right: 38px;

  @media (max-width:1170px) and (min-width:900px){
    width: 170px;
  }
  @media (max-device-width:480px), screen and (max-width:900px){
    margin-right: auto!important;
  }
}
.section .logo.fastco {
  width: 262px;
  height: 39px;
  background-image: url(/img/fastcompany-logo.png);
  margin-top: 7px;
  @media (max-width:1170px) and (min-width:900px){
    width: 220px;
  }
}
.section .logo.vice {
  width: 160px;
  height: 50px;
  background-image: url(/img/vice-logo.png);
  @media (max-width:1170px) and (min-width:900px){
    width: 120px;
    margin-top: 4px;
  }
}
.section .logo.ars {
  width: 187px;
  height: 62px;
  background-image: url(/img/ars-logo.png);
  margin-top: -4px;
  @media (max-width:1170px) and (min-width:900px){
    width: 130px;
    margin-top: 0;
  }
}
.section .press .more {
  color: #A0BAC0;
  float:right;
  margin-top: 6px;
  margin-right: 30px;
}
.section .quote {
  width: 70%;
  margin: 0 auto .5em auto;

  h3 {
    margin-top: .5em;
    text-align: center;
    font-style: italic;
    font-size: 1.4em;
    line-height: 159%;
    font-family: $times;
    color: #afcbd1;
  }
}
.section.press .quote a {
  color: #afcbd1;
}
.section.plans {
  @media(max-device-width:480px), screen and (max-width:550px) {
    padding: 55px 3%;
  }
}
.section.plans h2, .section.plans h3.subtitle {
  color:#4F7E89;
  text-align: center;
}
.section.plans h3.subtitle {
  margin: 0 0 -.25em 0;
}
.interior .section.plans {
  padding-top: 63px;
}
.plan-overview {
  margin-top: 3.5em;
  margin-bottom: 2em;
}
.plan-overview .header {
  display:table;
  width: 100%;
}
.plan-overview .header .col {
  font-size:.8em;
  text-transform: uppercase;
  padding: 8px 20px;
  display:table-cell;
}
.plan-overview .header .personal {
  background: #D6D6D6;
}
.plan-overview .header .professional {
  background: #DAEEA5;
}
.plan-overview .body {
  text-align: center;
  clear:both;
  display:table;
  width: 100%;
}
.plan-overview h3, .plan-chart h3 {
  color: black;
  font-weight:bold;
  font-size:1.2em;
  font-family: "Lucida Grande", verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: -3px;
  margin-top: 0;
}
.plan-overview .price {
  font-size: 2em;
}
.plan-overview .interval {
  font-size: .8em;
  margin-top: -.6em;
}
.plan-overview .btn-Action, .plan-overview .current-plan {
  margin: .9em 0 1.4em 0;
}
.plans .current-plan {
  @extend %btn;
  background: #777;
  &:hover{
    background: #777;
    cursor: default;
  }
}
.plan-overview .col {
  padding-bottom:1.5em;
  padding-left: 0;
  display: table-cell;
  background: #F8F8F8;
  float:none;
}
.plan-overview .body .col:nth-of-type(2), .plan-overview .body .col:nth-of-type(4) {
  background: #F5F5F5;
}
.plan-overview ul {
  list-style: none;
  padding: 0;
}
.plan-overview li {
  margin: 0;
}
.plan-overview .plan-image {
  background-repeat: no-repeat;
  background-position: center center;
  height: 81px;
  margin: 30px 0 5px 0;
}
.plan-overview .free .plan-image {
  background-image: url(/img/plaincat.png);
  background-size: 77px;
}
.plan-overview .supporter .plan-image {
  background-image: url(/img/heartcat.png);
  background-size: 77px;
}
.plan-overview .catbus .plan-image {
  background-image: url(/img/catbus.png);
  background-size: 95px;
}
.plan-overview .fatcat .plan-image {
  background-image: url(/img/fatcat.png);
  background-size: 70px;
}
.plan-chart {
  margin: 2em 0 0 0;
  width: 100%;
}
.plan-overview, .plan-chart {
	@media(max-width:800px) {
    font-size: 90%;
  }
	@media(max-device-width:480px), screen and (max-width:550px) {
    font-size: 80%;
  }
}
.plan-chart th {
  background: #D6D6D6;
  padding: 15px 0;
  font-weight: normal;
}
.plan-chart th.professional {
  background: #DAEEA5;
}
.plan-chart th p {
  margin: .3em 0 .6em 0;
}
.plan-chart td {
  border: 1px solid #ECECEC;
  background:#F5F5F5;
  padding: 7px 0;
  text-align: center;
}
.plan-chart .feature-column {
  width: 21em;
  text-align:right;
  font-size: .9em;
  font-weight: bold;
  border: 0;
  background: 0;
  padding-right: 15px;

  span {
    border-bottom: 1px dotted #bbb;
    cursor: help;
  }

  @media(max-device-width:480px), screen and (max-width:800px) {
    width: 26%;
  }
}
.plan-chart td:nth-child(even) {
  background: #F8F8F8;
}
.plan-chart .fa-check {
  color: #6CCC24;
}
.plan-overview .btn-Action, .plan-chart .btn-Action {
  @media(max-device-width:480px), screen and (max-width:900px) {
    padding: 7px 10px;
  }
}
.section.plans.welcome {
  padding: 63px 3% 0 3%;

  h3 {
    color: #5e95a1;
  }
  .subtitle {
    width: 68%;
    margin-left: auto;
    margin-right: auto;

    @media(max-device-width:480px), screen and (max-width:550px) {
      width: 100%;
    }
  }
  .plan-overview, >.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 990px;
    min-width: 900px;

    @media(max-device-width:480px), screen and (max-width:550px) {
      min-width: 0;
    }
  }
  >.row >.col {
    padding-left: 40px;

    &:first-child {
      padding-left: 0;
    }

    @media(max-device-width:480px), screen and (max-width:550px) {
      padding-left: 0;
      width: 100%;
    }
  }
  >.row {
    margin-bottom: 0;
  }
  .plan-overview {
    h3 {
      color: $c-Brand-1;
      font-size: $delta;
    }
    .col {
      float: left;
      background: 0;
      padding-bottom: 0;

      ul {
        clear: both;

        &.main-features {
          font-size: 140%;
          margin-bottom: .7em;
          li {
            margin-bottom: .25em;
          }
        }
      }
      li span {
        border-bottom: 1px dotted #bbb;
        cursor: help;
      }
      .plan-image {
          margin: 24px 15px 20px 0;
          float: left;
          width: 77px;
      }
      .price {
        font-size: 2.4em;
        margin-top: 30px;
      }
    }
    .col.free, .col.supporter {
      padding: 28px 45px 25px 45px;
      .content {
        padding: 0;
      }
    }
    .col.free {
      width: 29%;
      background-color: #EBEBEB;
      border: 1px solid #D5D5D5;
      border-right-width: 0;
      margin-top: 15px;
      margin-bottom: 15px;

      .main-features {
        margin-bottom: 76px;
      }
    }
    .col.supporter {
      width: 71%;
      background-color: #F5F5F5;
      border: 1px solid #E0E0E0;
      @include box-shadow(-1px 1px 5px 0px rgba(0,0,0,0.1));
      margin-bottom: 1.2em!important;

      .col:first-child {
        width: 38%;
      }
      .col:last-child {
        width: 62%;
        margin-top: .75em;
        .instructions {
          font-weight: bold;
          font-size: 100%;
          color: #777;
          margin-bottom: 1em;
        }
      }
      .btn-Action {
        margin-right: 3px;
      }
    }
    @media(max-device-width:480px), screen and (max-width:550px) {
      .col.free, .col.supporter, .col.supporter .col {
        width: 100%!important;
      }
      .col.free .main-features {
        margin-bottom: 10px;
      }
    }
    .row.content.txt-Center {
      margin-top: 0.6em;
    }
    .btn-Action {
      margin-bottom: 1em;
    }
  }
}
.section.bottom-signup {
//  padding-top: 1em;
//  padding-bottom: 6.5em;

  padding-top: 0;
  background: #4F7E89;
  padding-bottom: 5em;

  a {
    color: white;
    text-decoration: underline;
    font-weight:bold;
    &:hover {
      text-decoration: none;
    }
  }
  h2 {
    color: white;
    max-width: none;
  }
}
.selected {
  font-weight: bold;
}
.modal-body {
  max-height: 800px;
  overflow-y: visible;
}
.tt-dropdown-menu {
  background: #FFFFFF;
  cursor: pointer;
  border: 1px solid #ddd;
}
.tt-suggestion {
  margin:0;
  padding: 0px 10px 0px 10px;
  float: left;
  width: 100%;
  height: 32px;
  line-height: 32px;
}
.tt-cursor {
  background: #DAF3EF;
}
.interior .header-Outro.browse-page {
  overflow: visible;
}
.interior .header-Outro.browse-page .select-Container {
  overflow: none;
  padding: 2px 4px;
  width: 40%;
}
.browse-page .input-Area {
  width: auto;
  padding: 4px 5px;
}
.header-Outro .twitter-typeahead {
  top: -2px;
  color: #000;
}
.header-Outro .btn-Action {
  margin: 2px 0 0 10px;
}
.browse-page .text-Label {
  float: left;
  margin-right: 8px;
  font-weight: bold;
  line-height: 31px;
}
.browse-page h1 {
  margin-top: 0;
}
.browse-page .row.content.misc {
  form {
    padding: 0;
  }
  input {
    margin-top: 0;
    margin-bottom: 0;
  }
  &:last-child {
    padding-bottom: 68px;
  }
  p {
    margin-top: 1em;
  }
}
.misc-page .pagination {
  width: 100%;
  float: left;
}
.pagination .arrow {
  vertical-align: 1px;
}
.view-all-sites {
  font-size: 1.2em;
  margin-top: 1em;
}
.interior .header-Outro.with-columns .col.filter {
  padding-top: 0px;
  padding-bottom: 4px;
}
.dropdown-submenu .dropdown-menu {
  width: 1px;
}
.fa-heart {
  font-size: 0.7em;
  color: #e93250;
  vertical-align: .45em;
  margin-left: -.15em;
  display: inline;
}
.fa-user {
  margin-right: 0.25em;
  display: inline;
  font-size: 10px;
  vertical-align: .1em;
  margin-left: .1em;
}
.interior .header-Outro.editor {
  padding-top: 0px;
  overflow: hidden;
  width: 100%;
  margin-top: 22px;
  font-size: 15px;

  a, a:visited {
    color: white;
  }
  .breadcrumbs {
    float: left;
    margin: 4px 0;

    a {
      text-decoration: underline;
    }

    .filename {
      font-weight: bold;
    }

    @media (max-device-width:480px), screen and (max-width:800px) {
      width: 70%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .row.content {
    padding: 15px 20px;
    max-width: none;
    margin: 0;
  }
  .tools {
    color: #8099A7;
    float: right;

    .theme {
      font-size: .9em;
      display: inline;

      select#theme {
        vertical-align: baseline;
        background: #25333c;
        color: #8099A7;
      }

      @media (max-device-width:480px), screen and (max-width:800px) {
        display: none;
      }
    }
    #saveButton {
      margin-top: 2px;
    }
    .tooltip {
      &.bottom .tooltip-arrow {
        border-bottom-color: #971D31;
      }
      .tooltip-inner {
        background-color: #971D31;
      }
    }
  }
  #editorUpdates .tooltip-inner {
    padding: 14px 20px;
    width: 200px;
    white-space: normal;
  }
}

.row.editor {
  display: flex;
  height: calc(100vh - 105px);
  /* Width and background of the scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  /* Background of the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #1d1f21;
  }

  /* Style of the scrollbar thumb (the part you drag) */
  ::-webkit-scrollbar-thumb {
    background-color: #CCC;
    border-radius: 6px;
  }

  /* Style of the scrollbar thumb when hovering */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #B5B5B5;
  }

  /* Style of the scrollbar corner */
  ::-webkit-scrollbar-corner {
    background-color: #F5F5F5;
  }
}
.header-Outro.with-columns.press .col {
  padding: 25px 40px 15px 40px;
}
.content.misc-page.columns.right-col.press .col {
  padding: 25px 40px 40px 40px;
}
.brand-asset {
  margin-bottom: 2em;
  float: left;
  clear: both;
  background: rgba(228, 228, 228, 0.42);
  width: 100%;
  text-align: center;
  padding: 26px 0 5px;
  p {
    margin-top: 10px;
  }
}
.columns.press .col-66 {
  h3 {
    margin-bottom: 0;
    line-height: 150%;
    margin-bottom: 10px;
    margin-top: 1.5em;
  }
  blockquote {
    quotes: none;
    margin: 0 1.5em;
    font-style: italic;
    font-size: .85em;
  }
  blockquote:before, blockquote:after {
    content: none;
  }
}
.hide-on-mobile {
  @media (max-device-width:480px), screen and (max-width:800px) {
    display: none;
  }
}
.show-on-mobile {
  display: none;
  @media (max-device-width:480px), screen and (max-width:800px) {
    display: inline;
  }
}
table#latest-visitors {
  width: 100%;
  color: #777;
  font-size: .8em;

  td {
    white-space: nowrap;
    max-width: 0;
  }
  span {
    display: block;
  }
  .location {
    color: #2f4149;
    font-weight: bold;
    font-size: 1.2em;
  }
  .paths {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
#earth_div {
  width: 100%;
  height: 400px;
}
.content.misc-page.columns .col.globe {
  padding-right: 0;
  padding-top: 4px;
}
.news-feed .content.misc-page .col-50 {
  @media (max-device-width:480px), screen and (max-width:800px) {
    width: 100%;
  }
}
.section.thankyou {
  text-align: center;
  color: #4F7E89;
  padding: 6.5em 8% 7em;

  a {
    color: #4F7E89;
    text-decoration: underline;
  }
  img {
    margin-bottom: 1em;
  }
  p {
    font-size: 1em;
    margin-bottom: .5em;
    margin-top: .5em;
  }
  p:first-child {
    font-size: 120%;
    margin-bottom: .2em;
  }
}
ul.thankyou {
  list-style: none;
  margin-top: 1.5em;
  clear: both;

  li {
    display: inline-block;
    width: 32%;
  }
}

pre, code {
  background: #1d1f21;
  color: #FFFFFF;
}

.editor .left-col {
  padding: 1rem;
  overflow-y: scroll;

  @media (max-device-width:480px), screen and (max-width:800px) {
    width: 100% !important;
  }
}

.editor .right-col {
  padding: 1rem;
  position: relative;

  @media (max-device-width:480px), screen and (max-width:800px) {
    display: none;
  }
}

.chat-container {
  border-left: 1px solid #373737;
  font-family: Arial, sans-serif;
  font-weight: 300;
  font-size: 13.5px;
  line-height: 1.5em;

  .chat-box {
    height: calc(100vh - 180px);
    overflow-y: scroll;
    background-color: #1d1f21;
    font-weight: 300;
    font-size: 13.5px;
    line-height: 1.5em;
  
    p {
      font-weight: 300;
      font-size: 13.5px;
      word-break: break-word;
    }
  
    ul, ol {
      list-style: square;
    }
  
    li {
      font-weight: 300;
      font-size: 13.5px;
    }
  
    .message {
      margin-bottom: 12px;
      padding: 8px;
      border-radius: 4px;
      background-color: #333;
      color: #fff;
    }
    
    .bot-message {
      text-align: left;
    }
    
    .user-message {
      text-align: left;
      background-color: #5e95a1;
    }
  
    div code {
      display: inline;
      padding: 2px;
    }
  
    div pre {
      display: block;
      width: 100%;
    }
  
    div code {
      border-left: 0px;
      border: 0px;
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  
    div pre code {
      display: block;
    }
  
    .copy-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #acd473;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 4px;
    }
    
    .copy-button:hover {
      background-color: #45a049;
    }
  
  }

  #chat-form {
    padding: 10px;
    background-color: #252525;
    margin-bottom: 25px;

    input[type="text"] {
      margin-right: 10px;
      margin-bottom: 7px;
      background-color: #333;
      border: 1px solid #777;
      color: #fff;
      width: calc(100% - 90px);
    }

    button {
      margin-bottom: 5px;
    }
  }
}



.resize-handle {
  position: absolute;
  left: -5px; /* Adjust based on handle width to center it on the border */
  top: 50%;
  transform: translateY(-50%);
  width: 10px; /* Handle width */
  height: 40px; /* Handle height */
  background-color: #666; /* Handle color */
  cursor: ew-resize;
  z-index: 10;
}






.welcoming-cat {
  width: 200px;
  float: right;
  margin-top: -40px;
}
.section.tutorial-welcome {
  padding: 80px 18%;

  .option {
    margin: 3.5em 0;
  }
  h3 {
    margin-top: 0em;
    font-size: 1.3em;
  }
  p {
    font-size: 1.1em;
  }
}

.tagcloud .tag10 { font-size: 0.6em; font-weight: 90; }
.tagcloud .tag9 { font-size: 0.7em; font-weight: 100; }
.tagcloud .tag8 { font-size: 0.8em; font-weight: 200; }
.tagcloud .tag7 { font-size: 0.9em; font-weight: 300; }
.tagcloud .tag6 { font-size: 1.0em; font-weight: 400; }
.tagcloud .tag5 { font-size: 1.2em; font-weight: 500; }
.tagcloud .tag4 { font-size: 1.4em; font-weight: 600; }
.tagcloud .tag3 { font-size: 1.6em; font-weight: 700; }
.tagcloud .tag2 { font-size: 1.8em; font-weight: 800; }
.tagcloud .tag1 { font-size: 2.2em; font-weight: 900; }
.tagcloud .tag0 { font-size: 2.5em; font-weight: 900; }

#tipButton {
  @extend .btn-Action;
  background: -webkit-linear-gradient(top, #229954, #145A32);
  &:hover, &:active {
    @include linear-gradient(top, #0E6655, #0B5345);
  }
}

.ace_search {
  position: fixed!important;
  top: 105px!important;
}

.h-captcha iframe {
  width: 90% !important;
  border-radius: 10px;
}
