// ----------------------------------------------------------------
//		Site-Wide Typography Standards
// ----------------------------------------------------------------
body{font-family:$brand; font-weight:300}
h1, h2, h3, h4, h5, h6{font-family:$headings}

.giga                     {font:{size:$giga;    weight:700}}
.ultra                    {font:{size:$ultra;   weight:600}}
.mega                     {font:{size:$mega;    weight:300}}
h1, .alpha                {font:{size:$alpha;   weight:400}}
h2, .beta                 {font:{size:$beta;    weight:400}}
h3, .gamma                {font:{size:$gamma;   weight:400}}
h4, .delta                {font:{size:$delta;   weight:300}}
h5, .eps                  {font:{size:$eps;     weight:300}}
h6, .zeta                 {font:{size:$zeta;    weight:300}}
p, li, .base              {font:{size:$base;    weight:300}}
small, .tiny              {font:{size:$tiny;    weight:300}}
.mini                     {font:{size:$mini;    weight:300}}


// Text decorations
.action-Link{
  @extend %go;
  float:right;
}