<section class="section">  
<h2>Welcome to Neocities!</h2>

<h3><a href="/tutorial/html/">Start the Tutorial!</a></h3>
<p>Learn how to build websites from scratch
with interactive lessons from Neocities' head cat, Penelope.
The first chapter on basic HTML is out now, and more chapters
are in the works!</p>

<h3><a href="/dashboard/">Go to the dashboard</a></h3>
</section>