<section class="section tutorial-welcome">
<h2>Let's Get Started!</h2>

<a href="/tutorial/html/"><img src="/img/welcomingcat.png" class="welcoming-cat" style="margin-top: -20px;"></a>

<div class="option">
<h3><i class="fa fa-star" aria-hidden="true"></i> <strong>New to coding?</strong></h3>
<h3>Learn how to build websites from scratch
with lessons from the Neocities head cat, Penelope.</h3>
<p><a href="/tutorial/html/">Start the tutorial >></a></p>
</div>

<div class="option">
<h3><i class="fa fa-wrench" aria-hidden="true"></i> <strong>Already know HTML?</strong></h3>
<h3>Get started right away on building your website.</h3>
<p><a href="/dashboard">Go to the dashboard >></a></p>
</div>

<div class="option">
<h3><i class="fa fa-globe" aria-hidden="true"></i> <strong>Want to start by browsing?</strong></h3>
<h3>Discover new sites related to your interests, and keep track of your favorites.</h3>
<p><a href="/">Check out your news feed >></a></h3>
</div>
</section>