<div class="header-Outro">
  <div class="row content single-Col">
  <h1>IPFS Archives</h1>
  </div>
</div>

<div class="content single-Col misc-page">
  <article role="article">
    <% if @archives.length == 0 %>
      No archives yet.
    <% else %>
      <table class="table">
        <tr>
          <th>IPFS Hash <small style="display: inline"><a href="/permanent-web">(what is this?)</a></small></th>
          <th>Archived Time</th>
        </tr>
        <% @archives.each do |archive| %>
          <tr>
            <td><a href="<%= archive.url %>"><%= archive.ipfs_hash %></a></td>
            <td><%= archive.updated_at.ago.downcase %></td>
          </tr>
        <% end %>
      </table>

      <p>
        This is a preview release of a new technology. We're still figuring things out, and may stop hosting archives without notice. <a href="/permanent-web">Learn how you can host your own copies of these archives</a>.
      </p>
      <p>
        Archives are captured once every <%= Archive::ARCHIVE_WAIT_TIME / 60 %> minutes, so if you don't see your latest changes, check back later.
      </p>
      <p>
        The URLs are using <a href="https://github.com/neocities/hshca">hshca</a>, a standard for using cryptographic hashes with subdomains.
      </p>
    <% end %>
  </article>
</div>
