<div class="comic" style="height: 967px; background-image: url(/img/tutorial/ch1pg1.png);">
  <div class="dialogue">
    Oh, a new student!
  </div>
  <div class="dialogue">
    Ahem, please come in!
  </div>
  <div class="dialogue">
    I'm Penelope, and I'll be your teacher.
  </div>
  <div class="dialogue">
    What's your name?
  </div>
</div>

<script>
  function checkHomework(editor) {
    alert('this checks homework, but its true for now')
    return true
  }
</script>
