<div class="comic" style="height: 500px">
  <div class="dialogue">
    And that's it for Chapter One! Here's a new badge for your first ever version of victoria.neocities.org!
  </div>
  <div class="dialogue">
    But you're not done yet! There's much in store for you: Adding colors, fonts, backgrounds, and more, all in chapter 2!
  </div>
</div>

<script>
  function checkHomework(editor) {
    alert('check homework here')
  }
</script>
