<div class="comic" style="height: 900px; background-image: url(/img/tutorial/ch1pg10.png); background-size: 800px;">
  <div class="dialogue" style="top: 35px">
    And that's it for Chapter One! Congrats on your first ever version of <a href="<%= current_site.uri %>"><%= current_site.username %>.neocities.org</a>!
  </div>
  <div class="dialogue" style="top: 50px;left:580px; width:180px;">
    This is just the beginning. Later you'll learn about adding colors, fonts, layouts, and more. We'll chat again soon!
  </div>
</div>

<div class="welcome">
  <h4>Thank you!</h4>
  <p>Thanks for trying out the first edition of the Neocities tutorial! This is a work in progress—<a href="/contact">let us know</a> if you have any questions or suggestions.</p>
  <p>To continue working on your site, head to the <a href="/dashboard">dashboard</a>!</p>
  <p>You can also check out all the <a href="/browse">cool sites on Neocities</a> and follow them with your <a href="/">news feed</a>.</p>
</div>
