<div class="comic" style="height: 900px; background-image: url(/img/tutorial/ch1pg10.png);">
  <div class="dialogue">
    And that's it for Chapter One! Here's a new badge for your first ever version of victoria.neocities.org!
  </div>
  <div class="dialogue" style="top: 0;left:450px">
    But you're not done yet! There's much in store for you: Adding colors, fonts, backgrounds, and more, all in chapter 2!
  </div>
</div>

<script>
  function checkHomework(editor) {
    alert('check homework here')
  }
</script>
