<div class="comic" style="height: 500px">
  <div class="dialogue">
    Great! 
    Check out your site at <a href="">victoria.neocities.org</a>. 
    You did it!
  </div>
  <div class="dialogue">
    But... hm... it needs a little something more. Let's make your name a header by putting header tags around it. 
  </div>
  <div class="dialogue">
    Change the text to this: <h1>Victoria's Website</h1>
    and click save.
  </div>
</div>

<div class="welcome">
  <h4>Heading Tags</h4>
  <p>Here are all the header tags, for all your needs—from the most important to the least!</p>

  <pre>
    <h1></h1>
    <h2></h2>
    <h3></h3>
    <h4></h4>
    <h5></h5>
    <h6></h6>
  </pre>
</div>

<script>
  function checkHomework(editor) {
    alert('check homework here')
  }
</script>
