<div class="comic" style="height: 500px; background-image: url(/img/tutorial/ch1pg3.png); background-size: 483px;">
  <div class="dialogue" style="left: 50px; top: 30px;">
    Great work! Let's move on to writing your first tag.
    <!-- Check out your site at <a href="">victoria.neocities.org</a>. -->
  </div>
  <div class="dialogue" style="left: 300px; top: 25px; width: 250px">
    Let's make your name a heading by putting a <strong>Heading Level 1 tag</strong> around it.
  </div>
  <div class="dialogue" style="left: 330px; top: 120px; width: 250px">
    Change the text to this: <strong><span id="answer"></span></strong>
    and click save.
  </div>
</div>

<div class="welcome">
  <h4>Heading Tags</h4>
  <p>Here are all the heading tags, for all your needs—from the most important to the least!</p>

  <pre>
    <code class="html">
      &lt;h1&gt;Really important heading!&lt;/h1&gt;
      &lt;h2&gt;Secondary heading&lt;/h2&gt;
      &lt;h3&gt;Tertiary heading&lt;/h3&gt;
      &lt;h4&gt;Other heading&lt;/h4&gt;
      &lt;h5&gt;Minor heading&lt;/h5&gt;
      &lt;h6&gt;Very minor heading&lt;/h6&gt;
    </code>
  </pre>
</div>

<script>
  var answer = '<h1>'+sessionStorage.getItem('name')+"'s Website</h1>"

  $('#answer').text(answer)

  function checkHomework() {
    var html = editor.getValue()
    var match = '<html.+>.+<body>.+'+answer+'.+</body>.+</html>'
    var re = new XRegExp(match, 'gis')

    if(html.match(re) === null) {
      notok("That's not right! Try again.")
    } else {
      sessionStorage.setItem('tutorialHtml', html)
      ok('Great, you did it!', '/tutorial/html/4')
    }
  }
</script>
