<div class="comic" style="height: 480px; margin-top: 2em; background-image: url(/img/tutorial/ch1pg4.png); background-size: 489px;">
  <div class="dialogue" style="left: 75px; width: 170px">
    Now let's add a paragraph of text below the <strong>h1</strong> heading. Perhaps "Welcome to my website" or your favorite quote.
  </div>
  <div class="dialogue" style="left: 290px; top: -10px; width:190px">
    To make a paragraph, surround your text with the <strong>&lt;p&gt;</strong> tag. So it should look something like
    <strong>&lt;p&gt;Welcome!&lt;/p&gt;</strong>
  </div>
</div>

<div class="welcome">
  <h4>What do I put on my website?</h4>
  <p>With HTML, you can make the exact website that you want to make, free from the limits of social networks. It could be a personal page or it could be totally anonymous! You could write about your interests, share artwork, or post photos. You'll learn about adding links and images soon.</p>
</div>

<script>
  function checkHomework() {
    var html = editor.getValue()
    var match = '<html.+>.+<body>.+<h1>.+</h1>.+<p>.+</p>.+</body>.+</html>'
    var re = new XRegExp(match, 'gis')

    if(html.match(re) === null) {
      notok("That's not right! Try again.")
    } else {
      sessionStorage.setItem('tutorialHtml', html)
      ok('Great, you did it!', '/tutorial/html/5')
    }
  }
</script>
