<div class="comic" style="height: 500px">
  <div class="dialogue">
    Now let's add a line of text below—perhaps "Welcome to my website" or your favorite quote.
  </div>
  <div class="dialogue">
    To make a paragraph, surround your text with the <p> tag. So it should look something like 
    <p>Hello!</p>
  </div>
</div>

<script>
  function checkHomework(editor) {
    alert('check homework here')
  }
</script>
