<div class="comic" style="height: 600px; background-image: url(/img/tutorial/ch1pg5.png); margin-top: 3em">
  <div class="dialogue">
    You're writing HTML! You're doing it! Everything you need to know is just another tag!
  </div>
  <div class="dialogue" style="top: -20px; width: 320px">
    <p>For example, links look like this:</p>

    <p>[a href="http://neocities.org"]Check out Neocities![/a]</p>
    
    <p>Add a link to your favorite site to the end of the paragraph, right before the [/p] closing tag!</p>
  </div>
</div>

<div class="welcome">
  <h4>Nesting</h4>
  <p>Tags always need to be nested properly, like Russian dolls. So this is okay:
<pre>
<p>Welcome! <a>Link!</a></p>

But this isn't!

<p>Welcome! <a>Link!</p></a>
</pre>
</p>
</div>

<script>
  function checkHomework(editor) {
    alert('check homework here')
  }
</script>
