<div class="comic" style="height: 500px">
  <div class="dialogue">
    Great job! You can see what you've done so far at <a href="">victoria.neocities.org</a>. Now let's try an image.
  </div>
  <div class="dialogue">
    Your Neocities web directory already includes a portrait of me called cat.png.
  </div>
  <div class="dialogue">
    Add it to your page like so:
  </div>
  <div class="dialogue">
    That's it! No closing tag needed for images.
  </div>
</div>

<div class="welcome">
  <h4>Links and Images</h4>
  <p>If the page or image you're referring to is already in your Neocities web directory, you can call it by its filename: for example, index.html or cat.png.</p>

  <p>Otherwise, use the full URL: http://neocities.org/img/heartcat.png</p>
</div>

<script>
  function checkHomework(editor) {
    alert('check homework here')
  }
</script>
