<div class="comic" style="height: 500px">
  <div class="dialogue">
    Now maybe your website needs a list. Here's how an unordered list looks:

    <ul>
      <li>websites</li>
      <li>yarn</li>
      <li>catnip</li>
    </ul>
  </div>
  <div class="dialogue">
    First, add a list to your page, but replace my favorite activities with your own! 
  </div>
  <div class="dialogue">
    Second, put an h2 header above the list with some kind of title like "Interests."
  </div>
</div>

<div class="welcome">
  <h4>Lists</h4>
  <p>You can make an ordered (numbered) list like so:</p>
  <ol>
  <li>First item</li>
  <li>Second item</li>
  <li>Third item</li>
  </ol>
</div>

<script>
  function checkHomework(editor) {
    alert('check homework here')
  }
</script>
