<div class="comic" style="height: 600px; background-image: url(/img/tutorial/ch1pg8.png);">
  <div class="dialogue">
    Now add a link to one of your list items. If nested properly, it should look something like this:

    <li><a href="http://yarn.com">Yarn</a></li>
  </div>
</div>

<div class="welcome">
  <h4>Tags so far</h4>
  <p>Headings: <h1>Title of the page!</h1>
    <h2>Less important title</h2></p>

  <p>Paragraphs: <p>Hello!</p></p>

  <p>Links: <a href="http://wikipedia.org">Click here!</a></p>

  <p>Images: <img src="hello.png"></p>

  <p>Lists</p>
</div>

<script>
  function checkHomework(editor) {
    alert('check homework here')
  }
</script>
