<div class="comic" style="height: 600px; background-image: url(/img/tutorial/ch1pg9.png);">
  <div class="dialogue">
    Good work! Everything you've written has been saved to index.html, which is the homepage people see when they visit your site.
  </div>
  <div class="dialogue" style="left: 280px;top: 140px">
    You can find and edit  index.html by visiting your Neocities dashboard.
  </div>
  <div class="dialogue" style="left: 280px;top: 570px">
    A cheat sheet of all the tags you've learned can be found in the tutorial section.
  </div>
</div>

<script>
  function checkHomework(editor) {
    alert('check homework here')
  }
</script>
