<div class="comic" style="margin-top: 5em; height: 650px; background-image: url(/img/tutorial/ch1pg9.png); background-size: 481px">
  <div class="dialogue" style="top: -23px; left: 10px; width: 230px">
    Great work! You can save everything you've coded so far to your <a href="<%= current_site.uri %>">Neocities site</a> to continue working on it.
    It'll be saved as <strong>index.html</strong>, which is the first web page people see when they visit your site.
  </div>
  <div class="dialogue" style="left: 283px;top: 190px; width:160px">
    You can can find and edit index.html by visitng your <a href="/dashboard">Neocities dashboard</a>.
  </div>
  <div class="dialogue" style="left: 280px;top: 580px">
    <!-- A cheat sheet of all the tags you've learned can be found in the tutorial section. -->
  </div>
</div>

<script>
  function checkHomework(editor) {
    alert('check homework here')
  }
</script>
