// -----------------------------------------------------------------------
// 	You wrote quick, liklely bad code.  It stays here until you can
//	refactor it back into the main code-base and make it suck less
// -----------------------------------------------------------------------