// ----------------------------------------------------------------
//		Project Specific: Browse Websites Gallery
// ----------------------------------------------------------------

.website-Gallery{
  list-style:none;
  padding:10px 0;
  
  li{
    @extend .col-25;
    float:left;
    margin-bottom:$spacing*2;
    
    @media (max-device-width:480px), screen and (max-width:800px){
      width:50%
    }
  }
  
  a{
    padding:0 $spacing*2;
    display:block;
  }
}

.neo-SS, .neo-Screen-Shot{
  background:#fff;
  @include box-shadow($bs-4);
  display:block;
  height:auto!important;
  padding:$spacing*2;
  position:relative;
  width:100%;
}

.img-Holder{
  -moz-background-size:100% auto!important;
  -webkit-background-size:100% auto!important;
  background-size:100% auto!important;
  display:block;
}

.hp-Gallery img, .neo-Screen-Shot img{
  width:100%
}
