// ----------------------------------------------------------------
//		Project Specific: Main Content Area
// ----------------------------------------------------------------

// Apply to <main> or top level <section> for styling
.content-Base{
  background:#f6f0e6;
	min-height:500px;
	padding-bottom:30px;
	padding-top:20px;
	
	h1, h2, h3, h4, h5, h6{
  	color:#e93250
	}
	
	.content{
		
	}
}

.single-Col{
  max-width:800px;
}

// About page
.twitter-tweet.twitter-tweet-rendered{margin:0 auto 30px!important}

// Dashboard
.dash-SS{border:1px solid #ccc; background:rgba(255,255,255,.7); padding:1em; margin-bottom:20px}