{% block content %} 
<section class="content">

<h1 class="giga">404</h1>
<p>Normally a 'sorry, but bla bla bla' message would go here.  But quite frankly, you probably did something stupid.</p>
<p>
	Use the navigation above to go to one of the pages you clearly didn't know how to spell into your address bar.
</p>

</section> <!-- end .content -->
{% endblock %}