{% layout "int" %}
{% block title %}Dashboard{% endblock %}

{% block content %} 
<div class="content">
  
  <h2>Your website</h2>

  <section class="row">
    <div class="col col-60">
      put left side code here
    </div>
    
    <div class="col col-40">
      put right side code here
    </div>
    
  </section>
	
	
</div> <!-- end .content -->
{% endblock %}