{% layout "int" %}
{% block title %}Tutorials{% endblock %}

{% block content %} 
<div class="content single-Col">

  <h2 class="alpha">
    Learn to Code!
  </h2>
  
  <p class="delta">
    We are currently building out our library of tutorials.
  </p>
  
  <p>
    Until then, please check out the following links to get you started:
  </p>
  
  <ul>
    <li>
      <a href="http://www.htmldog.com/guides/html/beginner" title="Learn beginner HTML">HTML Beginner Tutorial</a>
    </li>
    <li>
      <a href="http://www.w3schools.com/html/html_intro.asp" title="Learn beginner HTML from w3schoolsw">w3schools HTML Intro</a>
    </li>
    <li>
      <a href="http://codepupil.com/" title="Learn from games">CodePupil.com teaches with games</a>
    </li>
    <li>
      <a href="http://www.codecademy.com/tracks/web" title="online lessons">Online lessons at Codecademy.com</a>
    </li>
  </ul>
	
</div> <!-- end .content -->
{% endblock %}