<h2>Change Credit Card</h2>
<p>This allows you to change your currently stored credit card. You will be charged at the regular monthly cycle.</p>

<div id="plan_error" class="alert alert-block alert-error" style="display:none"></div>
<form id="upgradeForm" method="POST" action="/settings/update_card">
  <%== csrf_token_input_html %>
  <input type="hidden" value="supporter" name="plan_type">
  <input id="stripe_token" name="stripe_token" type="hidden" value="<%= params[:stripe_token] %>">
  <%== erb :'_card'%>
  <div id="upgradeDiv" class="row content txt-Center">
    <a href="/" class="btn-Action" onclick="$('#upgradeForm').submit(); return false">Update Card</a>
  </div>
</form>

<%== erb :'supporter/_signupcode', layout: false %>