<h2>Code Editor Settings</h2>
<form method="POST" action="/settings/change_editor_settings">
  <%== csrf_token_input_html %>

  <p>
    Enable Code Suggestions:
    <input name="autocomplete_enabled" type="hidden" value="false">
    <input name="autocomplete_enabled" type="checkbox" value="true"
      <% if current_site.owner.autocomplete_enabled %>
        checked
      <% end %>
    >
  </p>
  <p>
    Editor Font Size:
    <select name="editor_font_size">
      <option value="12" <% if current_site.owner.editor_font_size == 12 %>selected<% end %>>Small</option>
      <option value="14" <% if current_site.owner.editor_font_size == 14 %>selected<% end %>>Medium</option>
      <option value="18" <% if current_site.owner.editor_font_size == 18 %>selected<% end %>>Large</option>
    </select> 
  </p>

  <div>
    <input class="btn-Action" type="submit" value="Update Editor Settings">
  </div>
</form>

