<h2>Change Password</h2>
<form method="POST" action="/settings/change_password">
  <%== csrf_token_input_html %>

  <p>Current Password:</p>
  <input class="input-Area" name="current_password" type="password">

  <p>New Password:</p>
  <input class="input-Area" name="new_password" type="password">

  <p>Confirm New Password:</p>
  <input class="input-Area" name="new_password_confirm" type="password">

  <input class="btn-Action" type="submit" value="Change Password">
</form>