<h2>Neocities Plan</h2>
<% if current_site.supporter? && !current_site.plan_ended %>
  <p class="tiny">You currently have the <strong>Supporter Plan (<%= current_site.maximum_space.to_space_pretty %>)</strong>. Thank you! We love you.
  </p>
  <a class="btn-Action" href="/plan">Manage Plan</a>
<% else %>
  <p class="tiny">
    You currently have the <strong>Free Plan (<%= current_site.maximum_space.to_space_pretty %>)</strong>.<br>Want to get more space and help Neocities? Become a supporter!
  </p>
  <a class="btn-Action" href="/plan">Supporter Info</a>
<% end %>