<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Email Unsubscribe</h1>
  </div>
</div>

<div class="content single-Col misc-page">
  <article>
    <%= @message %>
  </article>
</div>