// ----------------------------------------------------------------
//		Basic Setups for Navigation Elements
// ----------------------------------------------------------------

nav{
	ul, 
	ol{
	  @extend .clearfix;
	  list-style:none; 
	  margin:0; 
	  padding:0;
	}
	
	li{margin:0}
	
	a{
	  display:inline-block;
	  padding:$spacing $spacing*2; 
	  text-decoration:underline;
	  
		&:hover{
		  text-decoration:none;
  	}

	}
}
