// ----------------------------------------------------------------
//		Basic Styling: List Elements
// ----------------------------------------------------------------

// Ordered/Unordered lists
ol, ul{
  margin:0 0 $spacing*2; 
  padding:0 0 0 $spacing*6;
  
	> li:last-child{margin-bottom:0} // Kill double bottom margin
	li ol, li ul{margin-top:$spacing*2} // keep equal spacing li content followed by lists within lists
	li li{font-size:1em} // Keeps same font-size as parent <li>
}

// Definition Lists
dt{@extend %margin-bottom;}
dd{
  margin:0 0 $spacing*2; 
  padding-left:$spacing*4
}