<h2>Custom Domain</h2>
<h3 class="subtitle">Add your own domain name to your Neocities site</h3>

<p>
  Adding a custom domain allows you to have a domain name attached to your web site. So if you had a domain like <strong>catsknitting.com</strong>, you could have it point to your Neocities site.
</p>

<p>
  You will have to purchase a domain name from a registrar like <a href="http://www.namecheap.com/?aff=87835" target="_blank">Namecheap</a> first. We are working on providing domain purchasing from Neocities in the future, but in general it is best if you own the domain, because then you control your site.
</p>

<% if current_site.custom_domain_available? %>
  <p>
    We will be using <strong>catsknitting.com</strong> for the examples below.
  </p>


  <h3>Step 1</h3>
  <p>
    First, you need to add an "A record" to point your root domain (sometimes shown with an @ symbol) (catsknitting.com) to the following IP address:
  </p>

  <p><code>198.51.233.1</code></p>

  <h3>Step 2 (optional)</h3>

  <p>
    Now you need to add an "AAAA record" that also points to your root domain. This is for IPv6 support. Use this address for the AAAA record:
  </p>

  <p><code>2620:2:6000::bad:dab:cafe</code></p>

  <h3>Step 3</h3>

  <p>
    Add the domain name to the box below (just the <strong>catsknitting.com</strong>, don't add any subdomains), and your domain should come online within 5 minutes!
  </p>

  <form method="POST" action="/settings/<%= @site.username %>/custom_domain">
    <%== csrf_token_input_html %>
    <input name="domain" type="text" placeholder="catsknitting.com" value="<%= @site.domain %>">
    <br>
    <input class="btn-Action" type="submit" value="Update Domain">
  </form>
<% else %>
  <strong>Custom domains require a Supporter account. <a href="/supporter">Upgrade now</a>.</strong>
<% end %>
