<h2>Delete Site</h2>
<div>
  <% if @site.parent? && @site.children_dataset.where(is_deleted: false).count > 0 %>
    <p>
      You cannot delete the parent site without deleting the children sites first.
    </p>
  <% else %>
    <form method="POST" action="/settings/<%= @site.username %>/delete">
      <%== csrf_token_input_html %>
      <p>
        <strong style="color: red; font-size: 30pt">WARNING</strong>
        <ul style="text-align: left">
          <li>
            This will delete your site <strong><%= @site.username %> (<%= @site.host %>)</strong>.
          </li>

          <% if @site.parent? %>
            <li>
              <strong style="color: red;">You will not be able to use your email address to register a new Neocities account after deleting this one.</strong>
            </li>
          <% end %>

          <li>
            <strong style="color: red;">You will not be able to create a site again with this same username.</strong>
          </li>

          <li>
            We can't reverse any of this via our contact form for security reasons.
          </li>

          <li>
            There is no undo! Be very sure you want to do this.
          </li>
        </ul>
      </p>

      <% if @site.parent? %>
        <p>
          <label for="deleted_reason">We're sorry to see you go. What's the reason you're deleting your site?</label>
           <textarea name="deleted_reason"></textarea>
        </p>
      <% end %>

      <p>
        <label for="confirm_username">Enter your user/site name to confirm deletion:</label>
        <input name="confirm_username" type="text">.neocities.org
      </p>

      <input class="btn-Action" type="submit" value="Delete Site">
    </form>
  <% end %>
</div>
