<h2>Site Profile</h2>
<div>
  <form method="POST" action="/settings/<%= @site.username %>/profile">
    <%== csrf_token_input_html %>
    <p>
      <input name="site[profile_comments_enabled]" type="hidden" value="true">
      <input name="site[profile_comments_enabled]" type="checkbox" value="false"
        <% if @site.profile_comments_enabled == false %>checked<% end %>
      > Disable Site Profile Comments
    </p>

    <p>
      <input name="site[profile_enabled]" type="hidden" value="true">
      <input name="site[profile_enabled]" type="checkbox" value="false"
        <% if @site.profile_enabled == false %>checked<% end %>
      > Disable Site Profile
    </p>
    <input class="btn-Action" type="submit" value="Update Site Profile Settings">
  </form>
</div>
