<h2>Change Site (User) Name</h2>
<form method="POST" action="/settings/<%= @site.username %>/change_name">
  <%== csrf_token_input_html %>
  <p class="tiny">
    <strong>Warning:</strong>  It is very damaging to change your site name after it is already established, as this breaks search engine links to your site and will reduce your amount of site visitors. Unless you made a typo when editing your site, you really don't want to do this!
  </p>
  <p class="tiny">
    It cannot contain spaces, cannot start or end with a hyphen (-), and can only use the following characters: a-z A-Z 0-9 -
  </p>

  <p>
    Current Name:
    <span style="color: green"><strong><%= @site.username %></strong></span>
  </p>

  <p>
    New name:
    <input name="name" class="input-Area" type="text" placeholder="newname" style="width: 200px">
  </p>

  <input class="btn-Action" type="submit" value="Change Name">
</form>
