<h2>Change Site (User) Name</h2>
<form method="POST" action="/settings/<%= @site.username %>/change_name">
  <%== csrf_token_input_html %>
  <p class="tiny">
    <strong>Warning: It is not advised to change your username</strong>, as this breaks search engines and will reduce the amount of visitors to your site.
  </p>
  <p class="tiny">
    It cannot contain spaces, and can only use the following characters: a-z A-Z 0-9 _ -
  </p>

  <p>
    Current Name:
    <span style="color: green"><strong><%= @site.username %></strong></span>
  </p>

  <p>
    New name:
    <input name="name" class="input-Area" type="text" placeholder="newname" style="width: 200px">
  </p>

  <input class="btn-Action" type="submit" value="Change Name">
</form>
