<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Mount your site</h1>
  <h3 class="subtitle">Access your Neocities site as a drive on your computer</h3>
  </div>
</div>

<div class="content single-Col misc-page">
  <article>
    <h1>About</h1>

    <p>
      Neocities supports <strong>WebDAV</strong>, which allows you to mount your Neocities share on your computer, or use a client on your computer to manage your site.
    </p>

    <% if current_site.nil? || !current_site.supporter? %>
      <p>
        This feature requires a <a href="/supporter">supporter account</a>.
      </p>
    <% else %>
      <h2>Instructions</h2>

      <p>
        Due to the variable quality of other WebDAV clients, we strongly recommend using <a href="https://cyberduck.io">Cyberduck</a> or <a href="https://winscp.net/eng/index.php">WinSCP</a> for a WebDAV client, or <a href="https://mountainduck.io/">Mountain Duck</a> for mounting the site as a hard drive on your computer, and may not be able to provide support for other clients.
      </p>

      <h4>Cyberduck</h4>
      <p>
        In Cyberduck, click "Open Connection", select "WebDAV (HTTPS), add neocities.org, username, and password. Then click "More Options", and add <code>/webdav</code> for the path.
        <br>
        <img src="/img/webdav/cyberduck.png" style="width: 30em;">
      </p>

      <h4>WinSCP</h4>
      <p>
        When creating a connetion, choose "WebDAV" for protocol, select "SSL" for encryption, then enter neocities.org for server name, port 443, username and password. Before connecting, click "Advanced", select "Directories" and add <code>/webdav</code> to the Remote directory input.
        <br><br>
        <img src="/img/webdav/winscp1.png" style="width: 30em;"><br><br><img src="/img/webdav/winscp2.png" style="width: 30em";>
      </p>

      <h3>Linux (GUI)</h3>

      <p>
        <ol>
          <li>Open Nautilus.</li>
          <li>Press CTRL-L to show the location bar.</li>
          <li>Type <code>davs://neocities.org/webdav</code> into location bar.</li>
          <li>Enter your login into the popup.</li>
        </ol>
      </p>

      <h4>Linux (command line)</h4>
      <p><a href="https://manpages.ubuntu.com/manpages/en/man1/cadaver.1.html">cadaver</a> is an excellent command line client for WebDAV and is available through apt with Ubuntu.

      <h4>Linux (mount as filesystem)</h4>

      <p>
        To mount the WebDAV as a folder in your filesystem use the <a href="https://savannah.nongnu.org/projects/davfs2">davfs2</a> package.
      </p>

      <h2>Accessing multiple sites</h2>

      <p>
        By default you can use your username/password combination to access your parent site via WebDAV. In case you want to access your child sites with WebDAV, you only need to use the site's subdomain name as the username (with the same password for your parent account).
      </p>
    <% end %>
  </article>
</div>
