<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Mount your site</h1>
  <h3 class="subtitle">Access your Neocities site as a drive on your computer</h3>
  </div>
</div>

<div class="content single-Col misc-page">
  <article>
    <h1>About</h1>

    <p>
      Neocities supports <strong>WebDAV</strong>, which allows you to mount your Neocities share on your computer.
    </p>

    <% if current_site.nil? %>
      <p>
        This feature requires a supporter account.
      </p>
    <% elsif !current_site.supporter? %>
      <p>
        This feature requires a supporter account. <a href="/supporter">Click here</a> to become a supporter.
      </p>
    <% else %>
      <h2>Instructions for Windows</h2>

      <p>
        Unfortunately, the WebDAV that comes with Windows file manager has issues with SSL,
        and the problem has not yet been fixed. We recommend using a client like <a href="https://cyberduck.io">Cyberduck</a> with Windows, which is free and has
        WebDAV support. You can also try <a href="https://mountainduck.io/">Mountain Duck</a>
        which will allow you to mount your Neocities site as a hard drive on your computer.

      <h2>Instructions for OSX</h2>

      <p>
        <a href="http://support.apple.com/kb/ph3857">Use these instructions</a>, and use this URL to connect: <strong>https://neocities.org/webdav</strong>
        <br>
        Enter login info when requested.
      </p>

      <p>
        You can also try out <a href="https://cyberduck.io">Cyberduck</a> or <a href="https://mountainduck.io/">Mountain Duck</a> if you run into any issues.
      </p>

      <h2>Instructions for Linux (Ubuntu)</h2>

      <p>
        <ol>
          <li>Open Nautilus.</li>
          <li>Press ALT-L to show the location bar.</li>
          <li>Type davs://neocities.org/webdav into location bar.</li>
          <li>Enter your login into the popup.</li>
        </ol>
      </p>

      <h2>Instructions for Linux (command line)</h2>

      <p>
        For command line, use the <a href="http://johnreid.it/2009/09/26/mount-a-webdav-folder-in-ubuntu-linux/">davfs2</a> package.
      </p>
    <% end %>
  </article>
</div>
