<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Mount your site</h1>
  <h3 class="subtitle">Now you can access your Neocities site as a drive on your computer!</h3>
  </div>
</div>

<div class="content single-Col misc-page">
  <article>
    <h1>About</h1>

    <p>
      Neocities now supports <strong>WebDAV</strong>, which allows you to mount your Neocities share on your computer. Now you can access and change your files on your own computer's file manager!
    </p>

    <% if current_site.nil? %>
      <p>
        This feature requires a supporter account.
      </p>
    <% elsif !current_site.supporter? %>
      <p>
        This feature requires a supporter account. <a href="/plan">Click here</a> to become a supporter.
      </p>
    <% else %>
      <h2>Instructions for Windows 7</h2>

      <p>
        <a href="http://www.onemetric.com.au/Documentation/Mounting-A-WebDAV-Share-Windows-7">Use these instructions</a>, except use this URL to connect: <strong>https://neocities.org/webdav</strong>
        <br>
        Enter your login info when requested.
      </p>

      <h2>Instructions for OSX</h2>

      <p>
      <a href="http://support.apple.com/kb/ph3857">Use these instructions</a>, and use this URL to connect: <strong>https://neocities.org/webdav</strong>
      <br>
      Enter login info when requested.
      </p>

      <h2>Instructions for Linux (Ubuntu)</h2>

      <p>
        <ol>
          <li>Open Nautilus.</li>
          <li>Press ALT-L to show the location bar.</li>
          <li>Type davs://neocities.org/webdav into location bar.</li>
          <li>Enter your login into the popup.</li>
        </ol>
      </p>

      <h2>Instructions for Linux (command line)</h2>

      <p>
        For command line, use the <a href="http://johnreid.it/2009/09/26/mount-a-webdav-folder-in-ubuntu-linux/">davfs2</a> package.
      </p>
    <% end %>
  </article>
</div>