<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Mount your site</h1>
  <h3 class="subtitle">Access your Neocities site as a drive on your computer</h3>
  </div>
</div>

<div class="content single-Col misc-page">
  <article>
    <h1>About</h1>

    <p>
      Neocities supports <strong>WebDAV</strong>, which allows you to mount your Neocities share on your computer.
    </p>

    <% if current_site.nil? %>
      <p>
        This feature requires a supporter account.
      </p>
    <% elsif !current_site.supporter? %>
      <p>
        This feature requires a supporter account. <a href="/supporter">Click here</a> to become a supporter.
      </p>
    <% else %>
      <h2>Instructions per operating system</h2>

      <h3>Windows</h3>

      <p>
        Unfortunately, the WebDAV that comes with Windows file manager has issues with SSL,
        and the problem has not yet been fixed. We recommend using a client like <a href="https://cyberduck.io">Cyberduck</a> or <a href="https://winscp.net">WinSCP</a> with Windows, which is free and has
        WebDAV support. You can also try <a href="https://mountainduck.io/">Mountain Duck</a>
        which will allow you to mount your Neocities site as a hard drive on your computer.
      </p>

      <h3>MacOS</h3>

      <p>
        <a href="https://support.apple.com/en-us/guide/mac-help/connect-to-a-webdav-server-mchlp1546/mac">Use these instructions</a>, and use this URL to connect: <strong>https://neocities.org/webdav</strong>
        <br>
        Enter login info when requested.
      </p>

      <p>
        You can also try out <a href="https://cyberduck.io">Cyberduck</a> or <a href="https://mountainduck.io/">Mountain Duck</a> if you run into any issues.
      </p>

      <h3>Linux (Gnome)</h3>

      <p>
        <ol>
          <li>Open Nautilus.</li>
          <li>Press CTRL-L to show the location bar.</li>
          <li>Type <code>davs://neocities.org/webdav</code> into location bar.</li>
          <li>Enter your login into the popup.</li>
        </ol>
      </p>

      <h4>Linux (mount as filesystem)</h4>

      <p>
        To mount the WebDAV as a folder in your filesystem use the <a href="https://savannah.nongnu.org/projects/davfs2">davfs2</a> package.
      </p>

      <h2>Accessing multiple sites</h2>

      <p>
        By default you can use your username/password combination to access your parent site via WebDAV (This is <code><%= current_site.parent? ? current_site.username : current_site.parent.username %></code>). In case you want to access any other sites you only need to use the site's subdomain name as the username (with the same password for your account).
      </p>

      <p>
        You can see a list of your sites in <a href="/settings">your settings page</a>.
      </p>

    <% end %>
  </article>
</div>
