// ----------------------------------------------------------------
//		HTML5 Elements that need some additional loving
// ----------------------------------------------------------------

// Give HTML5 elements block display, which is not defined in ie8/9
article, aside, details, figure, figcaption, footer,
header, main, nav, section, summary{display:block}

// Makes hidden actually [hidden] in IE 8/9
[hidden]{display:none}
